---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=St%20Albans&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"St Albans\",\n
        \              \"short_name\" : \"St Albans\",\n               \"types\" :
        \n               [\n                  \"locality\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"St Albans\",\n               \"short_name\" : \"St Albans\",\n               \"types\"
        : \n               [\n                  \"postal_town\"\n               ]\n
        \           },\n            {\n               \"long_name\" : \"Hertfordshire\",\n
        \              \"short_name\" : \"Hertfordshire\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"England\",\n               \"short_name\"
        : \"England\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United Kingdom\",\n               \"short_name\"
        : \"GB\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"St Albans, UK\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 51.7760986,\n                  \"lng\"
        : -0.2569791\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 51.7183527,\n                  \"lng\" : -0.3716195\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 51.7508784,\n               \"lng\" : -0.3397723\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 51.7760986,\n                  \"lng\" : -0.2569791\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 51.7183527,\n                  \"lng\" : -0.3716195\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJCcmT56A4dkgRWUCmRoCE7HE\",\n
        \        \"types\" : \n         [\n            \"locality\",\n            \"political\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Fri, 02 Oct 2026 11:04:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=st%20albans&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\[...]
