@use "govuk-frontend/dist/govuk/helpers";

.search {
  color: helpers.govuk-colour('white');

  @include helpers.govuk-media-query($until: tablet) {
    background: url('/TVS-logo.png') no-repeat 100% 10px/120px auto helpers.govuk-functional-colour('brand');
    padding: helpers.govuk-spacing(4);

    h1 {
      padding-right: 100px;
    }

    .govuk-button {
      margin-bottom: 0;
      margin-top: helpers.govuk-spacing(4);
    }
  }

  @include helpers.govuk-media-query($from: tablet) {
    background: url('/TVS-logo.png') no-repeat 100% 10px/150px auto helpers.govuk-functional-colour('brand');
    padding: helpers.govuk-spacing(6);

    h1 {
      padding-right: 150px;
    }

    .govuk-button,
    .govuk-form-group {
      align-self: flex-end;
      margin: 0;
    }
  }

  .govuk-label,
  .govuk-hint,
  .govuk-link,
  h1,
  h2 {
    color: helpers.govuk-colour('white');
  }

  .govuk-hint {
    display: none;
  }

  h2 {
    margin-bottom: helpers.govuk-spacing(2);
    margin-top: helpers.govuk-spacing(2);
  }

  &__form {
    @include helpers.govuk-media-query($from: tablet) {
      align-items: end;
      column-gap: helpers.govuk-spacing(4);
      display: flex;

      >div {
        width: 33.33%;
      }
    }

    .autocomplete__menu {
      @include helpers.govuk-media-query($from: desktop) {
        position: absolute;
      }
    }

    >div:last-child {
      align-items: center;
      display: flex;
    }
  }

  &__popular {
    display: flex;
    flex-wrap: wrap;

    .govuk-link {
      margin-right: helpers.govuk-spacing(2);
    }
  }
}
