= tag.div(**html_attributes) do
  = open_in_new_tab_link_to "#{supporting_document.filename} - #{document_size}", job_document_path(supporting_document.record, supporting_document), class: "supporting-document-component__link"
