= tag.div(class: classes, **html_attributes) do
  = govuk_link_to supporting_document.blob.filename, document_path(supporting_document), target: "_blank", class: "supporting-document-component__link"
  = document_size
