= f.govuk_text_field :institution, label: { size: "s" }, aria: { required: true }, width: "three-quarters"

= f.govuk_text_field :name, label: { size: "s" }, aria: { required: true }, width: "two-thirds"

= f.govuk_number_field :year, label: { size: "s" }, aria: { required: true }, width: 4

= render "jobseekers/qualifications/fields/subjects_and_grades", f: f
