// Typography
$small-font-size: 0.9em;
$large-font-size: 1.2em;
$bold-font-weight: 700;
$regular-font-weight: 500;

// Colours
$warning-color: govuk-colour('blue');

// Breakpoints
$large-screen: 1300px;
$big-screen: 1024px;
$medium-screen: 900px;
$small-screen: 768px;
$smaller-screen: 520px;
$tiny-screen: 480px;

// Borders
$thick-border: 5px;

$desktop-container-width: 1200px;
