---
http_interactions:
- request:
    method: post
    uri: https://teachingjobs.zendesk.com/api/v2/requests
    body:
      encoding: UTF-8
      string: '{"request":{"requester":{"name":"User In-Need","email":"test@example.com"},"subject":"[Support
        request] Teaching Vacancies","comment":{"body":"Help!"}}}'
    headers:
      Authorization:
      - Basic jdkkJduWhnCCioLpWWnJiOw=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v10039
      Location:
      - https://teachingjobs.zendesk.com/api/v2/requests/20930.json
      X-Rate-Limit:
      - '400'
      X-Rate-Limit-Remaining:
      - '400'
      Etag:
      - W/"5dfec9fcefdffb2d7433588ea92c6ac2"
      X-Zendesk-Origin-Server:
      - classic-app-server-67c7f4d985-vd48s
      X-Zendesk-Zorg:
      - 'yes'
    body:
      encoding: UTF-8
      string: '{"request":{"url":"https://teachingjobs.zendesk.com/api/v2/requests/20930.json","id":20930,"status":"new","priority":"normal","type":null,"subject":"[Support
        request] Teaching Vacancies","description":"Help!","organization_id":null,"via":{"channel":"api","source":{"from":{},"to":{},"rel":null}},"custom_fields":[],"requester_id":389521004560,"collaborator_ids":[],"email_cc_ids":[],"is_public":true,"due_at":null,"can_be_solved_by_me":false,"created_at":"2021-10-21T13:06:15Z","updated_at":"2021-10-21T13:06:15Z","recipient":null,"followup_source_id":null,"assignee_id":null,"fields":[]}}'
  recorded_at: Thu, 21 Oct 2021 13:06:17 GMT
recorded_with: VCR 6.0.0
