---
http_interactions:
- request:
    method: post
    uri: https://becomingateacher.zendesk.com/api/v2/requests
    body:
      encoding: UTF-8
      string: '{"request":{"comment":{"body":"Help!","uploads":[]},"requester":{"name":"User
        In-Need","email":"antoine_williamson@contoso.com"},"subject":"[Support request]
        Teaching Vacancies"}}'
    headers:
      Authorization:
      - "<BASIC_AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v25035
      Location:
      - https://becomingateacher.zendesk.com/api/v2/requests/632504.json
      X-Rate-Limit:
      - '700'
      Ratelimit-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '700'
      Ratelimit-Remaining:
      - '700'
      Ratelimit-Reset:
      - '37'
      Zendesk-Ratelimit-Anonymous-Requests:
      - total=5; remaining=3; resets=1418
      Etag:
      - W/"5ddd8039bf6f7b1e7cd5c2acad362209"
      X-Zendesk-Origin-Server:
      - classic-app-server-56894799dc-f4rkw
      Zendesk-Service:
      - classic
      X-Zendesk-Api-Gateway:
      - 'yes'
      X-Zendesk-Zorg:
      - 'yes'
    body:
      encoding: UTF-8
      string: '{"request":{"url":"https://becomingateacher.zendesk.com/api/v2/requests/632504.json","id":632504,"status":"new","priority":"normal","type":null,"subject":"[Support
        request] Teaching Vacancies","description":"Help!","organization_id":null,"via":{"channel":"api","source":{"from":{},"to":{},"rel":null}},"custom_fields":[],"requester_id":43737634070033,"collaborator_ids":[],"email_cc_ids":[],"is_public":true,"due_at":null,"can_be_solved_by_me":false,"created_at":"2026-02-11T09:36:23Z","updated_at":"2026-02-11T09:36:23Z","recipient":null,"followup_source_id":null,"assignee_id":null,"ticket_form_id":360000137032,"custom_status_id":5765737,"fields":[]}}'
  recorded_at: Wed, 11 Feb 2026 09:36:23 GMT
recorded_with: VCR 6.4.0
