---
http_interactions:
- request:
    method: post
    uri: https://becomingateacher.zendesk.com/api/v2/requests
    body:
      encoding: UTF-8
      string: '{"request":{"comment":{"body":"Help!","uploads":[]},"requester":{"name":"User
        In-Need","email":"tiffiny.strosin@contoso.com"},"subject":"[Support request]
        Some page"}}'
    headers:
      Authorization:
      - "<BASIC_AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v25035
      Location:
      - https://becomingateacher.zendesk.com/api/v2/requests/632503.json
      X-Rate-Limit:
      - '700'
      Ratelimit-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '700'
      Ratelimit-Remaining:
      - '700'
      Ratelimit-Reset:
      - '38'
      Zendesk-Ratelimit-Anonymous-Requests:
      - total=5; remaining=4; resets=1419
      Etag:
      - W/"bdf0596821e62aef8f34e75ea734451f"
      X-Zendesk-Origin-Server:
      - classic-app-server-56894799dc-wcpqv
      Zendesk-Service:
      - classic
      X-Zendesk-Api-Gateway:
      - 'yes'
      X-Zendesk-Zorg:
      - 'yes'
    body:
      encoding: UTF-8
      string: '{"request":{"url":"https://becomingateacher.zendesk.com/api/v2/requests/632503.json","id":632503,"status":"new","priority":"normal","type":null,"subject":"[Support
        request] Some page","description":"Help!","organization_id":null,"via":{"channel":"api","source":{"from":{},"to":{},"rel":null}},"custom_fields":[],"requester_id":43737581157905,"collaborator_ids":[],"email_cc_ids":[],"is_public":true,"due_at":null,"can_be_solved_by_me":false,"created_at":"2026-02-11T09:36:22Z","updated_at":"2026-02-11T09:36:22Z","recipient":null,"followup_source_id":null,"assignee_id":null,"ticket_form_id":360000137032,"custom_status_id":5765737,"fields":[]}}'
  recorded_at: Wed, 11 Feb 2026 09:36:22 GMT
recorded_with: VCR 6.4.0
