---
http_interactions:
- request:
    method: post
    uri: https://becomingateacher.zendesk.com/api/v2/requests
    body:
      encoding: UTF-8
      string: '{"request":{"comment":{"body":"Help!","uploads":[]},"requester":{"name":"User
        In-Need","email":"alonzo@contoso.com"},"subject":"[Support request] Teaching
        Vacancies"}}'
    headers:
      Authorization:
      - "<BASIC_AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v25011
      Location:
      - https://becomingateacher.zendesk.com/api/v2/requests/631759.json
      X-Rate-Limit:
      - '700'
      Ratelimit-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '700'
      Ratelimit-Remaining:
      - '700'
      Ratelimit-Reset:
      - '21'
      Etag:
      - W/"b0f61ca1ecaea5a9175b9c29c656f226"
      X-Zendesk-Origin-Server:
      - classic-app-server-766dc7f84b-7xpqr
      Zendesk-Service:
      - classic
      X-Zendesk-Api-Gateway:
      - 'yes'
      X-Zendesk-Zorg:
      - 'yes'
    body:
      encoding: UTF-8
      string: '{"request":{"url":"https://becomingateacher.zendesk.com/api/v2/requests/631759.json","id":631759,"status":"new","priority":"normal","type":null,"subject":"[Support
        request] Teaching Vacancies","description":"Help!","organization_id":null,"via":{"channel":"api","source":{"from":{},"to":{},"rel":null}},"custom_fields":[],"requester_id":43659615130257,"collaborator_ids":[],"email_cc_ids":[],"is_public":true,"due_at":null,"can_be_solved_by_me":false,"created_at":"2026-02-09T08:55:39Z","updated_at":"2026-02-09T08:55:39Z","recipient":null,"followup_source_id":null,"assignee_id":null,"ticket_form_id":360000137032,"custom_status_id":5765737,"fields":[]}}'
  recorded_at: Mon, 09 Feb 2026 08:55:39 GMT
recorded_with: VCR 6.4.0
