p class="govuk-!-margin-bottom-6"
  = govuk_link_to "Add qualification", select_category_jobseekers_profile_qualifications_path

= render "jobseekers/qualifications/qualifications", qualifications: profile.qualifications
