version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    ignore:
      # TODO: Remove this ignore config once moved to a Redis v6.2+ instance in AKS.
      # The version is currently pinned to <7. We're unable to upgrade sidekiq as it requires out Redis service
      # instance to be 6.2+ https://github.com/sidekiq/sidekiq/blob/main/docs/7.0-Upgrade.md#version-support.
      # Our current Redis service instance is 6.0 on Azure .
      - dependency-name: "sidekiq"
        update-types: ["version-update:semver-major"]

      # TODO: Remove this ignore config once moved to a Redis v6.2+ instance in AKS.
      # The version is currently pinned to <5 by sidekiq (version 6.5.8).
      # It seems this pin is removed by later sidekiq versions, but we're unable to upgrade sidekiq as it requires out
      # Redis service instance to be 6.2+ https://github.com/sidekiq/sidekiq/blob/main/docs/7.0-Upgrade.md#version-support.
      # Our current Redis service instance is 6.0 on Azure.
      - dependency-name: "redis"
        update-types: ["version-update:semver-major"]
    groups:
      gem-dependencies:
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"
        exclude-patterns:
          - "govuk*"
          - "noticed"
          - "rubocop*"
      govuk:
        patterns:
          - "govuk*"
      rubocop:
        patterns:
          - "rubocop*"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
    open-pull-requests-limit: 2

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "thursday"
    open-pull-requests-limit: 2
    labels:
    - devops
    - dependencies
    - github-actions

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
    open-pull-requests-limit: 10
    groups:
      npm-dependencies:
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"
        exclude-patterns:
          - "govuk*"
