config/application.yml
config/localhost/https/*.key
config/localhost/https/*.crt
buildspec.yml
docker-compose.*
.dockerignore
Dockerfile
dotenv.sample
.editorconfig
.env
.git*
LICENSE
log
node_modules
*.tf
README.md
terraform
tmp
vendor
workspace-variables
