# .dockerignore applies to the builder target too
# therefore we can't exclude files such as `package.json` required in the build stage

# Ignore git folders
.dependabot/*
.git/
.github/
.gitignore
PULL_REQUEST_TEMPLATE

# Ignore package folders
/node_modules/*
/gem/*

# using Yarn, so ignore package-lock.json
package-lock.json

# Ignore terraform files
terraform/*
*.tf
*.tfvar*

# Ignore Makefile
Makefile

#.env files
dotenv*
**/**/cf-vars*.yml

config/application.yml
config/localhost/https/*.key
config/localhost/https/*.crt

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
*.gem
*.rdb
*.sample
*.example
/.config
/InstalledFiles
/pkg/
/spec/*
/test/tmp/
/test/version_tmp/
/tmp/

# Ignore development settings
.browserslistrc
.cfignore
.editorconfig
.rubocop.yml
.stylelintrc.json
.tool-versions

# Ignore BigQuery
bigquery/*

# Ignore documentation
documentation/*
LICENSE
README.md

# Ignore Docker files
.dockerignore
Dockerfile
docker-compose*
testspec.yml
