GOOGLE_MAPS_API_KEY=
ELASTICSEARCH_URL=http://elasticsearch:9200
DATABASE_URL=postgres://postgres@db:5432/tvs_development?template=template0&pool=5&encoding=unicode
REDIS_URL=redis://redis:6379
AAD_CLIENT_ID=
AAD_TENANT=
DFE_SIGN_IN_ISSUER=
DFE_SIGN_IN_REDIRECT_URL=
DFE_SIGN_IN_IDENTIFIER=
DFE_SIGN_IN_SECRET=
