RAILS_MAX_THREADS=5
GOOGLE_MAPS_API_KEY=
REDIS_QUEUE_URL=redis://redis_queue:6379
REDIS_CACHE_URL=redis://redis_cache:6379
DFE_SIGN_IN_ISSUER=
DFE_SIGN_IN_REDIRECT_URL=
DFE_SIGN_IN_IDENTIFIER=
DFE_SIGN_IN_SECRET=
GOOGLE_GEOCODING_API_KEY=
ORDNANCE_SURVEY_API_KEY=
PP_TRANSACTIONS_BY_CHANNEL_TOKEN=
GOOGLE_API_JSON_KEY=
GOOGLE_ANALYTICS_PROFILE_ID=
NOTIFY_KEY=
NOTIFY_SUBSCRIPTION_CONFIRMATION_TEMPLATE=
NOTIFY_SUBSCRIPTION_DAILY_TEMPLATE=
NOTIFY_PROMPT_FEEDBACK_FOR_EXPIRED_VACANCIES=
SUBSCRIPTION_KEY_GENERATOR_SECRET=10dc5b4d246466a71aeb9fd87a41207b6ec77a38096cf3f5a0948981f5c873a9f7cd1c3444cfc7cdc8e2b37dbabfc31e0c35a597f552e683eb471555e8c75834
SUBSCRIPTION_KEY_GENERATOR_SALT=fc811c17d10be2aa5467237eef8cb8c8f6edb493fcc120c1b9e2db67159cce073398d660167370c24d5eadab56ee93ba15f72e3824ada843e43232ec31640393
FEATURE_EMAIL_ALERTS=true
DFE_SIGN_IN_URL=https://signin-test-papi-as.azurewebsites.net
DFE_SIGN_IN_PASSWORD=
DFE_SIGN_IN_SERVICE_ACCESS_ROLE_ID=9DD4BC2B-EDD1-460F-A6D5-DD512F5C8ED9
DFE_SIGN_IN_SERVICE_ID=e348f7d4-93d9-4b43-9b78-c84d80c2f34c
BIG_QUERY_API_JSON_KEY=
BIG_QUERY_DATASET=
CLOUD_STORAGE_API_JSON_KEY=
CLOUD_STORAGE_BUCKET=
GOOGLE_CLOUD_PLATFORM_PROJECT_ID=
FEATURE_SIGN_IN_ALERT=true
ALGOLIA_APP_ID=
ALGOLIA_WRITE_API_KEY=
ALGOLIA_SEARCH_API_KEY=
DOMAIN=
