GOOGLE_MAPS_API_KEY=
ELASTICSEARCH_URL=http://elasticsearch:9200
DATABASE_URL=postgres://postgres@db:5432/tvs_development?template=template0&pool=5&encoding=unicode
OVERRIDE_SCHOOL_URN=
AAD_CLIENT_ID=
AAD_TENANT=
