version: '3'
services:
  web:
    build:
      context: .
      args:
        RAILS_ENV: "development"
    ports: ["3000:3000"]
    environment:
      RAILS_ENV: "development"
    env_file:
      - docker-compose.env
    depends_on:
      - db
      - elasticsearch
    tty: true
    stdin_open: true
    restart: on-failure
    volumes:
      - .:/srv/dfe-tvs:cached

  db:
    image: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data/:cached
    restart: on-failure

  elasticsearch:
    image: elasticsearch
    depends_on:
      - db
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - cluster.name=docker=docker-cluster
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data

volumes:
  pg_data: {}
  elasticsearch: {}
