/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin full-width-mast {
  left: 50%;
  margin-left: -50vw;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  width: 100vw;

  > .govuk-width-container {
    background-color: inherit;
  }
}
