.wordwrap {
  word-wrap: break-word;
}

.link-wrap {
  overflow-wrap: break-word;
  word-break: break-word;
}

.strong {
  font-weight: bold;
}

.display-none {
  display: none;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-button > .govuk-form-group {
  margin-bottom: 0;

  > input {
    margin-bottom: 0;
  }
}

.nobreak {
  white-space: nowrap;
}

strong,
b {
  font-weight: bold;
}

.text-red {
  color: govuk-colour('red');
  font-weight: bold;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-wrap-apostrophe {
  &::after,
  &::before {
    content: '\0027'
  }
}

.divider-bottom {
  border-bottom: 2px solid govuk-colour('light-grey');
  margin-bottom: $govuk-gutter;
}

.four-column-list {

  column-count: 4;
  @include govuk-media-query($until: tablet) {
    column-count: 2;
  }
}

.two-column-list {
  column-count: 2;
}

.govuk-form-group--error {
  select {
    border: 4px solid #d4351c;
  }
}
