input.button-as-link {
  background: none;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
  outline: inherit;
  padding: 0;
}

.wordwrap {
  word-wrap: break-word;
}

.link-wrap {
  overflow-wrap: break-word;
  word-break: break-word;
}

.strong {
  font-weight: bold;
}

.display-none {
  display: none;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-button > .govuk-form-group {
  margin-bottom: 0;

  > input {
    margin-bottom: 0;
  }
}

.nobreak {
  white-space: nowrap;
}

.visually-hidden {
  height: 1px;
  left: -9999em;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.hide-bullet-points {
  list-style: none;

  li {
    margin: 5px 0;
  }
}

.add-colon-positioned-next-to-element {
  position: relative;

  &::after {
    bottom: 10px;
    content: ':';
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    right: -13px;
  }
}

.text-red {
  color: govuk-colour('red');
  font-weight: bold;
}

.text-capitalize {
  text-transform: capitalize;
}

.divider-bottom {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: $govuk-gutter;
}

.four-column-list {

  column-count: 4;
  @include govuk-media-query($until: tablet) {
    column-count: 2;
  }
}

.two-column-list {
  column-count: 2;
}

.govuk-form-group--error {
  select {
    border: 4px solid #d4351c;
  }
}

.reversed-link {
  &:link {
    color: govuk-colour('white');
  }

  &:visited {
    color: govuk-colour('white');
  }
}

.govuk-link * {
  color: $govuk-link-colour;

  &:hover {
    color: $govuk-link-hover-colour;
  }
}

.button_to {
  .govuk-delete-link {
    @include govuk-font(16);

    background: none;
    border: 0;
    box-shadow: none;
    color: $govuk-link-colour;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
  }

  .govuk-delete-link:hover {
    color: $govuk-link-hover-colour;
  }

  .govuk-delete-link:focus {
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour !important;
    color: $govuk-focus-text-colour;
    outline: 3px solid transparent;
    text-decoration: none;
  }
}

.grouped-text-block {
  border: govuk-spacing(1) solid $govuk-border-colour;
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(3) govuk-spacing(3) 0;

  ul li {
    margin-bottom: 0;
  }
}

.grey-border-box {
  border: 5px solid govuk-colour('mid-grey');
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(5);

  &--thin {
    border: 1px solid govuk-colour('mid-grey');
    margin-bottom: govuk-spacing(5);
    padding: govuk-spacing(3);
  }
}

.js-action {
  display: none !important;
}

.js-enabled {
  .js-action {
    display: inherit !important;
  }

  .js-hidden {
    display: none !important;
  }
}

.formatable-textarea {
  min-height: 150px;
}

ul li + br,
ul > br {
  display: none;
}
