.wordwrap {
  word-wrap: break-word;
}

.link-wrap {
  overflow-wrap: break-word;
  word-break: break-word;
}

.strong {
  font-weight: bold;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.nobreak {
  white-space: nowrap;
}

.text-red {
  color: govuk-colour('red');
  font-weight: bold;
}

.text-capitalize {
  text-transform: capitalize;
}

.divider-bottom {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(4);
}

.two-column-list {
  column-count: 2;
}

.govuk-form-group--error {
  select {
    border: 4px solid $govuk-error-colour;
  }
}

.govuk-link * {
  color: $govuk-link-colour;

  &:hover {
    color: $govuk-link-hover-colour;
  }
}

.button_to {
  .govuk-delete-link {
    @include govuk-font(16);

    background: none;
    border: 0;
    box-shadow: none;
    color: $govuk-link-colour;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
  }

  .govuk-delete-link:hover {
    color: $govuk-link-hover-colour;
  }

  .govuk-delete-link:focus {
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour !important;
    color: $govuk-focus-text-colour;
    outline: 3px solid transparent;
    text-decoration: none;
  }
}

.grouped-text-block {
  border: govuk-spacing(1) solid $govuk-border-colour;
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(3) govuk-spacing(3) 0;

  ul li {
    margin-bottom: 0;
  }
}

.grey-border-box {
  border: govuk-spacing(1) solid govuk-colour('mid-grey');
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(5);

  &--thin {
    border: 1px solid govuk-colour('mid-grey');
    margin-bottom: govuk-spacing(5);
    padding: govuk-spacing(3);
  }
}

.heading--border-bottom {
  border-bottom: govuk-spacing(1) solid $govuk-border-colour;
  padding-bottom: govuk-spacing(2);
}

.js-action {
  display: none !important;
}

.js-enabled {
  .js-action {
    display: inherit !important;
  }

  .js-hidden {
    display: none !important;
  }
}
