.location-finder.govuk-body.js-action class="govuk-!-margin-top-1"
  =< govuk_link_to(t("jobs.search.use_current_location_html"), "#", class: "govuk-link--no-visited-state location-finder--hidden", data: { target: target, controller: "locationFinder", source: "getPostcodeFromCoordinates", action: "click->locationFinder#findLocation" })
