.js-location-finder__link.govuk-body-s
  | or
  =< govuk_link_to(t("jobs.filters.use_current_location"), "#", id: "current-location", class: "govuk-link--no-visited-state", data: { loader: loaderElement })
