= f.govuk_text_field :keyword,
  label: { text: t("jobs.search.keyword"), size: "s" },
  hint: { text: (@ect_job_alert ? t("jobs.search.keyword_ect_hint") : nil) },
  form_group: { classes: "keyword-text" }
