= f.govuk_text_field :location,
  label: { text: t("jobs.search.location"), size: "s" },
  hint: { text: t("jobs.search.location_hint"), size: "s" },
  class: %w[js-location-finder__input],
  form_group: { classes: "js-location-finder location-text govuk-!-margin-bottom-0" },
  "data-coordinates": @vacancies_search&.point_coordinates || @point_coordinates,
  "data-autocomplete-source": "getLocationSuggestions",
  "data-controller": "autocomplete"

.accessible-autocomplete__container
  #accessible-autocomplete.govuk-body class="govuk-!-margin-bottom-1"
