= f.govuk_collection_select :radius,
  radius_filter_options,
  :last,
  :first,
  label: { text: t("jobs.search.within_radius"), size: "s" },
  data: { "change-submit": "false" },
  form_group: { classes: "location-search__radius" },
  options: { selected: @form.radius || Search::LocationBuilder::DEFAULT_BUFFER_FOR_POLYGON_SEARCHES }
