= f.govuk_collection_select :radius,
  radius_filter_options,
  :last,
  :first,
  label: { text: t('jobs.filters.within_radius'), size: 's' },
  html_options: { class: 'govuk-!-width-full' },
  form_group_classes: "#{filters ? 'govuk-inset-text' : ''} location-radius-select location-radius-select-block"
