= f.govuk_collection_select :radius,
  radius_filter_options,
  :last,
  :first,
  label: { text: t("jobs.search.within_radius"), size: "s" },
  class: "govuk-!-width-#{wide ? 'full' : 'one-third'}",
  form_group: { classes: "location-radius-select" },
  options: { selected: @form.radius }
