= f.govuk_collection_select :radius,
  radius_filter_options,
  :last,
  :first,
  label: { text: t("jobs.search.within_radius"), size: "s" },
  class: %w[govuk-!-width-full],
  form_group: { classes: "#{wide ? 'govuk-inset-text' : ''} location-radius-select location-radius-select-block" }
