.govuk-footer {
  &__list {
    padding-bottom: govuk-spacing(7);
  }

  &__navigation {
    .govuk-footer__link {
      background: 0;
      border: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }
}
