.app-search-form-container {
  @include govuk-media-query($until: tablet) {
    background: url('../../images/TVS-logo.png') no-repeat 100% 10px/120px auto govuk-colour('dark-blue');
    padding: govuk-spacing(4);

    h1 {
      padding-right: 100px;
    }

    .govuk-button {
      margin-bottom: 0;
      margin-top: govuk-spacing(4);
    }
  }

  @include govuk-media-query($from: tablet) {
    background: url('../../images/TVS-logo.png') no-repeat 100% 10px/150px auto govuk-colour('dark-blue');
    padding: govuk-spacing(6);

    h1 {
      padding-right: 150px;
    }

    .govuk-button,
    .govuk-form-group {
      align-self: flex-end;
      margin: 0;
    }
  }

  .govuk-label,
  .govuk-hint,
  .govuk-link,
  h1,
  h3 {
    color: govuk-colour('white');
  }

  .govuk-hint {
    display: none;
  }

  h3 {
    margin-bottom: govuk-spacing(2);
    margin-top: govuk-spacing(2);
  }

  &__popular-searches {
    display: flex;
    flex-wrap: wrap;

    .govuk-link {
      margin-right: govuk-spacing(2);
    }
  }
}

.app-search-form-inner {
  @include govuk-media-query($from: tablet) {
    align-items: end;
    column-gap: govuk-spacing(4);
    display: flex;

    > div {
      width: 33.33%;
    }
  }

  .autocomplete__menu {
    @include govuk-media-query($from: desktop) {
      position: absolute;
    }
  }

  > div:last-child {
    align-items: center;
    display: flex;
  }
}

.home_index .govuk-main-wrapper {
  padding-top: govuk-spacing(2);
}
