.vacancies_index {
  .no-results {
    &__job-alert-link {
      &--organisation {
        @include govuk-font(19);
      
        font-weight: 700;
        padding-bottom: govuk-spacing(2);
      
        .govuk-link {
          text-decoration: none;
        }
      }
    }
  }

  .search-results {
    list-style: none;
    margin: 0;
    padding: 0;

    >li {
      border-bottom: 1px solid $govuk-border-colour;
      margin-bottom: $govuk-gutter-half;
      padding-bottom: $govuk-gutter-half;

      &:first-child {
        border-top: 1px solid $govuk-border-colour;
        padding-top: $govuk-gutter-half;
      }
    }
  }

  .search-results {
    dl {
      display: flex;

      dt {
        flex-basis: 30%;
      }

      dd {
        flex-basis: 70%;
      }
    }
  }

  .search-results-controls {
    background-color: govuk-colour('light-grey');
    padding: $govuk-gutter-half 0;

    @include govuk-media-query($from: desktop) {
      background-color: transparent;

      .govuk-grid-column-two-thirds-at-desktop {
        column-gap: $govuk-gutter-half;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include govuk-media-query($from: desktop) {
          flex-direction: row;
          flex-wrap: nowrap;
        }
      }

      .govuk-heading-m {
        display: none;
      }

      .autocomplete {
        flex-grow: 1;
      }

      >* {
        flex-grow: 1;
      }

      &__submit {
        flex-basis: 100%;
        margin-top: govuk-spacing(5);

        @media (min-width: 900px) {
          margin-top: govuk-spacing(6);
        }

        @include govuk-media-query($from: tablet) {
          flex-basis: auto;
          flex-grow: 0;
        }
      }

      .govuk-hint {
        display: none;
      }
    }

    .govuk-label {
      @include govuk-font(16);
      font-weight: 700;
      white-space: nowrap;

      @media (min-width: 900px) {
        @include govuk-font(19);
        font-weight: 700;
      }
    }
  }

  .search-results-sorting {
    border-top: 1px solid $govuk-border-colour;
    padding-top: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      align-items: center;
      column-gap: govuk-spacing(2);
      display: flex;
      flex-direction: row;

      &__stats {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}
