# Platform
aws_account_id =
github_token =
git_branch_to_track = "develop"
ssh_ips = []
region = "eu-west-2"
availability_zones = ["eu-west-2a","eu-west-2b"]
project_name = "tvs"
ecs_service_web_name = "tvs2-service"
ecs_cluster_name = "tvs-cluster"
ecs_ssh_public_key =
instance_type = "t2.micro"

# ALB
alb_certificate_arn =

# Autoscaling of EC2 instances
asg_max_size = 2
asg_min_size = 2
asg_desired_size = 2

# Containers
ecs_service_web_task_name = "web"
ecs_service_web_task_count = 1
ecs_service_web_task_port = 3000
ecs_service_worker_task_port = 8082
logspout_command = ["syslog+tls://logsN.papertrailapp.com:XXXXX"]
worker_command = ["bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml"]

# RDS
rds_storage_gb = 10
rds_username = "dxw"
rds_password = "mice long tail keep trap cheese"
rds_instance_type = "db.t2.small"

# CloudFront
cloudfront_certificate_arn =
cloudfront_aliases =
offline_bucket_domain_name = # "<offline-bucket>.s3.amazonaws.com"
offline_bucket_origin_path = "/school-jobs-offline"

# CloudWatch
cloudwatch_slack_hook_url =
cloudwatch_slack_channel =
cloudwatch_ops_genie_api_key =

# Application
rails_env =
override_school_urn =
load_balancer_check_path = "/check"
secret_key_base =
http_user = "user"
http_pass = "password"
google_maps_api_key =
rollbar_access_token =
rollbar_client_errors_access_token =
domain = # "tvs.dxw.net"
pp_transactions_by_channel_token =

# DfE Sign-in authentication
dfe_sign_in_issuer =
dfe_sign_in_redirect_url =
dfe_sign_in_identifier =
dfe_sign_in_secret =

# DfE Sign-in authorisation
dfe_sign_in_url =
dfe_sign_in_password =
dfe_sign_in_service_access_role_id =
dfe_sign_in_service_id =

google_api_json_key = {}
google_analytics_profile_id = ""

google_cloud_platform_project_id = {}
big_query_api_json_key = {}
big_query_dataset = {}
cloud_storage_api_json_key = {}
cloud_storage_bucket = {}

# Performance monitoring
skylight_authentication = ""
skylight_env = ""
skylight_enabled = "false"

notify_key = ''
notify_subscription_confirmation_template = ''
notify_prompt_feedback_for_expired_vacancies= ''
subscription_key_generator_secret = ''
subscription_key_generator_salt = ''
feature_email_alerts = ''
algolia_app_id = ''
algolia_write_api_key = ''
algolia_search_api_key = ''

# Statuscake

statuscake_username = ''
statuscake_apikey = ''
statuscake_alerts =  {
    "tvsstg" = {
	  website_name  = "teaching-vacancies-staging"
	  website_url   = "https://teaching-vacancies-staging.london.cloudapps.digital/check"
	  test_type     = "HTTP"
	  check_rate    = "300"
	  contact_group = [123456]
	  trigger_rate  = "0"
	  custom_header = "{\"Content-Type\": \"application/x-www-form-urlencoded\"}"
	  status_codes  = "204,205,206,303,400,401,403,404,405,406,408,410,413,444,429,494,495,496,499,500,501,502,503,504,505,506,507,508,509,510,511,521,522,523,524,520,598,599"
    }
}
