.publisher {
  .awaiting-feedback {
    display: block;
    padding: govuk-spacing(4) 0;

    .govuk-form-group {
      margin-bottom: govuk-spacing(2);
    }

    dt {
      display: inline-block;

      &::after {
        content: ':';
        margin-right: govuk-spacing(1);
      }
    }

    &__options {
      @media (min-width: 1000px) {
        align-items: flex-end;
        display: flex;

        &__select {
          flex-grow: 1;
          margin: 0 govuk-spacing(2) 0 0;
        }

        &__submit {
          align-self: center;
          margin-top: govuk-spacing(3);

          &--school-group {
            margin-top: govuk-spacing(7);
          }
        }
      }

      .govuk-button {
        margin: 0;
      }
    }
  }
}
