.interruption-card {
  background-color: govuk-colour('blue');
  margin-bottom: govuk-spacing(7);
  padding: govuk-spacing(9);

  .interruption-card__title {
    @extend .govuk-heading-l;

    color: govuk-colour('white');
  }

  .interruption-card__body {
    @extend .govuk-body-l;

    color: govuk-colour('white');
    margin-bottom: govuk-spacing(2);
  }
}
