.publisher-landing-page {
  margin-bottom: 150px;

  &__account-actions {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;

    &__request-account-link {
      .govuk-body-m {
        color: govuk-colour('white');
        display: inline;
      }
    }
  }

  .govuk-button--start {
    background-color: govuk-colour('white');
    color: $govuk-brand-colour;
  }

  .govuk-phase-banner {
    border-top: 0;

    &__content__tag {
      background-color: govuk-colour('white');
      color: $govuk-brand-colour;
    }

    &__text {
      color: govuk-colour('white');
    }
  }

  &__header {
    background-color: $govuk-brand-colour;

    .govuk-body-l {
      color: govuk-colour('white');
    }

    .govuk-heading-l {
      color: govuk-colour('white');
    }

    .govuk-link {
      color: govuk-colour('white');
    }
  }

  &__image {
    width: 100%;
  }

  &__section {
    .govuk-link {
      display: block;
    }
  }

  &__sign-in-button {
    color: $govuk-brand-colour;
  }
}
