.og-preview {
  background-color: #f2f3f5;
  border: 1px solid #dadde1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 524px;

  .og_image img {
    line-height: 0;
    max-width: 100%;
  }

  .og_text {
    border-top: 1px solid #dadde1;
    padding: 10px 12px;

    .og_url {
      color: #606770;
      font-size: 12px;
      line-height: 11px;
      text-transform: uppercase;
    }

    .og_title {
      color: #1d2129;
      font-size: 16px;
      font-weight: bold;
      margin-top: 5px;
    }

    .og_description {
      color: #606770;
      font-size: 14px;
      line-height: 20px;
      margin-top: 3px;
      // font-family: 'Helvetica Neue', Helvetica, Arial, sans-seri!important;
    }
  }
}

.og-caption {
  @include govuk-font(14);
  margin-top: 10px;
}
