@media print {
  .publishers_vacancies_job_applications_show {
    .review-component__section__body {
      margin-bottom: govuk-spacing(4);

      .govuk-summary-list__row > * {
        font-size: 0.8em;
      }

      .govuk-body {
        font-size: 1em;
      }
    }

    .review-component__section__heading {
      margin-bottom: 0;
    }

    .review-component__section {
      border-bottom: 1px solid $govuk-border-colour;
      margin-bottom: govuk-spacing(4);
    }

    .govuk-accordion__section-header,
    .govuk-accordion__section,
    .govuk-summary-list__actions,
    .review-component__section__body--border {
      border: 0 !important;
    }

    .govuk-heading-xl {
      margin-bottom: 0 !important;
    }

    .review-component__section__heading__title {
      flex-basis: 75%;
    }

    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions,
    .govuk-summary-list__value .govuk-body {
      display: table-row;
      margin-bottom: govuk-spacing(2);
      width: 100%;
    }

    .govuk-summary-list__row,
    .govuk-summary-list__value .govuk-body {
      border-bottom: 0 !important;
    }

    .govuk-accordion__icon,
    .timeline-component {
      display: none !important;
    }

    .govuk-accordion__section > div {
      display: block !important;
    }

    .govuk-accordion__section-button,
    .govuk-notification-banner__title,
    .govuk-caption-l {
      color: $govuk-text-colour !important;
    }
  }
}
