@media print {
  .publishers_vacancies_job_applications_show {
    .govuk-accordion__icon,
    .timeline-component {
      display: none !important;
    }

    .govuk-accordion__section > div {
      display: block !important;
    }

    .govuk-accordion__section-button,
    .govuk-notification-banner__title,
    .govuk-caption-l {
      color: $govuk-text-colour !important;
    }
  }
}
