$desktop-container-width: 1200px;

.publisher {
  .desktop-container-width {
    @include govuk-media-query($from: tablet) {
      width: $desktop-container-width;
    }
  }

  .vacancy-actions {
    .govuk-button {
      @include govuk-media-query($from: desktop) {
        margin-right: govuk-spacing(2);
      }
    }
  }

  .vacancy-deadline {
    margin-top: 0;
    padding: govuk-spacing(3) 0;

    &--passed {
      h4 {
        color: $govuk-error-colour;
      }
    }
  }

  .view-live-vacancy {
    background-color: $govuk-border-colour;
    padding-bottom: govuk-spacing(3);
  }

  .application-count {
    display: block;
    margin: govuk-spacing(3);
    padding: govuk-spacing(3);
    text-transform: none;

    @include govuk-media-query($from: tablet) {
      height: 50%;
      padding-bottom: govuk-spacing(4);
    }

    @include govuk-media-query($until: desktop) {
      margin: govuk-spacing(3) 0;
    }

    .govuk-heading-l,
    .govuk-caption-s {
      color: inherit;
      margin: 0;
    }

    .govuk-caption-s {
      font-weight: normal;
      letter-spacing: normal;
    }
  }

  .job-application-actions {
    display: flex;
  }

  .govuk-summary-list {
    &.summary-list--no-divider {
      border-top: 0;

      .govuk-summary-list__row {
        border-top: 0;

        @include govuk-media-query($until: desktop) {
          border-bottom: 0;
        }

        .govuk-summary-list__key,
        .govuk-summary-list__value,
        .govuk-summary-list__actions {
          border-bottom: 0;
        }

        &:last-child {
          @include govuk-media-query($until: desktop) {
            .govuk-summary-list__value {
              padding-bottom: govuk-spacing(3);
            }
          }

          .govuk-summary-list__key,
          .govuk-summary-list__value,
          .govuk-summary-list__actions {
            border-bottom: 1px solid $govuk-border-colour;
          }
        }
      }
    }
  }
}

.job-applications-summary {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}
