$desktop-container-width: 1200px;

.publisher {
  .desktop-container-width {
    @include govuk-media-query($from: tablet) {
      width: $desktop-container-width;
    }
  }

  &.publishers_vacancies_index,
  &.publishers_vacancies_show,
  &.publishers_vacancies_preview {
    .govuk-main-wrapper {
      > .govuk-width-container {
        margin-top: govuk-spacing(4);
      }
    }
  }
}

.dashboard-header {
  .filters-information {
    display: inline-block;

    .filters-applied-text {
      line-height: 2em;
    }
  }
}
