$desktop-container-width: 1200px;

.publisher {
  .desktop-container-width {
    @include govuk-media-query($from: tablet) {
      width: $desktop-container-width;
    }
  }

  .vacancy-actions {
    .govuk-button {
      @include govuk-media-query($from: desktop) {
        margin-right: govuk-spacing(2);
      }
    }
  }

  .job-application-actions {
    display: flex;
  }
  
}
