.publisher-landing-page {
  margin-bottom: 150px;

  &__account-actions {
    align-items: baseline;
    column-gap: govuk-spacing(5);
    display: flex;
    flex-wrap: wrap;

    &__request-account-link {
      .govuk-body-m {
        color: govuk-colour('white');
        display: inline;

        &:focus {
          color: $govuk-focus-text-colour;
        }
      }
    }
  }

  .govuk-button--start {
    background-color: govuk-colour('white');
    color: $govuk-brand-colour;

    &:hover {
      background-color: #d5e8f3;
    }
  }

  .govuk-grid-row--blue {
    background-color: $govuk-brand-colour;
  }

  .govuk-phase-banner {
    border-top: 0;

    &__content__tag {
      background-color: govuk-colour('white');
      color: $govuk-brand-colour;
    }

    &__text {
      color: govuk-colour('white');
    }
  }

  &__header {
    padding-bottom: govuk-spacing(4);

    .govuk-body-l {
      color: govuk-colour('white');
    }

    .govuk-heading-l {
      color: govuk-colour('white');
    }

    .govuk-link {
      color: govuk-colour('white');
    }
  }

  &__icons {
    max-width: 275px;

    @include govuk-media-query($until: tablet) {
      display: none;
    }
  }

  &__section {
    .govuk-link {
      display: block;
    }
  }

  &__sign-in-button {
    color: $govuk-brand-colour;
  }
}
