// The overarching goal: we want the shadow to always be present whenever the pane is scrollable.
// MoJ's scrollable pane's shadow only kicks in within a certain maximum device-width.
// I adapted this code from the below link, in order to make the device-width queries
// dependent on whether the filter sidebar is open.
// https://github.com/ministryofjustice/moj-frontend/blob/280a4b7b0ffdba4b0bcee21a6194a7b3e23fe398/src/moj/objects/_scrollable-pane.scss

// Shadow mixin lifted verbatim from MoJ code:
@mixin moj-scrollable-pane {
  .moj-scrollable-pane {
    clear: both; // Fixes render bug
    overflow: hidden; // Hides the shadow
    position: relative;
    // width: 100% // Fixes render bug

    &::after {
      border-radius: 10px 0 0 10px / 50% 0 0 50%;
      box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
      content: '';
      height: 100%;
      left: 100%;
      position: absolute;
      top: 0;
      width: 50px;
    }
  }

  .moj-scrollable-pane__wrapper {
    overflow-x: auto;
  }

  .moj-scrollable-pane > div::-webkit-scrollbar {
    height: 10px; // Match GOVUK spacing units
  }

  .moj-scrollable-pane > div::-webkit-scrollbar-track {
    background: govuk-colour('light-grey');
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset; // Simulate scrollbar look and feel
  }

  .moj-scrollable-pane > div::-webkit-scrollbar-thumb {
    background: govuk-colour('dark-grey');
    border-radius: govuk-spacing(1);
  }
}

// If filter sidebar is hidden, apply shadow mixin to dashboard table only for certain device-widths.
.govuk-grid-column-full.moj-filter-layout__content {
  // The 0.9 comes from the class body.hiring-staff .govuk-width-container 'width: 90%'.
  $breakpoint-when-filters-hidden: $desktop-container-width / 0.9;

  @include govuk-media-query($until: $breakpoint-when-filters-hidden) {
    @include moj-scrollable-pane;
  }
}

// If filter sidebar is open, apply shadow mixin regardless of device-width.
.govuk-grid-column-two-thirds.moj-filter-layout__content {
  @include moj-scrollable-pane;
}
