.account-survey-cta
  .account-survey-cta__content class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-0" id="account-survey-cta"
    = t("jobseekers.accounts.footer.survey_text_html", link: link_to_survey)
