@import 'base_component';

.account-survey-cta {
  bottom: 0;
  box-sizing: border-box;
  display: block;
  position: sticky;

  @include govuk-media-query($until: desktop) {
    margin: 0 -15px !important;
  }

  .account-survey-cta__content {
    background-color: govuk-colour('orange');
    color: govuk-colour('black');
    padding: govuk-spacing(2);

    a {
      color: govuk-colour('black');
    }
  }
}
