---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=basildon%20ss14%203wb&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"SS14 3WB\",\n
        \              \"short_name\" : \"SS14 3WB\",\n               \"types\" :
        \n               [\n                  \"postal_code\"\n               ]\n
        \           },\n            {\n               \"long_name\" : \"Basildon\",\n
        \              \"short_name\" : \"Basildon\",\n               \"types\" :
        \n               [\n                  \"postal_town\"\n               ]\n
        \           },\n            {\n               \"long_name\" : \"Essex\",\n
        \              \"short_name\" : \"Essex\",\n               \"types\" : \n
        \              [\n                  \"administrative_area_level_2\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"England\",\n               \"short_name\" : \"England\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United Kingdom\",\n               \"short_name\"
        : \"GB\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Basildon SS14 3WB, UK\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 51.5889501,\n                  \"lng\"
        : 0.4710636\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 51.58221349999999,\n                  \"lng\"
        : 0.4594734\n               }\n            },\n            \"location\" :
        \n            {\n               \"lat\" : 51.58521409999999,\n               \"lng\"
        : 0.4631834\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
        \           \"viewport\" : \n            {\n               \"northeast\" :
        \n               {\n                  \"lat\" : 51.5889501,\n                  \"lng\"
        : 0.4710636\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 51.58221349999999,\n                  \"lng\"
        : 0.4594734\n               }\n            }\n         },\n         \"place_id\"
        : \"ChIJAw_TH6XG2EcRM8pv6e6_tBU\",\n         \"types\" : \n         [\n            \"postal_code\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Fri, 29 Nov 2024 13:52:49 GMT
recorded_with: VCR 6.3.1
