.js-enabled {
  &.subscriptions_new,
  &.subscriptions_create {
    .location-finder {
      @include govuk-media-query($from: mobile) {
        display: block;
      }
    }
  }

  &.subscriptions_new,
  &.subscriptions_create,
  &.subscriptions_edit {
    .location-search__radius {
      margin-top: govuk-spacing(6);
    }

    /* https://trello.com/c/IlzRdzpP/151-disable-focus-styles-for-filters-ui-on-job-alert-creation-page */
    .filters-component:focus {
      outline: none;
    }
  }
}

.campaign-header {
  padding-top: govuk-spacing(0);
  margin-top: govuk-spacing(0);
  background-color: govuk-colour('light-grey');
}
