= render "publishers/vacancies/error_tag", attributes: job_summary_fields

= render ReviewComponent.new id: "job_summary" do |review|
  - review.heading title: t("publishers.vacancies.steps.job_summary"),
                   text: t("buttons.change"),
                   href: organisation_job_build_path(@vacancy.id, :job_summary)

  - review.body do
    = govuk_summary_list do |component|
      - component.slot(:row,
        key: t("jobs.job_advert"),
        value: @vacancy.job_advert,
        html_attributes: { id: "job_advert" })

      - component.slot(:row,
        key: t("jobs.about_school", school: vacancy_about_school_label_organisation(@vacancy)),
        value: @vacancy.about_school,
        html_attributes: { id: "about_school" })
