= render "publishers/vacancies/error_tag", attributes: Publishers::JobListing::ApplyingForTheJobForm.fields

= render ReviewComponent.new id: "applying_for_the_job" do |review|
  - review.heading title: t("publishers.vacancies.steps.applying_for_the_job"),
                   text: t("buttons.change"),
                   href: organisation_job_build_path(@vacancy.id, :applying_for_the_job)

  - review.body do
    = govuk_summary_list do |component|
      - unless current_organisation.group_type == "local_authority"
        - component.slot(:row,
          key: t("jobs.enable_job_applications"),
          value: @vacancy.enable_job_applications? ? "Yes" : "No",
          html_attributes: { id: "enable_job_applications" })

      - if @vacancy.enable_job_applications?
        - component.slot(:row,
          key: t("jobs.personal_statement_guidance"),
          value: @vacancy.personal_statement_guidance.presence || t("jobs.not_defined"),
          html_attributes: { id: "personal_statement_guidance" })
      - else
        - component.slot(:row,
          key: t("jobs.application_link"),
          value: @vacancy.application_link.present? ? open_in_new_tab_link_to(@vacancy.application_link, @vacancy.application_link, "aria-label": t("jobs.aria_labels.apply_link")) : t("jobs.not_defined"),
          html_attributes: { id: "application_link" })

      - if @vacancy.how_to_apply.present?
        - component.slot(:row,
          key: t("jobs.how_to_apply"),
          value: @vacancy.how_to_apply,
          html_attributes: { id: "how_to_apply" })

      - component.slot(:row,
        key: t("jobs.contact_email"),
        value: govuk_mail_to("Job contact email", @vacancy.contact_email, "aria-label": t("jobs.aria_labels.contact_email_link", email: @vacancy.contact_email)),
        html_attributes: { id: "contact_email" })

      - component.slot(:row,
        key: t("jobs.contact_number"),
        value: @vacancy.contact_number.present? ? govuk_link_to(@vacancy.contact_number, "tel:#{@vacancy.contact_number}") : t("jobs.not_defined"),
        html_attributes: { id: "contact_number" })

      - component.slot(:row,
        key: t("jobs.#{school_or_trust_visits(@vacancy.parent_organisation)}"),
        value: @vacancy.school_visits.presence || t("jobs.not_defined"),
        html_attributes: { id: "school_visits" })
