= render "publishers/vacancies/error_tag", attributes: job_details_fields

= render ReviewComponent.new id: "job_details" do |review|
  - review.heading title: t("publishers.vacancies.steps.job_details"),
                   text: t("buttons.change"),
                   href: organisation_job_build_path(@vacancy.id, :job_details)

  - review.body do
    = govuk_summary_list do |component|
      - component.slot(:row,
        key: t("jobs.job_title"),
        value: @vacancy.job_title,
        html_attributes: { id: "job_title" })

      - component.slot(:row,
        key: t("jobs.suitable_for_nqt"),
        value: @vacancy.suitable_for_nqt&.capitalize || t("jobs.not_defined"),
        html_attributes: { id: "suitable_for_nqt" })

      - component.slot(:row,
        key: t("jobs.subjects"),
        value: @vacancy.show_subjects.presence || t("jobs.not_defined"),
        html_attributes: { id: "subjects" })

      - component.slot(:row,
        key: t("jobs.contract_type"),
        value: @vacancy.contract_type_with_duration,
        html_attributes: { id: "contract_type" })
