= render "publishers/vacancies/error_tag", attributes: Publishers::JobListing::ImportantDatesForm.fields

#expiry_time
= render ReviewComponent.new id: "important_dates" do |review|
  - review.heading title: t("publishers.vacancies.steps.important_dates"),
                   text: t("buttons.change"),
                   href: organisation_job_build_path(@vacancy.id, :important_dates)

  - review.body do
    = govuk_summary_list do |component|
      - component.slot(:row,
        key: t("jobs.publication_date"),
        value: format_date(@vacancy.publish_on),
        html_attributes: { id: "publish_on" })

      - component.slot(:row,
        key: t("jobs.application_deadline"),
        value: format_time_to_datetime_at(@vacancy.expires_at),
        html_attributes: { id: "expires_at" })

      - component.slot(:row,
        key: t("jobs.starts_on"),
        value: @vacancy.starts_asap? ? t("jobs.starts_asap") : format_date(@vacancy.starts_on),
        html_attributes: { id: "starts_on" })
