@use "govuk-frontend/dist/govuk/helpers";

.govuk-info-summary {
  @extend .govuk-error-summary;
  border-color: helpers.govuk-functional-colour(link);
  margin-bottom: helpers.govuk-spacing(5);
  padding: helpers.govuk-spacing(3);
}

.govuk-info-summary__title {
  @extend .govuk-error-summary__title;
}

.govuk-info-summary__body {
  @extend .govuk-error-summary__body;

  > a.govuk-button {
    margin-right: helpers.govuk-spacing(3);
  }
}

.govuk-info-summary__dismiss-link {
  display: block;
  float: right;
}

.govuk-success-summary {
  @extend .govuk-error-summary;
  border-color: helpers.govuk-functional-colour(success);
}

.govuk-success-summary__dismiss-link {
  display: block;
  float: right;
}
