.govuk-inset-text {
  .govuk-summary-list__value & {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  &--header {
    @extend .govuk-heading-s;
    margin-bottom: govuk-spacing(2);
  }

  &--blue {
    border-left-color: govuk-colour('light-blue');

    .govuk-inset-text--header {
      color: govuk-colour('light-blue');
    }
  }

  &--red {
    border-left-color: govuk-colour('red');

    .govuk-inset-text--header {
      color: govuk-colour('red');
    }
  }

  &--narrow {
    border-left-width: 5px;
    padding-right: 0;
  }

  &--dark-blue {
    border-left-color: govuk-colour('blue');

    .govuk-inset-text--header {
      color: govuk-colour('blue');
    }
  }

  &--incomplete {
    @extend .govuk-inset-text--narrow;
    @extend .govuk-inset-text--dark-blue;

    .govuk-summary-list {
      margin-bottom: 15px;
    }
  }
}
