@use "govuk-frontend/dist/govuk/base" as *;

.govuk-inset-text {
  .govuk-summary-list__value & {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  &--blue {
    border-left-color: govuk-colour('blue', $variant: 'tint-25');
  }

  &--red {
    border-left-color: govuk-colour('red');
  }

  &--narrow {
    border-left-width: 5px;
    padding-right: 0;
  }

  &--dark-blue {
    border-left-color: govuk-colour('blue');
  }

}
