@function frontend-font-url($filename) {
  @return url('~assets/fonts/' + $filename);
}

@function frontend-image-url($filename) {
  @return url('~assets/images/' + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import '~govuk-frontend/govuk/all';
@import '~@ministryofjustice/frontend/moj/all';

@import 'base/mixins';
@import 'base/utilities';
@import 'global/variables';

@import 'application/accordion';
@import 'application/banners';
@import 'application/full-width-mast';
@import 'application/form';
@import 'application/icons';
@import 'application/modal';
@import 'application/pagination';
@import 'application/panel';
@import 'application/school';
@import 'application/signin';
@import 'application/tabs';
@import 'application/timeline';

@import 'application/jobseekers/account';
@import 'application/jobseekers/cookies-banner';
@import 'application/jobseekers/feedback-form';
@import 'application/jobseekers/filter-vacancies';
@import 'application/jobseekers/jobs-banner';
@import 'application/jobseekers/jobseeker';
@import 'application/jobseekers/location-search';
@import 'application/jobseekers/search-panel';
@import 'application/jobseekers/sortable-links';
@import 'application/jobseekers/vacancies';
@import 'application/jobseekers/vacancy';

@import 'application/publishers/information-summary';
@import 'application/publishers/interruption-card';
@import 'application/publishers/og-preview';
@import 'application/publishers/publisher';
@import 'application/publishers/schools-in-your-trust';
@import 'application/publishers/scrollable-panel';
@import 'application/publishers/share-url';
@import 'application/publishers/statistics';

body {
  .govuk-width-container {
    @include govuk-media-query($from: desktop) {
      margin-left: auto;
      margin-right: auto;
      max-width: $desktop-container-width;
      width: 90%;
    }
  }

  .govuk-header__container {
    border-bottom: 10px solid govuk-colour('orange');
  }

  .govuk-main-wrapper {
    background-color: govuk-colour('light-grey');
    margin-bottom: govuk-spacing(6);
    padding-bottom: 0;
    padding-top: 0;

    .content-wrapper {
      background-color: govuk-colour('white');
    }

    h1,
    .govuk-heading-xl {
      margin-top: govuk-spacing(4);
    }
  }

  &.home_index {
    .govuk-main-wrapper__notification {
      background-color: $govuk-brand-colour;

      .govuk-notification__background {
        background-color: govuk-colour('white');
      }
    }
  }

  &.vacancies_show {
    .govuk-main-wrapper__notification {
      background-color: govuk-colour('light-grey');
    }
  }
}

input[type='search'] {
  box-sizing: border-box;
}

p {
  @include govuk-font(19);
}

strong,
b {
  font-weight: bold;
}

pre {
  background: govuk-colour('light-grey');
  border: 1px solid #ddd;
  border-left: 3px solid govuk-colour('red');
  color: govuk-colour('dark-grey');
  display: block;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  page-break-inside: avoid;
  word-wrap: break-word;
}
