@function frontend-font-url($filename) {
  @return url('~assets/fonts/' + $filename);
}

@function frontend-image-url($filename) {
  @return url('~assets/images/' + $filename);
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~govuk-frontend/govuk/all';
@import '~@ministryofjustice/frontend/moj/all';

@import 'shared/notification_component/notification_component';
@import 'shared/banner_link_component/banner_link_component';
@import 'shared/filters_component/filters_component';
@import 'shared/table_component/table_component';
@import 'shared/pill_link_component/pill_link_component';
@import 'jobseekers/search_results/job_alerts_link_component';
@import 'jobseekers/similar_job_component/similar_job_component';

@import 'base/mixins';
@import 'base/utilities';
@import 'global/ie';
@import 'global/variables';

@import 'application/banners';
@import 'application/checkboxGroup';
@import 'application/form';
@import 'application/modal';
@import 'application/navigation';
@import 'application/pagination';
@import 'application/school';
@import 'application/signin';
@import 'application/steps';
@import 'application/tabs';
@import 'application/timeline';

@import 'application/jobSeekers/cookies-banner';
@import 'application/jobSeekers/feedback-form';
@import 'application/jobSeekers/location-search';
@import 'application/jobSeekers/search-panel';
@import 'application/jobSeekers/vacancies';
@import 'application/jobSeekers/vacancy';
@import 'application/jobSeekers/jobs-banner';
@import 'application/jobSeekers/key-dates-sidebar';
@import 'application/jobSeekers/sortable-links';
@import 'application/jobSeekers/filter-vacancies';

@import 'application/hiringStaff/awaiting-feedback-vacancies';
@import 'application/hiringStaff/hiring-staff';
@import 'application/hiringStaff/information-summary';
@import 'application/hiringStaff/schools-in-your-trust';
@import 'application/hiringStaff/interruption-card';
@import 'application/hiringStaff/og-preview';
@import 'application/hiringStaff/scrollable-panel';
@import 'application/hiringStaff/share-url';
@import 'application/hiringStaff/statistics';
@import 'application/hiringStaff/check-your-answers';

body {
  .govuk-width-container {
    @include govuk-media-query($from: desktop) {
      max-width: 1020px;
    }
  }

  .govuk-header__container {
    border-bottom: 10px solid govuk-colour('orange');
  }

  &.vacancies_index,
  &.vacancies_show,
  &.vacancies_preview,
  &.pages_home {
    .govuk-main-wrapper {
      padding-top: 0;
    }
  }
}

input[type='search'] {
  box-sizing: border-box;
}

p {
  @include govuk-font(19);
}

strong,
b {
  font-weight: bold;
}
