@function frontend-font-url($filename) {
  @return url('~assets/fonts/' + $filename);
}

@function frontend-image-url($filename) {
  @return url('~assets/images/' + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
$govuk-new-link-styles: true;

@import '~govuk-frontend/govuk/all';

@import 'base/mixins';
@import 'base/utilities';
@import 'global/variables';

@import 'application/accordion';
@import 'application/applications';
@import 'application/footer';
@import 'application/form';
@import 'application/header';
@import 'application/home';
@import 'application/icons';
@import 'application/inset_text';
@import 'application/pagination';
@import 'application/posts';
@import 'application/signin';
@import 'application/tabs';
@import 'application/timeline';
@import 'application/typography';

@import 'application/jobseekers/keyword-search';
@import 'application/jobseekers/search-header';
@import 'application/jobseekers/subscription';
@import 'application/jobseekers/vacancies';
@import 'application/jobseekers/vacancy';

@import 'application/publishers/awaiting-feedback';
@import 'application/publishers/information-summary';
@import 'application/publishers/interruption-card';
@import 'application/publishers/publisher-landing-page';
@import 'application/publishers/og-preview';
@import 'application/publishers/print-application';
@import 'application/publishers/publisher';
@import 'application/publishers/scrollable-panel';
@import 'application/publishers/share-url';
@import 'application/publishers/statistics';

body {
  .govuk-width-container {
    @include govuk-media-query($from: desktop) {
      margin-left: auto;
      margin-right: auto;
      max-width: $desktop-container-width;
      width: 90%;
    }
  }
}

button:not(.govuk-button) {
  font-family: 'GDS Transport', arial, sans-serif;
}

input[type='search'] {
  box-sizing: border-box;
}

p {
  @include govuk-font(19);
}

strong,
b,
dt {
  color: $govuk-text-colour;
  font-weight: bold;
}

dd {
  color: $govuk-text-colour;
}

dl,
dd {
  margin: 0;
}

.govuk-heading {
  &--summary-list {
    border-bottom: 6px solid $govuk-border-colour;
    padding-bottom: govuk-spacing(2);
  }
}

.govuk-section-break {
  &--thick {
    border-bottom: 5px solid #b1b4b6;
  }
}

.grey-cta-container {
  background-color: govuk-colour('light-grey');
}

// Per https://gov.uk footer
.govuk-footer__list {
  padding-bottom: 40px;
}

@media print {
  .govuk-header,
  .govuk-breadcrumbs,
  .govuk-footer {
    display: none;
  }
}
