pre {
  background: govuk-colour('light-grey');
  border: 1px solid #ddd;
  border-left: 3px solid govuk-colour('red');
  color: govuk-colour('dark-grey');
  display: block;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  page-break-inside: avoid;
  word-wrap: break-word;
}

.top-nav {
  background-color: govuk-colour('light-grey');
}

.design-system-nav {
  li {
    margin-bottom: 0;
  }

  .govuk-link {
    color: #1d70b8 !important;
    display: block;
    text-decoration: none;
  }
  
  .design-system-nav-top {
    display: flex;
    list-style-type: none;

    .govuk-link {
      border-bottom: 4px solid transparent;
      font-weight: bold;
      padding: 15px;
      padding-bottom: 11px;

      &.selected {
        border-bottom-color: #1d70b8;
      }
    }
  }
}
