.app-navigation {
  $navigation-height: 53px;

  @include clearfix;
  border-bottom: 1px solid govuk-colour('mid-grey');
  font-weight: bold;

  &__list {
    font-size: 0.85em;
    list-style: none;
    margin: 0;
    padding: 0;

    @include govuk-media-query($from: tablet) {
      font-size: 1em;
    }

    >li {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      height: $navigation-height;
      line-height: $navigation-height;

      &:hover {
        border-bottom: 4px solid govuk-colour('light-blue');
      }

      &.active {
        border-bottom: 4px solid govuk-colour('blue') !important;

        a:hover {
          color: $govuk-link-colour;
        }
      }

      a {
        color: $govuk-link-colour;
        display: block;
        padding: 0 1em;
        text-decoration: none;
        @include govuk-media-query($until: tablet) {
          padding: 0 0.5em;
        }

        &:visited {
          color: $govuk-link-colour;
        }

        &:hover,
        &:focus {
          background-color: inherit;
          color: $govuk-link-hover-colour;
        }
      }
    }
  }
}

nav ul .mobile-header-underline-text {
  @include govuk-media-query($until: desktop) {
    font-weight: normal;
    text-decoration: underline;
  }
}

.mobile-header-top-border {
  @include govuk-media-query($until: desktop) {
    border-top: 3px solid #fff;
    margin-top: 2px;
  }
}

.navigation_heading {
  color: govuk-colour('white');
  font-weight: bold;
  margin-top: 20px;

  @include govuk-media-query($from: desktop) {
    display: none;
  }
}
