.pagination {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;

  li {
    display: inline-block;
  }

  a,
  span {
    @include govuk-font(19);
    color: govuk-colour('blue');
    text-decoration: none;

  }

  .pagination__item {
    @include govuk-font(19);
    border: 3px solid transparent;
    color: govuk-colour('blue');
    display: inline-block;
    min-width: 25px;
    padding: 2px;
    text-align: center;
    text-decoration: none;

    &.current {
      @include govuk-font(19, $weight: bold);
      color: $govuk-text-colour;
      height: 25px;
    }

    &:hover {
      border: 3px solid $govuk-focus-colour;
    }

    &:focus {
      background: $govuk-focus-colour;
      border-bottom: solid govuk-colour('black');
      color: $govuk-text-colour;
    }
  }

  .pagination--prev::before,
  .pagination--next::after {
    background: transparent;
    border-style: solid;
    color: govuk-colour('black');
    content: '';
    display: inline-block;
    height: 10px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10px;
  }

  .pagination--prev::before {
    border-width: 3px 0 0 3px;
    margin-right: govuk-spacing(1);
  }

  .pagination--next::after {
    border-width: 0 3px 3px 0;
    margin-left: govuk-spacing(1);
  }

  .pagination__link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
  }
}

.pagination-results {
  display: inline-block;
}

.pagination-and-stats {
  #vacancies-stats-bottom {
    margin-bottom: 0;
    margin-top: 1rem;

    @media (min-width: 1020px) {
      float: right;
      margin-left: 0.5rem;
      margin-top: 0.25rem;
    }
  }
}
