= tag.div(class: classes.append(variant_class, icon_class), **html_attributes) do
  = govuk_link_to t("buttons.dismiss"), "#", class: "govuk-link--no-visited-state js-dismissible js-dismissible__link"
  .flash-component__content
    == message
