---
http_interactions:
- request:
    method: get
    uri: https://placeholder-dsn.algolia.net/1/indexes/localhost:3000-Vacancy_publish_on_desc/settings?getVersion=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"minWordSizefor1Typo":4,"minWordSizefor2Typos":8,"hitsPerPage":20,"maxValuesPerFacet":100,"version":1,"attributesToIndex":null,"numericAttributesToIndex":null,"attributesToRetrieve":null,"unretrievableAttributes":null,"optionalWords":null,"primary":"localhost:3000-Vacancy","attributesForFaceting":["job_roles","working_patterns","education_phases","subjects"],"attributesToSnippet":null,"attributesToHighlight":null,"paginationLimitedTo":1000,"attributeForDistinct":null,"exactOnSingleWordQuery":"attribute","ranking":["desc(publication_date_timestamp)"],"customRanking":null,"separatorsToIndex":"","removeWordsIfNoResults":"none","queryType":"prefixLast","highlightPreTag":"<em>","highlightPostTag":"</em>","snippetEllipsisText":"","alternativesAsExact":["ignorePlurals","singleWordSynonym"]}'
  recorded_at: Fri, 12 Feb 2021 15:19:01 GMT
- request:
    method: put
    uri: https://placeholder.algolia.net/1/indexes/localhost:3000-Vacancy_publish_on_desc/settings
    body:
      encoding: UTF-8
      string: '{"attributesForFaceting":["job_roles","working_patterns","education_phases","subjects"],"ranking":["desc(publication_date_timestamp)"]}'
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2021-02-12T15:19:01.350Z","taskID":181717598001}'
  recorded_at: Fri, 12 Feb 2021 15:19:01 GMT
- request:
    method: post
    uri: https://placeholder-dsn.algolia.net/1/indexes/localhost:3000-Vacancy_publish_on_desc/query
    body:
      encoding: UTF-8
      string: '{"params":"filters=%28publication_date_timestamp+%3C%3D+1613088000+AND+expires_at_timestamp+%3E+1613143140%29\u0026hitsPerPage=2\u0026page=0\u0026query=Maths+Teacher"}'
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"education_phases":["secondary"],"job_roles":["teacher"],"job_title":"Maths
        Teacher","parent_organisation_name":"Bexleyheath Academy","salary":"£35,000","subjects":["Maths"],"working_patterns":["full_time"],"_geoloc":[{"lat":51.4578146490981,"lng":0.146065490118642}],"expires_at":"16
        February 2021 at 8:43 pm","expires_at_timestamp":1613508180,"job_roles_for_display":"Teacher","job_summary":"Amet
        molestias aut. Aut modi cum. Sunt neque ratione. Molestiae dolores sit.","last_updated_at":1613142819,"organisations":{"names":["Bexleyheath
        Academy"],"counties":["Kent"],"detailed_school_types":["Academy sponsor led"],"group_type":[],"local_authorities_within":[],"religious_characters":[],"regions":["London"],"school_types":["Academy"],"towns":["Bexleyheath"]},"permalink":"maths-teacher-2","publication_date":"12
        February 2021","publication_date_timestamp":1613088000,"start_date":"12 February
        2022","start_date_timestamp":1644624000,"subjects_for_display":"Maths","working_patterns_for_display":"Full-time
        only","objectID":"67991ea9-431d-4d9d-9c99-a78b80108fe1","_highlightResult":{"education_phases":[{"value":"secondary","matchLevel":"none","matchedWords":[]}],"job_roles":[{"value":"<em>teacher</em>","matchLevel":"partial","fullyHighlighted":true,"matchedWords":["teacher"]}],"job_title":{"value":"<em>Maths</em>
        <em>Teacher</em> 2","matchLevel":"full","fullyHighlighted":false,"matchedWords":["maths","teacher"]},"parent_organisation_name":{"value":"Bexleyheath
        Academy","matchLevel":"none","matchedWords":[]},"salary":{"value":"£35,000","matchLevel":"none","matchedWords":[]},"subjects":[{"value":"<em>Maths</em>","matchLevel":"partial","fullyHighlighted":true,"matchedWords":["maths"]}],"working_patterns":[{"value":"full_t[...]
- request:
    method: get
    uri: https://placeholder-dsn.algolia.net/1/indexes/localhost:3000-Vacancy_expires_at_asc/settings?getVersion=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"minWordSizefor1Typo":4,"minWordSizefor2Typos":8,"hitsPerPage":20,"maxValuesPerFacet":100,"version":1,"attributesToIndex":null,"numericAttributesToIndex":null,"attributesToRetrieve":null,"unretrievableAttributes":null,"optionalWords":null,"primary":"localhost:3000-Vacancy","attributesForFaceting":["job_roles","working_patterns","education_phases","subjects"],"attributesToSnippet":null,"attributesToHighlight":null,"paginationLimitedTo":1000,"attributeForDistinct":null,"exactOnSingleWordQuery":"attribute","ranking":["desc(publication_date_timestamp)"],"customRanking":null,"separatorsToIndex":"","removeWordsIfNoResults":"none","queryType":"prefixLast","highlightPreTag":"<em>","highlightPostTag":"</em>","snippetEllipsisText":"","alternativesAsExact":["ignorePlurals","singleWordSynonym"]}'
  recorded_at: Fri, 12 Feb 2021 15:19:01 GMT
- request:
    method: put
    uri: https://placeholder.algolia.net/1/indexes/localhost:3000-Vacancy_expires_at_asc/settings
    body:
      encoding: UTF-8
      string: '{"attributesForFaceting":["job_roles","working_patterns","education_phases","subjects"],"ranking":["desc(publication_date_timestamp)"]}'
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2021-02-12T15:19:01.350Z","taskID":181717598001}'
  recorded_at: Fri, 12 Feb 2021 15:19:01 GMT
- request:
    method: post
    uri: https://placeholder-dsn.algolia.net/1/indexes/localhost:3000-Vacancy_expires_at_asc/query
    body:
      encoding: UTF-8
      string: '{"params":"filters=%28publication_date_timestamp+%3C%3D+1613088000+AND+expires_at_timestamp+%3E+1613143140%29\u0026hitsPerPage=2\u0026page=0\u0026query=Maths+Teacher"}'
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; c[...]
