---
http_interactions:
- request:
    method: get
    uri: https://placeholder-dsn.algolia.net/1/indexes/localhost:3000-Vacancy_publish_on_desc/settings?getVersion=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"minWordSizefor1Typo":4,"minWordSizefor2Typos":8,"hitsPerPage":20,"maxValuesPerFacet":100,"version":1,"attributesToIndex":null,"numericAttributesToIndex":null,"attributesToRetrieve":null,"unretrievableAttributes":null,"optionalWords":null,"primary":"localhost:3000-Vacancy","attributesForFaceting":["job_roles","working_patterns","education_phases","subjects"],"attributesToSnippet":null,"attributesToHighlight":null,"paginationLimitedTo":1000,"attributeForDistinct":null,"exactOnSingleWordQuery":"attribute","ranking":["desc(publication_date_timestamp)"],"customRanking":null,"separatorsToIndex":"","removeWordsIfNoResults":"none","queryType":"prefixLast","highlightPreTag":"<em>","highlightPostTag":"</em>","snippetEllipsisText":"","alternativesAsExact":["ignorePlurals","singleWordSynonym"]}'
  recorded_at: Fri, 12 Feb 2021 10:55:32 GMT
- request:
    method: put
    uri: https://placeholder.algolia.net/1/indexes/localhost:3000-Vacancy_publish_on_desc/settings
    body:
      encoding: UTF-8
      string: '{"attributesForFaceting":["job_roles","working_patterns","education_phases","subjects"],"ranking":["desc(publication_date_timestamp)"]}'
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2021-02-12T10:55:32.334Z","taskID":174554616002}'
  recorded_at: Fri, 12 Feb 2021 10:55:32 GMT
- request:
    method: post
    uri: https://placeholder-dsn.algolia.net/1/indexes/localhost:3000-Vacancy_publish_on_desc/query
    body:
      encoding: UTF-8
      string: '{"params":"filters=%28publication_date_timestamp+%3C%3D+1613088000+AND+expires_at_timestamp+%3E+1613127331%29\u0026hitsPerPage=2\u0026page=0\u0026query=Teacher"}'
    headers:
      X-Algolia-Api-Key:
      - Placeholder
      X-Algolia-Application-Id:
      - Placeholder
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"education_phases":["secondary"],"job_roles":["teacher"],"job_title":"Geography
        Teacher","parent_organisation_name":"Bexleyheath Academy","salary":"£25,000","subjects":["Geography"],"working_patterns":["part_time","job_share"],"_geoloc":[{"lat":51.4578146490981,"lng":0.146065490118642}],"expires_at":"21
        February 2021 at 8:15 am","expires_at_timestamp":1613895300,"job_roles_for_display":"Teacher","job_summary":"Cupiditate
        itaque deleniti. Perspiciatis nam at. Optio maiores non. Doloremque modi sapiente.","last_updated_at":1612957698,"organisations":{"names":["Bexleyheath
        Academy"],"counties":["Kent"],"detailed_school_types":["Academy sponsor led"],"group_type":[],"local_authorities_within":[],"religious_characters":[],"regions":["London"],"school_types":["Academy"],"towns":["Bexleyheath"]},"permalink":"geography-teacher","publication_date":"10
        February 2021","publication_date_timestamp":1612915200,"start_date":"10 February
        2022","start_date_timestamp":1644451200,"subjects_for_display":"Geography","working_patterns_for_display":"Will
        consider part-time, job share","objectID":"e750baf6-cc9a-4b93-84cf-ee4e5f8a7ee4","_highlightResult":{"education_phases":[{"value":"secondary","matchLevel":"none","matchedWords":[]}],"job_roles":[{"value":"<em>teacher</em>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["teacher"]}],"job_title":{"value":"Geography
        <em>Teacher</em>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["teacher"]},"parent_organisation_name":{"value":"Bexleyheath
        Academy","matchLevel":"none","matchedWords":[]},"salary":{"value":"£25,000","matchLevel":"none","matchedWords":[]},"subjects":[{"value":"Geography","matchLevel":"none","matchedWords":[]}],"working_patterns":[{"value":"part_time","matchLevel":"none","matchedWords":[]},{"value":"[...]
