---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=TS14%206RD&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.os.uk/search/names/v1/find?fq=local_type%3ACity%20local_type%3AHamlet%20local_type%3AOther_Settlement%20local_type%3ATown%20local_type%3AVillage%20local_type%3APostcode&query=TS14%206RD",
            "query" : "TS14 6RD",
            "format" : "JSON",
            "maxresults" : 100,
            "offset" : 0,
            "totalresults" : 0,
            "filter" : "fq=local_type:City local_type:Hamlet local_type:Other_Settlement local_type:Town local_type:Village local_type:Postcode"
          },
          "results" : []
        }
  recorded_at: Mon, 22 Feb 2021 17:53:32 GMT
recorded_with: VCR 6.0.0
