---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=TS14%206RD&components=country:gb&key=placeholder_key&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Mon, 22 Feb 2021 17:38:44 GMT

- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/opennames/v1/find?fq=local_type:City%20local_type:Hamlet%20local_type:Other_Settlement%20local_type:Town%20local_type:Village%20local_type:Postcode&key=placeholder_key&query=TS14%206RD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Tx-Id:
      - 1614016412597:597
      Status:
      - success
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/opennames/v1/find?fq=local_type%3ACity%20local_type%3AHamlet%20local_type%3AOther_Settlement%20local_type%3ATown%20local_type%3AVillage%20local_type%3APostcode&query=TS14%206RD",
            "query" : "TS14 6RD",
            "format" : "JSON",
            "maxresults" : 100,
            "offset" : 0,
            "totalresults" : 1282,
            "filter" : "fq=local_type:City local_type:Hamlet local_type:Other_Settlement local_type:Town local_type:Village local_type:Postcode"
          },
          "results" : [ {
            "GAZETTEER_ENTRY" : {
              "ID" : "TS146RD",
              "NAMES_URI" : "http://data.ordnancesurvey.co.uk/id/postcodeunit/TS146RD",
              "NAME1" : "TS14 6RD",
              "TYPE" : "other",
              "LOCAL_TYPE" : "Postcode",
              "GEOMETRY_X" : 461879.0,
              "GEOMETRY_Y" : 516623.0,
              "MOST_DETAIL_VIEW_RES" : 3500,
              "LEAST_DETAIL_VIEW_RES" : 18000,
              "POPULATED_PLACE" : "Guisborough",
              "POPULATED_PLACE_URI" : "http://data.ordnancesurvey.co.uk/id/4000000074577394",
              "POPULATED_PLACE_TYPE" : "http://www.ordnancesurvey.co.uk/xml/codelists/localtype.xml#town",
              "COUNTY_UNITARY" : "Redcar and Cleveland",
              "COUNTY_UNITARY_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000025588",
              "COUNTY_UNITARY_TYPE" : "http://data.ordnancesurvey.co.uk/ontology/admingeo/UnitaryAuthority",
              "REGION" : "North East",
              "REGION_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000041422",
              "COUNTRY" : "England",
              "COUNTRY_URI" : "http://data.ordnancesurvey.co.uk/id/country/england"
            }
          }, {
            "GAZETTEER_ENTRY" : {
              "ID" : "TA146RD",
              "NAMES_URI" : "http://data.ordnancesurvey.co.uk/id/postcodeunit/TA146RD",
              "NAME1" : "TA14 6RD",
              "TYPE" : "other",
              "LOCAL_TYPE" : "Postcode",
              "GEOMETRY_X" : 346614.0,
              "GEOMETRY_Y" : 117705.0,
              "MOST_DETAIL_VIEW_RES" : 3500,
              "LEAST_DETAIL_VIEW_RES" : 18000,
              "DISTRICT_BOROUGH" : "South Somerset",
              "DISTRICT_BOROUGH_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000010495",
              "DISTRICT_BOROUGH_TYPE" : "http://data.ordnancesurvey.co.uk/ontology/admingeo/District",
              "COUNTY_UNITARY" : "Somerset",
              "COUNTY_UNITARY_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000010578",
              "COUNTY_UNITARY_TYPE" : "http://data.ordnancesurvey.co.uk/ontology/admingeo/County",
              "REGION" : "South West",
              "REGION_URI" : "http://data.ordnancesurvey.co.uk/id/7000000000041427",
              "COUNTRY" : "England",
              "COUNTRY_URI" : "http://[...]
