---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=TS14%206RD&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"TS14 6RD\",\n
        \              \"short_name\" : \"TS14 6RD\",\n               \"types\" :
        \n               [\n                  \"postal_code\"\n               ]\n
        \           },\n            {\n               \"long_name\" : \"Guisborough\",\n
        \              \"short_name\" : \"Guisborough\",\n               \"types\"
        : \n               [\n                  \"postal_town\"\n               ]\n
        \           },\n            {\n               \"long_name\" : \"Redcar and
        Cleveland\",\n               \"short_name\" : \"Redcar and Cleveland\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"England\",\n               \"short_name\"
        : \"England\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United Kingdom\",\n               \"short_name\"
        : \"GB\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Guisborough TS14 6RD, UK\",\n         \"geometry\"
        : \n         {\n            \"location\" : \n            {\n               \"lat\"
        : 54.54109829999999,\n               \"lng\" : -1.0450767\n            },\n
        \           \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 54.54234513029149,\n                  \"lng\" : -1.043607119708498\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 54.53964716970849,\n                  \"lng\" : -1.046305080291502\n               }\n
        \           }\n         },\n         \"navigation_points\" : \n         [\n
        \           {\n               \"location\" : \n               {\n                  \"latitude\"
        : 54.540946,\n                  \"longitude\" : -1.0448969\n               }\n
        \           }\n         ],\n         \"place_id\" : \"ChIJ69gGZY3lfkgRoqAoM4mrDa4\",\n
        \        \"types\" : \n         [\n            \"postal_code\"\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 11 Feb 2026 09:36:52 GMT
recorded_with: VCR 6.4.0
