---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=TS14%206RD&components=country:gb&key=placeholder_key&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "TS14 6RD",
                       "short_name" : "TS14 6RD",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Guisborough",
                       "short_name" : "Guisborough",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Redcar and Cleveland",
                       "short_name" : "Redcar and Cleveland",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Guisborough TS14 6RD, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 54.5418866,
                          "lng" : -1.0387088
                       },
                       "southwest" : {
                          "lat" : 54.5386824,
                          "lng" : -1.0461214
                       }
                    },
                    "location" : {
                       "lat" : 54.5399146,
                       "lng" : -1.0435559
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 54.5418866,
                          "lng" : -1.0387088
                       },
                       "southwest" : {
                          "lat" : 54.5386824,
                          "lng" : -1.0461214
                       }
                    }
                 },
                 "place_id" : "ChIJ7cn_ZI3lfkgRd7rKuzvYZWM",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 22 Feb 2021 17:38:46 GMT
recorded_with: VCR 6.0.0
