---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=placeholder_key&language=en&latlng=54.5399146,-1.0435559&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "GXQ4+XH Guisborough, UK",
              "global_code" : "9C6WGXQ4+XH"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Lawrence Jackson School",
                       "short_name" : "Lawrence Jackson School",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "Church Lane",
                       "short_name" : "Church Ln",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Guisborough",
                       "short_name" : "Guisborough",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Redcar and Cleveland",
                       "short_name" : "Redcar and Cleveland",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "TS14 6RE",
                       "short_name" : "TS14 6RE",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Lawrence Jackson School, Church Ln, Guisborough TS14 6RE, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 54.541841,
                          "lng" : -1.043671
                       },
                       "southwest" : {
                          "lat" : 54.5405741,
                          "lng" : -1.045685
                       }
                    },
                    "location" : {
                       "lat" : 54.5412336,
                       "lng" : -1.0444932
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 54.5425565302915,
                          "lng" : -1.043329019708498
                       },
                       "southwest" : {
                          "lat" : 54.5398585697085,
                          "lng" : -1.046026980291502
                       }
                    }
                 },
                 "place_id" : "ChIJpXuqZY3lfkgRlpMCl5bfQHo",
                 "types" : [ "premise" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "23-41",
                       "short_name" : "23-41",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Mackie Drive",
                       "short_name" : "Mackie Dr",
                       "types" : [ [...]
