---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&latlng=54.54109829999999,-1.0450767&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"plus_code\" : \n   {\n      \"compound_code\" : \"GXR3+CXM
        Guisborough, UK\",\n      \"global_code\" : \"9C6WGXR3+CXM\"\n   },\n   \"results\"
        : \n   [\n      {\n         \"address_components\" : \n         [\n            {\n
        \              \"long_name\" : \"Lawrence Jackson School\",\n               \"short_name\"
        : \"Lawrence Jackson School\",\n               \"types\" : \n               [\n
        \                 \"premise\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Church Lane\",\n               \"short_name\"
        : \"Church Ln\",\n               \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Guisborough\",\n               \"short_name\" : \"Guisborough\",\n               \"types\"
        : [...]
