.govuk-grid-row
  .govuk-grid-column-full
    -if request.referrer
      = link_to t('nav.back'), request.referrer, class: 'govuk-back-link'
    -else
      = link_to t('nav.back'), root_path, class: 'govuk-back-link'
