.grey-background-box
  h2.govuk-heading-m = "Commuter"

  = f.govuk_collection_select :transportation_type,
      transportation_type_options,
      :downcase,
      :humanize,
      label: { text: "Travel type", size: "s" },
      class: %w[govuk-!-width-full],
      options: { selected: @form.transportation_type, include_blank: true },
      data: { action: "change->form#submitListener" }

  = f.govuk_collection_select :travel_time,
      travel_time_options,
      :to_i,
      :humanize,
      label: { text: "Max commute time", size: "s" },
      class: %w[govuk-!-width-full],
      form_group: { classes: "govuk-!-margin-bottom-0" },
      options: { selected: @form.travel_time, include_blank: true },
      data: { action: "change->form#submitListener" }
