section class="govuk-!-margin-top-3"
  .govuk-inset-text data-controller="clipboard"
    h3.govuk-heading-m = t("jobs.share_this_job")
    input[
      data-clipboard-target="source"
      data-description="vacancy_url"
      data-subject=StringAnonymiser.new(vacancy.id).to_s
      type="text"
      value=job_url(vacancy)
      readonly=true
      class="govuk-input govuk-!-width-two-thirds govuk-!-margin-bottom-2"
    ]
    button.govuk-button.govuk-button--secondary data-action="clipboard#copy"
      = t("buttons.copy_url")
      span.govuk-visually-hidden = " to clipboard for #{vacancy.job_title}"
