- if (params[:page].to_i >= 2)
  = content_for :head_links do
    %link{ href: root_url + "?page=" + (params[:page]), rel: "canonical" }/
- else
  = content_for :head_links do
    %link{ href: root_url, rel: "canonical" }/
- unless (path_to_next_page @vacancies).nil?
  = content_for :head_links do
    %link{ href: request.base_url + (path_to_next_page @vacancies).to_s.delete_prefix("/"), rel: "next" }/
- unless (path_to_prev_page @vacancies).nil?
  = content_for :head_links do
    %link{ href: request.base_url + (path_to_prev_page @vacancies).to_s.delete_prefix("/"), rel: "prev" }/
