:javascript
  const getSchools = () => {
    if (document.getElementById('map').dataset.schools) {
      return JSON.parse(document.getElementById('map').dataset.schools);
    }
    return false;
    };

  // Stops working if I change to const initMap() => {}
  function initMap() {
    const schools = getSchools();

    const bounds = new google.maps.LatLngBounds();

    const map = new google.maps.Map(document.getElementById('map'))

    // Use one infoWindow for all markers.
    // This means that only one infoWindow can be open at a time.
    const infoWindow = new google.maps.InfoWindow;
    
    schools.forEach((school) => {
      const contentString = `<p>${school.name_link}</p>` +
                            `<p>${school.address}</p>` +
                            `<p>${school.school_type}</p>`

      const latLng = { lat: school.lat, lng: school.lng };

      const marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: school.name
      });

      marker.addListener('click', function() {
        infoWindow.setContent(contentString);
        infoWindow.open(map, marker);
        map.setCenter(latLng);
      });

      bounds.extend(latLng);
    })

    map.setZoom(20) // Set maximum zoom before fitBounds zooms out

    map.fitBounds(bounds);

    // Close the infoWindow on clicking outside the infoWindow.
    google.maps.event.addListener(map, "click", function(event) {
      infoWindow.close();
    });
  };
