:javascript
  function initMap() {
    var myLatLng = {lat: #{lat}, lng: #{lng}};

    var map = new google.maps.Map(document.getElementById('map_zoom'), {
      zoom: 16,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: '#{name}'
    });
  }
