- content_for :page_title_prefix do
  #{@vacancy.job_title} - #{@vacancy.organisation_name}

- content_for :page_description do
  = strip_tags(@vacancy.job_summary)

.vacancy
  = render '/shared/vacancy/jobseeker_view'
