.govuk-grid-row class="govuk-!-margin-top-6"
  .govuk-grid-column-one-third
    = render "vacancies/listing/key_dates_sidebar", vacancy: vacancy, similar_jobs: similar_jobs
    - if vacancy.ect_suitable? || vacancy.enable_job_applications?
      = render "vacancies/listing/personal_statement_help", vacancy: vacancy

  .govuk-grid-column-two-thirds
    = render "vacancies/listing/multi_school_banner", vacancy: vacancy

    = render "vacancies/listing/job_details", vacancy: vacancy

    = render "vacancies/listing/organisation_details", vacancy: vacancy

    = render "vacancies/listing/similar_jobs", vacancy: vacancy,
                                               similar_jobs: similar_jobs,
                                               invented_job_alert_search_criteria: invented_job_alert_search_criteria
