.govuk-inset-text#job-alert-cta
  %spanjob-seeker-alert-icon
    %svg{ xmlns:"http://www.w3.org/2000/svg", width:"20", height:"16", viewBox:"0 0 20 16" }
      %path{ d:"M18 0H2C.9 0 0 .9 0 2v12a2 2 0 0 0 2 2h16c1.1 0 2-.9 2-2V2a2 2 0 0 0-2-2zm-.4 4.25l-7.07 4.42c-.32.2-.74.2-1.06 0L2.4 4.25a.85.85 0 1 1 .9-1.44L10 7l6.7-4.19a.85.85 0 1 1 .9 1.44zm0 0", fill:"#0b0c0c" }
      %image{ src: asset_pack_path("media/images/job-seeker-alert-icon.png") }
  = link_to t('subscriptions.link.text'), new_subscription_path(search_criteria: search_criteria), class: 'govuk-link', id: 'job-alert-link'
  = t('subscriptions.link.help_text')
