%h2.heading-medium
  Vacancy details

= f.input :contact_email,
          as: :email,
          label: 'Vacancy contact email',
          required: true

%div.form-group
  = f.gov_uk_date_field :expires_on, legend_text: 'Vacancy deadline date', legend_class: 'form-label-bold', form_hint_text: 'For example, 31 11 2017'

%div.form-group
  = f.gov_uk_date_field :publish_on, legend_text: 'Vacancy publication date', legend_class: 'form-label-bold', form_hint_text: 'For example, 31 10 2017'