- content_for :page_title_prefix, vacancy_listing_page_title_prefix(vacancy)

- content_for :page_description, t(".page_description", job_title: vacancy.job_title,
                                                        organisation: vacancy.organisation_name,
                                                        deadline: format_date(vacancy.expires_at, :date_only_shorthand))

- content_for :breadcrumbs do
  = govuk_breadcrumbs breadcrumbs: vacancy_breadcrumbs(vacancy)

- if vacancy.expired?
  - content_for :meta_no_index do
    meta name="robots" content="noindex"

= render "vacancies/listing/banner", vacancy: vacancy
