%h2.heading-medium
  Vacancy details

= f.input :expires_on,
          as: :date,
          label: 'Vacancy deadline date',
          hint: 'The deadline for receiving applications',
          order: %i[day month year],
          start_year: Date.today.year,
          include_blank: true,
          required: true
= f.input :publish_on,
          as: :date,
          label: 'Vacancy publication date',
          hint: 'The date the job vacancy should go live. Defaults to today',
          order: %i[day month year],
          start_year: Date.today.year,
          required: true