.vacancy.grid-row
  .column-two-thirds
    .govuk-box-highlight.margin-bottom-large
      %h1.heading-large.margin-top
        Vacancy submitted
      %p
        The system reference number is
        %br
        %strong.heading-medium=@vacancy.reference

    - if @vacancy.publish_today?
      %p
        The vacancy has been posted, you can view it here:
      %p
        = link_to vacancy_url(@vacancy), vacancy_path(@vacancy)
    - else
      %p
        The vacancy will be posted on #{@vacancy.publish_on}, you can preview it here:
      %p
        = link_to vacancy_url(@vacancy), vacancy_path(@vacancy)
