= render "shared/flash_messages"

= render partial: "vacancies/show"

script.jobref type="application/ld+json"
  == render(partial: "api/vacancies/show", formats: [:json], locals: { vacancy: @vacancy })
