---
http_interactions:
- request:
    method: get
    uri: https://services1.arcgis.com/ESMARspQHYMw9BZ9/arcgis/rest/services/Counties_and_Unitary_Authorities_April_2019_Boundaries_EW_BUC_2022/FeatureServer/0/query?f=pgeojson&outFields=CTYUA19NM&outSR=4326&resultOffset=0&resultRecordCount=20&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arcgis-Upstream:
      - us1h01c00
      X-Arcgis-Trace-Id:
      - hOySWJdO214L0BQsVPvUabzlsB5dvTNZ44VxtqqCEh9h-iB1wv4RBw==
      X-Arcgis-Correlation-Id:
      - 00-e517224d7c3da72ca1eb0fe65f2f8807-ba0f6c624760f1c6-00
      X-Arcgis-Instance:
      - i7tdixsfq000EP4
    body:
      encoding: ASCII-8BIT
      string: "\r\n{\r\n  \"error\" : \r\n  {\r\n    \"code\" : 499, \r\n    \"message\"
        : \"Token Required\", \r\n    \"messageCode\" : \"GWM_0003\", \r\n    \"details\"
        : [\r\n      \"Token Required\"\r\n    ]\r\n  }\r\n}"
  recorded_at: Tue, 18 Feb 2025 12:29:48 GMT
recorded_with: VCR 6.3.1
