---
http_interactions:
- request:
    method: get
    uri: https://services1.arcgis.com/ESMARspQHYMw9BZ9/arcgis/rest/services/Counties_and_Unitary_Authorities_April_2019_Boundaries_EW_BUC_2022/FeatureServer/0/query?f=pgeojson&outFields=CTYUA19NM&outSR=27700&resultOffset=0&resultRecordCount=20&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arcgis-Upstream:
      - us1h01c00-services
      X-Arcgis-Trace-Id:
      - 20251128T153354Z-1645667f544dsq4dhC1LONc4h80000002ung000000005qqz
      X-Arcgis-Correlation-Id:
      - 1b23fbae2aee46ae
      X-Arcgis-Instance:
      - i7tdixsfq00000M
      X-Fd-Int-Roxy-Purgeid:
      - '0'
    body:
      encoding: UTF-8
      string: "\r\n{\r\n  \"error\" : \r\n  {\r\n    \"code\" : 499, \r\n    \"message\"
        : \"Token Required\", \r\n    \"messageCode\" : \"GWM_0003\", \r\n    \"details\"
        : [\r\n      \"Token Required\"\r\n    ]\r\n  }\r\n}"
  recorded_at: Fri, 28 Nov 2025 15:33:54 GMT
recorded_with: VCR 6.3.1
