= form_tag url_for, method: "get" do
  = select_tag :reporting_period, options_for_select(FeedbackReportingPeriod.all.reverse.map { |rp| [rp.to_s, rp.from.strftime("%F")] }, params[:reporting_period]), class: "govuk-select govuk-!-margin-right-2"
  button.govuk-button.govuk-button--secondary = "Go"
