- content_for :page_title_prefix, "Job alert feedback"
- content_for :width_container_class, "app-width-container--full"

= render "tabs"
= render "reporting_period_control"
= render "tables", table_name: "job_alerts_feedback_table"
