- content_for :page_title_prefix, t(".title")

= render "tabs"
= render "reporting_period_control"
= render "tables", table_name: "job_alerts_feedback_table"
- download_params = { reporting_period: { from: @reporting_period.from, to: @reporting_period.to }, format: :csv }
= link_to "Download job alerts feedback report", support_users_feedback_job_alerts_path(download_params)
