.govuk-c-loader__spinner {
  animation: spin 1.5s infinite linear;
  bottom: 4px;
  left: 4px;
  position: absolute;
  transform: translateZ(0);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
