- summary_list.with_row do |row|
  - row.with_key text: field_desc, classes: "govuk-body-s govuk-!-font-weight-bold govuk-!-padding-bottom-0"
  - row.with_value text: field_value, classes: "govuk-body-s govuk-!-padding-bottom-0"
