@use "govuk-frontend/dist/govuk/helpers";

.js-enabled {
  .location-finder {
    display: block;

    @include helpers.govuk-media-query($from: tablet) {
      display: none;
    }
  }
}

.location-finder {
  @include helpers.govuk-font(16);
  display: none;
  position: relative;

  &__button {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
  }

  .govuk-c-loader {
    background: helpers.govuk-colour('white');
    left: 0;
    position: absolute;
    top: helpers.govuk-spacing(6);
    user-select: none;
    width: 100%;
  }

  .govuk-c-loader__label {
    line-height: helpers.govuk-spacing(5);
    vertical-align: top;
  }

  &__error {
    color: inherit;
    margin-top: helpers.govuk-spacing(2);
  }
}
