%details.govuk-details{ "data-module": "govuk-details" }
  %summary.govuk-details__summary
    %span.govuk-details__summary-text
      Add more filters
  .start-page-filters
    = render 'shared/filter_group', f: f, filters: service_start_page_filters_hash

