@import 'base_component';

.searchable-collection-component {
  .govuk-form-group {
    margin-bottom: 0;
  }

  &--scrollable {
    .govuk-form-group {
      max-height: 400px;
      overflow: auto;
    }
  }

  &--border {
    background-color: #fff;
    border: 2px solid $govuk-border-colour;
    padding: 0;

    .govuk-checkboxes__item,
    .govuk-radios__item {
      margin-left: govuk-spacing(2);
    }
  }

  &--job-search {
    border: 0;

    .govuk-checkboxes__item {
      margin-left: 0;
    }

    .govuk-fieldset {
      background-color: govuk-colour('light-grey');
    }

    .searchable-collection-component--border {
      background-color: govuk-colour('light-grey');
    }

    .searchable-collection-component__search {
      margin-left: 0;
    }

    .searchable-collection-component--scrollable {
      border: 3px solid transparent;
    }
  }

  &__search {
    background: #fff;
    margin: govuk-spacing(2);
    position: relative;

    .searchable-collection-component__search-input {
      display: block;
      padding-left: 40px;
      width: 100%;
    }

    .searchable-collection-component__search-button {
      background: transparent;
      border: 0;
      cursor: pointer;
      display: inline-block;
      left: 0;
      padding: 12px;
      position: absolute;
      top: 0;
      z-index: 2;
    }
  }
}
