@import 'base_component';

.searchable-collection-component {
  .govuk-form-group {
    margin-bottom: 0;
  }

  &--scrollable {
    .govuk-form-group {
      max-height: 400px;
      overflow: auto;
    }
  }

  &--border {
    background-color: #fff;
    border: 2px solid $govuk-border-colour;
    margin-top: govuk-spacing(2);
    padding: 0;

    .govuk-checkboxes__item,
    .govuk-radios__item {
      margin-left: govuk-spacing(2);
    }

    .searchable-collection-component__search {
      margin: govuk-spacing(2) govuk-spacing(2) govuk-spacing(3);
    }
  }

  &__search {
    background: #fff;
    margin: govuk-spacing(2) 0;
    position: relative;

    .searchable-collection-component__search-input {
      display: block;
      padding-left: 40px;
      width: 100%;
    }

    .searchable-collection-component__search-button {
      background: transparent;
      border: 0;
      cursor: pointer;
      display: inline-block;
      left: 0;
      padding: 12px;
      position: absolute;
      top: 0;
      z-index: 2;
    }
  }
}
