@import 'base_component';

.navbar-component {
  .navbar-component__navigation {
    @include govuk-media-query($from: desktop) {
      display: flex;

      &-spacer {
        flex-grow: 1;
      }

      &-item--left {
        align-self: flex-start;
      }

      &-item--right {
        align-self: flex-end;
      }
    }

    @include govuk-media-query($until: tablet) {
      &-spacer {
        visibility: hidden;
      }
    }
  }

  .govuk-header__navigation-item {
    input.govuk-header__link {
      @include govuk-font(16, $weight: bold);

      background-image: none;
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: govuk-colour('white');
      cursor: pointer;
      padding: 0;
    }
  }
}
