.govuk-header {
  .govuk-header__navigation {
    @include govuk-media-query($from: desktop) {
      display: flex;

      .govuk-header__navigation-spacer {
        flex-grow: 1;
      }

      .govuk-header__navigation-item--left {
        align-self: flex-start;
      }

      .govuk-header__navigation-item--right {
        align-self: flex-end;
      }
    }

    @include govuk-media-query($until: tablet) {
      .govuk-header__navigation-spacer {
        visibility: hidden;
      }
    }
  }
}
