---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=N7%207DD&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - London
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"N7 7DD\",\n
        \              \"short_name\" : \"N7 7DD\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Hornsey Road\",\n               \"short_name\"
        : \"Hornsey Rd\",\n               \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"London\",\n               \"short_name\" : \"London\",\n               \"types\"
        : \n  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=SE1%209NA&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - London
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n  [...]
