@function frontend-font-url($filename) {
  @return url('~assets/fonts/' + $filename);
}

@function frontend-image-url($filename) {
  @return url('~assets/images/' + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import '~govuk-frontend/govuk/all';
@import '~@ministryofjustice/frontend/moj/all';

@import '../src/lib/ui/patterns/autocomplete';
@import '../src/lib/ui/components/filterGroup';

@import 'global/variables';
@import 'base/mixins';
@import 'base/utilities';
@import 'components/awaiting_feedback_vacancies';
@import 'components/banners';
@import 'components/accordion_group';
@import 'components/check_your_answers';
@import 'components/currency-input';
@import 'components/feedback_form';
@import 'components/filter_vacancies';
@import 'components/flashes';
@import 'components/hiring-staff';
@import 'components/information_summary';
@import 'components/interruption-card';
@import 'components/key_dates_sidebar';
@import 'components/links';
@import 'components/loader';
@import 'components/location_finder';
@import 'components/modal_dialogue';
@import 'components/navigation';
@import 'components/notification';
@import 'components/og-preview';
@import 'components/pagination';
@import 'components/school';
@import 'components/schools-in-your-trust';
@import 'components/search_panel';
@import 'components/search_input';
@import 'components/select';
@import 'components/share-url';
@import 'components/signin';
@import 'components/sortable_links';
@import 'components/statistics';
@import 'components/step-by-step-navigation';
@import 'components/success_summary';
@import 'components/updates';
@import 'components/upload-documents';
@import 'components/vacancies';
@import 'components/vacancies-count';
@import 'components/vacancies-show';
@import 'components/vacancy';
@import 'ie';

input[type='search'] {
  box-sizing: border-box;
}

p {
  @include govuk-font(19);
}

.visually-hidden {
  height: 1px;
  left: -9999em;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.hide-bullet-points {
  list-style: none;
}

.hide-bullet-points li {
  margin: 5px 0;
}

.add-colon-positioned-next-to-element {
  position: relative;

  &::after {
    bottom: 10px;
    content: ':';
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    right: -13px;
  }
}

.navigation_heading {
  color: govuk-colour('white');
  font-weight: bold;
  margin-top: 20px;

  @include govuk-media-query($from: desktop) {
    display: none;
  }
}

.govuk-header__container {
  border-bottom: 10px solid govuk-colour('orange');
}
