@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";

// @import 'base/frontend';
@import 'global/variables';
@import 'base/mixins';
@import 'base/utilities';
@import 'components/feedback_form';
@import 'components/filter_vacancies';
@import 'components/search_panel';
@import 'components/signin';
@import 'components/vacancies-count';
@import 'components/vacancies';
@import 'components/vacancy';
@import 'components/currency-input';
@import 'components/banners';
@import 'components/school';
@import 'components/sortable_links';
@import 'components/flashes';
@import 'components/links';
@import 'components/share-url';
@import 'components/check_your_answers';
@import 'components/pagination';
@import 'components/statistics';
@import 'components/navigation';
@import 'components/notification';
@import 'components/og-preview';
@import 'components/hiring-staff';
@import 'components/select';
@import 'components/checkboxes';
@import 'components/awaiting_feedback_vacancies';
@import 'components/location_finder';
@import 'components/loader';
@import 'components/upload-documents';
@import 'ie';

input[type='search'] {
  box-sizing: border-box;
}

p {
  @include govuk-font(19);
}

.visually-hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hide-bullet-points {
  list-style: none;
}

.hide-bullet-points li{
  margin: 5px 0;
}

.add-colon-positioned-next-to-element {
  position: relative;

  &::after {
    content: ':';
    position: absolute;
    right: -13px;
    bottom: 10px;
    font-size: 21px;
    font-weight: bold;
  }
}

.navigation_heading{
  color: white;
  font-weight: bold;
  margin-top: 20px;

  @include govuk-media-query($from: desktop) {
    display: none;
  }
}
