li.icon.icon--left.icon--document
  = govuk_link_to(document.name, document.download_url, class: "document-link-component__link", target: "_blank")
  = " #{number_with_precision(document.size / 1024.0 / 1024.0, precision: 2)} MB"
