@import 'base_component';

.document-link-component {
  border: 1px solid govuk-colour("mid-grey");
  list-style-type: none;
  margin-block-end: 1em;
  padding: govuk-spacing(3);

  li {
    margin-bottom: govuk-spacing(2);

    &:last-child {
      margin-bottom: 0;
    }

    &__link {
      text-decoration: none;
      word-wrap: break-word;

      svg {
        float: left;
        margin-right: 0.5rem;
        margin-top: 0.3rem;
      }
    }
  }
}
