%div{ id: 'map', role: 'presentation', aria: { hidden: 'true', label: 'Interactive map showing search polygon' }, data: { polygon: polygon, organisations_map_data: organisations_map_data } }
%script{ defer: true, src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap"}
