.govuk-footer {
  &__list {
    padding-bottom: govuk-spacing(7);
  }

  &__navigation {
    .govuk-footer__link {
      border: 0;
      margin-bottom: 0;
      padding: 0;
      // prevent button-to's in footer
      // having a button-like background
      background-color: inherit;
    }
  }
}
