@use "govuk-frontend/dist/govuk/helpers";

.govuk-header {
  border-bottom: helpers.govuk-spacing(2) solid helpers.govuk-functional-colour(brand);

  @include helpers.govuk-media-query($from: desktop) {
    &__container {
      align-items: center;
      display: flex;
    }

    &__logo {
      flex-grow: 1;
    }

    &__content {
      flex-basis: auto;
      width: auto;
    }
  }

  &__navigation-list {
    display: flex;
    flex-wrap: wrap;
    gap: helpers.govuk-spacing(2) helpers.govuk-spacing(4);
    list-style: none;
    margin: 0;
    padding: 0;

    @include helpers.govuk-media-query($from: desktop) {
      justify-content: flex-end;
      padding: helpers.govuk-spacing(1) 0;
    }
  }

  &__navigation-item--active a {
    font-weight: 700;
  }

  &__link {
    @include helpers.govuk-font($size: 16);
    @include helpers.govuk-link-style-inverse;

    text-decoration: none;

    &:hover {
      text-decoration: underline 3px;
    }
  }

  &__homepage-link {
    font-size: 30px;
    line-height: 1;
  }

  &__navigation {
    .count-badge {
      background-color: helpers.govuk-colour('white');
      border-radius: helpers.govuk-spacing(1);
      color: helpers.govuk-colour('black');
      font-weight: bold;
      margin-left: helpers.govuk-spacing(1);
      padding: 0 helpers.govuk-spacing(1);
    }
  }
}

.sub-navigation {
  background-color: helpers.govuk-colour('black', $variant: 'tint-95');

  .tabs-component {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.govuk-phase-banner {
  border-bottom: 0;
}
