.help-guide {
  &--border-bottom {
    border-bottom: 1px solid govuk-functional-colour(border);
  }

  &--desktop {
    background-color: govuk-colour('black', $variant: 'tint-95');
    padding: govuk-spacing(3);

    @include govuk-media-query($until: desktop) {
      display: none;
    }
  }

  &--mobile {
    margin-bottom: govuk-spacing(3);
    padding-bottom: govuk-spacing(4);

    @include govuk-media-query($from: desktop) {
      display: none;
    }
  }
}
