@use "govuk-frontend/dist/govuk/helpers";

.help-guide {
  &--border-bottom {
    border-bottom: 1px solid helpers.govuk-functional-colour(border);
  }

  &--desktop {
    background-color: helpers.govuk-colour('black', $variant: 'tint-95');
    padding: helpers.govuk-spacing(3);

    @include helpers.govuk-media-query($until: desktop) {
      display: none;
    }
  }

  &--mobile {
    margin-bottom: helpers.govuk-spacing(3);
    padding-bottom: helpers.govuk-spacing(4);

    @include helpers.govuk-media-query($from: desktop) {
      display: none;
    }
  }
}
