.js-enabled .govuk-accordion__section-content {
  padding: 0;
}

.govuk-accordion__controls {
  display: none;
}

.govuk-accordion__title {
  .govuk-accordion__icon {
    display: none;
  }
}

.govuk-accordion__section-button {
  font-size: 1.2rem;
  padding: 0 0 govuk-spacing(1) 0;
}
