.checkbox-label__bold .govuk-checkboxes__item label {
  font-weight: $bold-font-weight;
}

.accordion-content__group .govuk-accordion__section--expanded {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: govuk-spacing(2);
}

.js-enabled .govuk-accordion__section-content {
  padding: 0;
}

.govuk-accordion__controls {
  display: none;
}

.govuk-accordion__title {
  .govuk-accordion__icon {
    display: none;
  }
}

.govuk-accordion__section-button {
  font-size: 1.2rem;
  padding: 0 0 govuk-spacing(1) 0;
}

.moj-filter__selected {
  box-shadow: none;
  padding: govuk-spacing(2);
  position: relative;
}

.moj-filter__heading-action {
  position: absolute;
  right: govuk-spacing(2);
  top: govuk-spacing(2);

  p {
    margin: 0;
  }
}
