.employment-break {
  .govuk-accordion__section-header {
    display: none;
  }
}

.employment-history-gap {
  border-left: 10px solid govuk-colour('light-blue');
}

.job-application-review-banner {
  background-color: govuk-colour('white');

  .govuk-button-group {
    border-bottom: 1px solid $govuk-border-colour;

    .view-listing-link {
      margin-left: auto;
    }
  }
}
