.employment-break {
  .govuk-accordion__section-header {
    display: none;
  }
}

.employment-history-gap {
  border-left: 10px solid govuk-colour('light-blue');
}


.job-application-review-banner {
  background-color: govuk-colour('white');

  .application-status {
    align-items: end;
    display: flex;
    flex-direction: row;

    .status-tag {
      margin-left: auto;
    }
  }

  .govuk-button-group {
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: $govuk-gutter;
    padding-bottom: govuk-spacing(3);

    .view-listing-link {
      margin-left: auto;
    }
  }
}
