@mixin dashboard {
  left: 50%;
  margin-left: -50vw;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  width: 100vw;

  @include govuk-media-query ($from: desktop) {
    .dashboard__header .govuk-width-container {
      position: relative;

      .moj-action-bar {
        position: absolute;
        right: 0;
        top: -45px;

        .moj-action-bar__filter {
          box-shadow: 1px 1px 1px 1px $govuk-border-colour;

          &::after {
            width: 0;
          }
        }
      }
    }
  }

  > .govuk-width-container {
    background-color: inherit;
  }

  .moj-primary-navigation {
    background: none;

    .moj-primary-navigation__container {
      margin: 0;
  
      @include govuk-media-query ($until: desktop) {
        .moj-primary-navigation__item {
          display: block;
          line-height: 1;
          margin-bottom: 0;

          .moj-primary-navigation__link {
            padding: govuk-spacing(2);
          }
      
          .moj-primary-navigation__link[aria-current] {
            border-left: govuk-spacing(1) solid $govuk-link-colour;
      
            &::before {
              background-color: transparent;
            }
          }
        }
      }

      .moj-primary-navigation__link[aria-current] {
        color: govuk-colour('black');
      }
    }
  }
}
