.govuk-select {
  &.govuk-input--error {
    border: 4px solid $govuk-error-colour;
  }
}

.button-link {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: $govuk-link-colour;
  display: block;
  padding: 0;
  text-decoration: underline;
}

.button-link:hover {
  background-color: transparent;
  color: $govuk-link-hover-colour;
  text-decoration: underline;
}

.clear-form {
  @media only screen and (max-width: 882px) {
    flex-wrap: wrap;

    .govuk-form-group {
      flex-basis: 100%;
    }
  }

  .govuk-checkboxes__item {
    margin-bottom: govuk-spacing(6);
    margin-left: govuk-spacing(4);
  }

  .clear-form__checkbox {
    align-items: baseline;
    align-self: flex-end;
    display: flex;

    &::before {
      @include govuk-font($size: 19);
      content: 'Or';
    }
  }
}

.inline-fields-container {
  display: flex;

  .govuk-form-group {
    // Align fields vertically if e.g. one field has an inline error
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: govuk-spacing(3);
    white-space: nowrap;

    &.govuk-form-group--error:not(:first-of-type) {
      // Remove vertical red error bar
      border-left: 0;
    }

    &:first-of-type:not(.govuk-form-group--error) {
      padding-left: 0;
    }
  }

  &:first-of-type {
    .button_to {
      visibility: hidden;
    }
  }
}

.js-enabled {
  form[data-auto-submit='true'][data-hide-submit='true'] {
    .govuk-button {
      display: none;
    }
  }
}
