.govuk-select {
  &.govuk-input--error {
    border: 4px solid $govuk-error-colour;
  }
}

.optional-field {
  .govuk-label,
  .govuk-fieldset__heading {
    &::after {
      @include govuk-font($size: 16, $weight: regular);
      content: '(optional)';
      margin-left: govuk-spacing(1);
    }
  }

  .govuk-checkboxes__label,
  .govuk-radios__label,
  .govuk-date-input__label {
    &::after {
      content: '';
      margin-left: 0;
    }
  }
}

.button-link {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: $govuk-link-colour;
  display: block;
  padding: 0;
  text-decoration: underline;
}

.button-link:hover {
  background-color: transparent;
  color: $govuk-link-hover-colour;
  text-decoration: underline;
}

.clear-form {
  display: flex;
  @media only screen and (max-width: 882px) {
    flex-wrap: wrap;

    .govuk-form-group {
      flex-basis: 100%;
    }
  }

  .govuk-checkboxes__item {
    margin-bottom: govuk-spacing(6);
    margin-left: govuk-spacing(4);
  }

  .clear-form__checkbox {
    align-items: baseline;
    align-self: flex-end;
    display: flex;

    &::before {
      @include govuk-font($size: 19);
      content: 'Or';
    }
  }
}

.inline-form-group {
  display: inline-block;

  &.inline-grade {
    $width: govuk-grid-width(one-third);
    $padding-left: govuk-spacing(3);
    padding-left: $padding-left;
    width: calc(#{$width} - #{$padding-left});
  }

  &.inline-subject {
    width: govuk-grid-width(two-thirds);
  }
}

.js-enabled {
  form[data-auto-submit='true'][data-hide-submit='true'] {
    .govuk-button {
      display: none;
    }
  }
}
