.app-search-form-container {
  padding: govuk-spacing(4);
  color: #fff;
  background: url('../../images/TVS-logo.png') no-repeat 100% 10px/120px auto govuk-colour("dark-blue");

  .govuk-button {
    margin: 0;
  }

  .govuk-form-group {
    margin-bottom: govuk-spacing(3);
  }

  .govuk-label,
  .govuk-hint,
  .govuk-link,
  h1 {
    color: #fff;
  }

  h1 {
    padding-right: 100px;
  }

  .govuk-hint {
    @include govuk-font(16);
  }

  .govuk-link:focus {
    color: $govuk-focus-text-colour;
  }

  .app-advanced-search {
    margin-left: govuk-spacing(2);
  }

  .govuk-button {
    margin-top: govuk-spacing(2);
    width: auto;
  }

  @include govuk-media-query($from: 800px) {
    padding: govuk-spacing(6);
    background: url('../../images/TVS-logo.png') no-repeat 100% 10px/150px auto govuk-colour("dark-blue");

    h1 {
      padding-right: 150px;
    }

    .govuk-button,
    .govuk-form-group {
      margin: 0;
    }
  }
}

.app-search-form-inner {
  & > div:last-child {
    display: flex;
    align-items: center;
  }

  @include govuk-media-query($from: 800px) {
    display: flex;
    align-items: end;

    & > div {
      width: 33.33%;
      padding-right: 30px;
    }
  }
}
