.icon {
  background-repeat: no-repeat;
}

.icon--right {
  background-position: right;
  padding-right: 30px;
}

.icon--left {
  padding-left: 30px;
}

.icon--alert-white {
  background-image: url('../../images/svg/icon-alert-white.svg');
}

.icon--alert-blue {
  background-image: url('../../images/svg/icon-alert-blue.svg');
}

.icon--save {
  background-image: url('../../images/svg/icon-save.svg');
}

.icon--saved {
  background-image: url('../../images/svg/icon-saved.svg');
}

.icon--document {
  background-image: url('../../images/svg/icon-document.svg');
}

.icon--info {
  background-image: url('../../images/svg/icon-info.svg');
}

.icon--warning {
  background-image: url('../../images/svg/icon-warning.svg');
}

.icon--start {
  background-image: url('../../images/svg/icon-start.svg');
}

.icon--check {
  background-image: url('../../images/svg/icon-check.svg');
}

.icon--search {
  background-image: url('../../images/svg/icon-search.svg');
  background-position: 10px;
}

.icon--cross {
  background-image: url('../../images/svg/icon-cross.svg');
}
