.govuk-panel {
  &.govuk-panel--confirmation {
    margin-bottom: govuk-spacing(6);

    &::before {
      background-color: rgba(255, 255, 255, 0.1);
      background-image: url('../../images/svg/icon-check.svg');
      background-position: 15px;
      background-repeat: no-repeat;
      border-radius: 50%;
      content: ' ';
      display: block;
      height: 70px;
      margin: 15px auto;
      width: 70px;
    }
  }

  .govuk-panel__body {
    @include govuk-font(19);
  }
}
