.signin {
  @include govuk-responsive-padding(5);
  background-color: govuk-colour('dark-blue');
  margin-bottom: govuk-spacing(5);
  margin-top: govuk-spacing(3);

  h2,
  p,
  .govuk-link:not(:focus) {
    color: govuk-colour('white');
  }

  &--colour-variant {
    background-color: govuk-colour('light-grey');

    h2,
    p,
    .govuk-link:not(:focus) {
      color: govuk-colour('black');
    }
  }

  &--sticky-variant {
    bottom: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;

    &__fade {
      background: linear-gradient($govuk-border-colour, transparent);
      height: 6px;
    }

    &__content {
      align-items: center;
      color: govuk-colour('white');
      display: flex;
      justify-content: center;
      padding: govuk-spacing(2);

      @include govuk-media-query($until: tablet) {
        display: block;
      }

      a {
        color: govuk-colour('white');
      }

      p {
        color: govuk-colour('white');
        @include govuk-media-query($until: tablet) {
          margin-left: govuk-spacing(1);
        }
      }

      &-button {
        display: inline;
        justify-content: flex-start;
        left: 2px;
        margin-bottom: govuk-spacing(1);
        margin-right: govuk-spacing(4);
        position: relative;
        top: 2px;

        @include govuk-media-query($until: tablet) {
          margin-bottom: govuk-spacing(2);
        }
      }
    }
  }
}
