.signin {
  @include govuk-responsive-padding(5);
  background-color: govuk-colour('dark-blue');
  margin-bottom: govuk-spacing(5);
  margin-top: govuk-spacing(3);

  h2,
  p,
  .govuk-link:not(:focus) {
    color: govuk-colour('white');
  }
}

.job-alert-signin {
  @include govuk-responsive-padding(5);
  margin-bottom: govuk-spacing(5);

  &__submit {
    width: 100%;
  }

  &__prompt {
    text-align: center;
  }

  .wrap-email {
    word-break: break-all;
  }

  input[type='submit'] {
    white-space: normal;
    word-break: break-word;
  }

  &--blue {
    background-color: govuk-colour('blue');

    .govuk-link:not(:focus) {
      color: govuk-colour('white');
    }

    * {
      color: govuk-colour('white');
    }

    input[type='password'] {
      color: govuk-colour('black');
    }
  }

  &--grey {
    background-color: govuk-colour('light-grey');

    .govuk-link:not(:focus) {
      color: govuk-colour('black');
    }

    input[type='submit'] {
      color: govuk-colour('white');
    }
  }
}
