@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel.no-border-override {
    border-style: none;
    padding-left: 0;
    padding-right: 0;
  }
}

a.govuk-tabs__tab.tab-links-override:link,
.govuk-tabs__tab.tab-links-override:visited,
a.js-enabled .govuk-tabs__tab.tab-links-override:link,
a.js-enabled .govuk-tabs__tab.tab-links-override:visited {
  color: $govuk-link-colour;
}

li.govuk-tabs__list-item--selected > a.govuk-tabs__tab.govuk-tabs__tab.tab-links-override,
a.govuk-tabs__tab.tab-links-override:focus,
a.js-enabled .govuk-tabs__tab.tab-links-override:focus {
  color: $govuk-link-active-colour;
}

.moj-primary-navigation {
  background: none;

  @include govuk-media-query ($until: desktop) {
    .moj-primary-navigation__item {
      display: block;
      line-height: 1;
    }

    .moj-primary-navigation__link {
      padding: govuk-spacing(2);
    }

    .moj-primary-navigation__link[aria-current] {
      border-left: 5px solid $govuk-link-colour;

      &::before {
        background-color: transparent;
      }
    }
  }

  .moj-primary-navigation__container {
    margin: 0;
  }
}
