.keyword-text {
  @include govuk-responsive-margin(3, 'bottom');
}

//old inset_text.scss
.govuk-inset-text {
  .govuk-summary-list__value & {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

//these should be details component
.employment-break {
  .govuk-accordion__section-header {
    display: none;
  }
}
