p {
  @extend .govuk-body;
}

dl {
  @extend .govuk-body-s;
  margin-bottom: govuk-spacing(1);
  margin-top: 0;

  @include govuk-media-query($from: desktop) {
    dt,
    dd {
      display: inline-block;
    }


    dd {
      margin-left: govuk-spacing(1);

      .govuk-list--spaced {
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  dd {
    margin-left: 0;
  }
}

@media print {
  .govuk-header,
  .govuk-breadcrumbs,
  .govuk-footer {
    display: none !important;
  }
}
