@use "govuk-frontend/dist/govuk/helpers";

.govuk-width-container {
  @include helpers.govuk-width-container;
}

p {
  @extend .govuk-body;
}

dl {
  @extend .govuk-body-s;
  margin-bottom: helpers.govuk-spacing(1);
  margin-top: 0;

  @include helpers.govuk-media-query($from: desktop) {
    dt,
    dd {
      display: inline-block;
    }

    dd {
      margin-left: helpers.govuk-spacing(1);

      .govuk-list--spaced {
        li {
          margin-bottom: helpers.govuk-spacing(4);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .editor-rendered-content ul:not([class]) {
        margin-bottom: 0;
      }
    }
  }

  dd {
    margin-left: 0;
  }
}

.govuk-panel {
  &__body {
    overflow-wrap: break-word;
  }
}

@media print {
  .govuk-header,
  .govuk-breadcrumbs,
  .govuk-footer {
    display: none !important;
  }
}
