.wordwrap {
  word-wrap: break-word;
}

.link-wrap {
  overflow-wrap: break-word;
  word-break: break-word;
}

.strong {
  font-weight: bold;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-top {
  vertical-align: top;
}

.align-items-center {
  align-items: center;
}

.nobreak {
  white-space: nowrap;
}

.text-red {
  color: govuk-colour('red');
  font-weight: bold;
}

.text-capitalize {
  text-transform: capitalize;
}

.divider-bottom {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(4);
}

.two-column-list {
  column-count: 2;
}

.govuk-form-group--error {
  select {
    border: 4px solid $govuk-error-colour;
  }
}

.govuk-link * {
  color: $govuk-link-colour;

  &:hover {
    color: $govuk-link-hover-colour;
  }
}

.grouped-text-block {
  border: govuk-spacing(1) solid $govuk-border-colour;
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(3) govuk-spacing(3) 0;

  ul li {
    margin-bottom: 0;
  }
}

.grey-border-box {
  border: govuk-spacing(1) solid govuk-colour('mid-grey');
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(5);

  &--thin {
    border: 1px solid govuk-colour('mid-grey');
    margin-bottom: govuk-spacing(5);
    padding: govuk-spacing(3);
  }
}

.heading--border-bottom {
  border-bottom: govuk-spacing(1) solid $govuk-border-colour;
  padding-bottom: govuk-spacing(2);
}

.js-action {
  display: none !important;
}

.js-enabled {
  .js-action {
    display: inherit !important;
  }

  .js-hidden {
    display: none !important;
  }
}

.contained-image {
  max-width: 100%;

  &--logo {
    max-width: 300px;
  }
}

.header-with-logo {
  align-items: center;
  display: flex;

  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(2);
  }

  &-title {
    display: flex;
    flex-direction: column;
  }

  &-logo {
    margin-right: govuk-spacing(3);

    &--search-result {
      align-items: center;
      display: flex;
      height: 70px;
      justify-content: center;
      margin-right: govuk-spacing(3);
      width: 70px;
    }
  }

  img {
    max-height: 70px;
    max-width: 70px;
  }
}
