.mt0 {
  margin-top: 0;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: $govuk-gutter;
}

.mb0 {
  margin-bottom: 0;
}

.mt1 {
  margin-top: $govuk-gutter;
}

.wordwrap {
  word-wrap:break-word;
}

.overflow-scroll {
  @include govuk-media-query($until: tablet) {
    overflow: scroll;
  }
}

.strong {
  font-weight: bold;
}

.display-none {
  display: none;
}

.inline {
  display: inline;
}

.nobreak {
  white-space: nowrap;
}