.flash.notice
  .small This service is still in development, so for now only lists jobs in select schools in Cambridgeshire and the North East. When it launches, the full service will list jobs in schools throughout England.
  .small
    Interested in listing jobs at your school? Email
    =mail_to 'isobel.croot@digital.education.gov.uk'
    for more information.