.flash.notice
  .small This service is in development. It currently lists jobs in select schools in Cambridgeshire and the North East. When the service launches nationally, schools throughout England will be able to list jobs.
  .small
    To register your school’s interest, email #{mail_to I18n.t('help.email')}.