-# for options see https://www.rubydoc.info/gems/govuk_design_system_formbuilder/GOVUKDesignSystemFormBuilder/Builder#govuk_collection_check_boxes-instance_method
.tv-checkbox__group
  - if search
    .search-input
      %input.govuk-input.search-input__input{ placeholder: "Search" }
      %button{type: "submit"}
        %i.fa.fa-search
  = f.govuk_collection_check_boxes attribute_name,
    options,
    value_method,
    text_method,
    hint_method = hint_method,
    small: small
