- flash.each do |style, message|
  .js-dismissable.mb1{role: 'alert', tabindex: '-1', class: "flash flash-#{style}"}
    - unless style == 'error'
      %a.govuk-link.govuk-link--no-visited-state.dismiss-link.js-dismissable__link{ href: '#' }
        = t('buttons.dismiss')
    = message
