%script{async: true,  src: "https://www.googletagmanager.com/gtag/js?id=#{ENV['GOOGLE_ANALYTICS']}"}

:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', "#{ENV['GOOGLE_ANALYTICS']}", { 'anonymize_ip': true, 'linker': {
     'domains': ['gov.uk/find-teaching-job', 'gov.uk/guidance/list-a-teaching-job-at-your-school-on-teaching-vacancies'],
    'accept_incoming': 'true' }
  });
