%a.govuk-skip-link{ href: "#main-content" } Skip to main content
- if params[:controller] == "vacancies" && params[:action] == "index"
  %a.govuk-skip-link{ href: "#vacancies-hits" } Skip to search results
