- filters_component.with_group key: "subjects", title: t("jobs.filters.subject"), component: searchable_collection(collection: f.govuk_collection_check_boxes(:subjects,
    SUBJECT_OPTIONS,
    :first,
    :first,
    :last,
    small: true,
    legend: nil,
    hint: nil),
    collection_count: SUBJECT_OPTIONS.count,
    options: { scrollable: true },
    text: { aria_label: t("jobs.filters.subject"), placeholder: t("helpers.hint.publishers_job_listing_subjects_form.subjects_placeholder") })
