%h1.govuk-heading-m
  = @vacancy.present? ? page_title(@vacancy) : t('jobs.create_a_job_title', organisation: current_organisation.name)
  - unless %w(copy edit edit_published).include?(@vacancy&.state)
    %span.govuk-caption-m
      = t('jobs.current_step', step: current_step,  total: total_steps)
