- copy = false if local_assigns[:copy].nil?
= f.hidden_field :state, value: copy ? 'copy' : @vacancy&.published? ? 'edit_published' : %w(review edit).include?(@vacancy&.state) ? @vacancy.state : 'create'
