- if @vacancy.published?
  = f.govuk_submit t('buttons.update_job')
- else
  = f.govuk_submit t('buttons.save_and_continue') do
    %br
    = link_to t('buttons.save_and_return'), jobs_with_type_school_path('draft'), class: 'govuk-link'    
