- if @vacancy&.published? || %w(copy edit edit_published review).include?(@vacancy&.state)
  = f.govuk_submit t('buttons.update_job'), classes: 'update-listing-gtm'
- else
  = f.govuk_submit t('buttons.save_and_continue'), classes: 'govuk-!-margin-bottom-5 save-listing-gtm'
  = f.govuk_submit t('buttons.save_and_return_later'), secondary: true, classes: 'button-link save-and-return-listing-gtm'
