@import 'base_component';

.js-enabled {
  .map-component {
    &__map {
      border: 1px solid $govuk-border-colour;
      height: 400px;
      margin-bottom: govuk-spacing(4);
      margin-top: govuk-spacing(4);
      width: 100%;

      &__marker--default {
        background-color: govuk-colour('red');
        border: 1px solid $govuk-input-border-colour;
        border-radius: 12px;

        span {
          color: govuk-colour('light-grey');
          display: block;
          font-weight: bold;
          line-height: govuk-spacing(4);
          text-align: center;
        }
      }

      &__popup {
        margin-bottom: 32px;
        margin-left: 2px;
      }
    }
  }
}
