@import 'base_component';

.js-enabled {
  .map-component {
    &__map {
      border: 1px solid $govuk-border-colour;
      height: 400px;
      margin-bottom: govuk-spacing(4);
      margin-top: govuk-spacing(4);
      width: 100%;

      &__marker {
        &:focus {
          outline: $govuk-focus-width solid $govuk-focus-colour;
        }
      }

      &__cluster {
        background-color: govuk-colour('light-blue');
        border: 2px solid $govuk-input-border-colour;
        border-radius: 50%;

        &:focus {
          outline: $govuk-focus-width solid $govuk-focus-colour;
        }

        span {
          color: govuk-colour('white');
          display: block;
          font-size: 1.2em;
          line-height: 2 !important;
          text-align: center;
        }

        &--medium {
          background-color: govuk-colour('blue');
        }

        &--large {
          background-color: govuk-colour('dark-blue');
        }
      }

      &__popup {
        margin-bottom: 32px;
        margin-left: 2px;

        .pop-up * {
          font-size: 1.1em;
        }
      }
    }
  }
}
