@import 'base_component';

.js-enabled {
  .map-component {
    &__map {
      border: 1px solid $govuk-border-colour;
      height: 400px;
      margin-bottom: govuk-spacing(4);
      margin-top: govuk-spacing(4);
      width: 100%;

      &__marker--default {
        background-color: govuk-colour('red');
        border: 1px solid $govuk-input-border-colour;
        border-radius: 12px;

        span {
          color: govuk-colour('light-grey');
          display: block;
          line-height: govuk-spacing(5);
          text-align: center;
        }
      }

      &__cluster--default {
        background-color: govuk-colour('green');
        border: 1px solid $govuk-input-border-colour;

        span {
          @include govuk-font(19);
          color: govuk-colour('white');
          display: block;
          line-height: govuk-spacing(9);
          text-align: center;
        }
      }

      &__popup {
        margin-bottom: 32px;
        margin-left: 2px;

        .pop-up * {
          font-size: 1.1em;
        }
      }
    }
  }
}
