@import 'base_component';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.js-enabled {
  .sidebar-component {
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    border: 1px solid $govuk-border-colour;
    box-shadow: 1px 1px 2px govuk-colour('mid-grey');
    display: none;
    max-height: 300px;
    opacity: 1;
    overflow: scroll;
    position: relative;

    @include govuk-media-query($from: desktop) {
      max-height: 380px;
    }

    &:focus {
      outline: $govuk-focus-width solid $govuk-focus-colour;
    }

    &--visible {
      background-color: govuk-colour('white');
      display: block;
      left: govuk-spacing(2);
      margin-right: govuk-spacing(2);
      position: absolute;
      top: govuk-spacing(2);
      width: 94%;
      z-index: 3000;

      @include govuk-media-query($from: desktop) {
        left: govuk-spacing(2);
        width: 46%;
      }
    }

    &__close {
      background-color: transparent;
      background-position: 2px 3px;
      border: 0;
      margin-bottom: 0;
      padding-left: govuk-spacing(4);
      position: absolute;
      right: 5px;
      top: 8px;

      &:focus {
        outline: $govuk-focus-width solid $govuk-focus-colour;
      }
    }

    &__content {
      min-height: 250px;
      padding: govuk-spacing(4) govuk-spacing(3) govuk-spacing(2) govuk-spacing(3);

      dl {
        margin-bottom: govuk-spacing(2);
      }

      dl,
      dd {
        display: block;
      } 

      .govuk-list {
        margin-bottom: 0;
      }
    }
  }
}
