.govuk-grid-row
  .govuk-grid-column-one-third
    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "north-west"
      - group.with_landing_page "cheshire-east"
      - group.with_landing_page "cheshire-west-and-chester"
      - group.with_landing_page "halton"
      - group.with_landing_page "lancashire"
      - group.with_landing_page "merseyside"
      - group.with_landing_page "manchester"
      - group.with_landing_page "warrington"

    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "yorkshire-and-the-humber"
      - group.with_landing_page "east-riding"
      - group.with_landing_page "north-yorkshire"
      - group.with_landing_page "south-yorkshire"
      - group.with_landing_page "west-yorkshire"

    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "north-east"
      - group.with_landing_page "county-durham"
      - group.with_landing_page "middlesbrough"
      - group.with_landing_page "northumberland"
      - group.with_landing_page "redcar"
      - group.with_landing_page "tyne-and-wear"

  .govuk-grid-column-one-third
    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "london"
      - group.with_landing_page "barnet"
      - group.with_landing_page "bexley"
      - group.with_landing_page "brent"
      - group.with_landing_page "bromley"
      - group.with_landing_page "camden"
      - group.with_landing_page "croydon"
      - group.with_landing_page "ealing"
      - group.with_landing_page "enfield"
      - group.with_landing_page "greenwich"
      - group.with_landing_page "hackney"
      - group.with_landing_page "havering"
      - group.with_landing_page "harrow"
      - group.with_landing_page "hounslow"
      - group.with_landing_page "islington"
      - group.with_landing_page "havering"
      - group.with_landing_page "lambeth"
      - group.with_landing_page "lewisham"
      - group.with_landing_page "merton"
      - group.with_landing_page "newham"
      - group.with_landing_page "redbridge"
      - group.with_landing_page "southwark"
      - group.with_landing_page "sutton"
      - group.with_landing_page "wandsworth"
      - group.with_landing_page "westminster"

    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "south-east"
      - group.with_landing_page "berkshire"
      - group.with_landing_page "buckinghamshire"
      - group.with_landing_page "east-sussex"
      - group.with_landing_page "hampshire"
      - group.with_landing_page "isle-of-wight"
      - group.with_landing_page "oxfordshire"
      - group.with_landing_page "surrey"
      - group.with_landing_page "kent"
      - group.with_landing_page "west-sussex"

    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "south-west"
      - group.with_landing_page "cornwall"
      - group.with_landing_page "devon"
      - group.with_landing_page "dorset"
      - group.with_landing_page "gloucestershire"
      - group.with_landing_page "somerset"
      - group.with_landing_page "wiltshire"

  .govuk-grid-column-one-third
    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "west-midlands"
      - group.with_landing_page "birmingham"
      - group.with_landing_page "coventry"
      - group.with_landing_page "dudley"
      - group.with_landing_page "herefordshire"
      - group.with_landing_page "sandwell"
      - group.with_landing_page "shropshire"
      - group.with_landing_page "solihull"
      - group.with_landing_page "staffordshire"
      - group.with_landing_page "walsall"
      - group.with_landing_page "warwickshire"
      - group.with_landing_page "worcestershire"
      - group.with_landing_page "wolverhampton"

    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "east-midlands"
      - group.with_landing_page "derbyshire"
      - group.with_landing_page "leicestershire"
      - group.with_landing_page "lincolnshire"
      - group.with_landing_page "nottinghamshire-and-nottingham"
      - group.with_landing_page "northamptonshire"

    / Huntingdon doesn't appear to be in the ONS data sets
    = landing_page_link_group(use_locations: true) do |group|
      - group.with_title_landing_page "east-of-england"
      - group.with_landing_page "bedfordshire"
      - group.with_landing_page "cambridgeshire-and-peterborough"
      - group.with_landing_page "essex"
      - group.with_landing_page "hertfordshire"
      - group.with_landing_page "norfolk"
      - group.with_landing_page "suffolk"
