h2.govuk-heading-m = t(".title")

p.govuk-body = t(".description_html", link: govuk_link_to(t("buttons.sign_in"), new_jobseeker_session_path, class: "govuk-link--no-visited-state"))

= govuk_link_to t("buttons.create_account"), new_jobseeker_registration_path, class: "govuk-button--secondary govuk-!-margin-bottom-0", button: true
