h2.govuk-heading-m = t(".title")

p.govuk-body = t(".description")

= govuk_link_to t("buttons.view_account"), jobseeker_root_path, class: "govuk-button--secondary govuk-!-margin-bottom-0", button: true
