= f.govuk_text_field :name, label: { size: "s" }, width: "two-thirds", aria: { required: true }
= f.govuk_text_field :provider, label: { size: "s" }, width: "two-thirds", aria: { required: true }
= f.govuk_text_field :year_awarded, label: { size: "s" }, type: "number", width: 4, hint: { text: t(".hint") }
= f.govuk_text_field :course_length, label: { size: "s" }, width: "two-thirds", aria: { required: true }
= f.govuk_text_field :grade, label: { size: "s" }, width: "two-thirds"
