@use "govuk-frontend/dist/govuk/base" as *;

.posts_index,
.posts_show {
  .post {
    a {
      @include govuk-link-common;
      @include govuk-link-style-default;
      @include govuk-link-print-friendly;
    }

    h1 {
      @include govuk-font($size: 48, $weight: bold);
      display: block;
      margin-top: 0;
      color: govuk-functional-colour(text);
      @include govuk-responsive-margin(8, "bottom");
    }

    h2 {
      @include govuk-font($size: 36, $weight: bold);
      display: block;
      margin-top: 0;
      color: govuk-functional-colour(text);
      @include govuk-responsive-margin(6, "bottom");
    }

    h3 {
      @include govuk-font($size: 24, $weight: bold);
      display: block;
      margin-top: 0;
      color: govuk-functional-colour(text);
      @include govuk-responsive-margin(4, "bottom");
    }

    img {
      width: 100%;
    }

    ol {
      @include govuk-font($size: 19);
      margin-top: 0;
      @include govuk-responsive-margin(4, "bottom");
      padding-left: govuk-spacing(4);
      list-style-type: decimal;
      color: govuk-functional-colour(text);
    }

    p {
      margin-top: 0;
      color: govuk-functional-colour(text);
      @include govuk-font($size: 19);
      @include govuk-responsive-margin(4, "bottom");
    }

    ul {
      @include govuk-font($size: 19);
      margin-top: 0;
      @include govuk-responsive-margin(4, "bottom");
      padding-left: govuk-spacing(4);
      list-style-type: disc;
      color: govuk-functional-colour(text);
    }
  }
}

.dfe-grid-container {
  .dfe-card {
    img {
      max-width: 100%;
      height: 200px;
    }
  }
}

