@use "govuk-frontend/dist/govuk/helpers";

.search-results {
  &__item {
    border-bottom: 1px solid helpers.govuk-functional-colour(border);
    padding-top: helpers.govuk-spacing(3);
    padding-bottom: helpers.govuk-spacing(3);

    &:first-of-type {
      padding-top: 0;
    }

    .govuk-summary-list {
      @include helpers.govuk-font(16);
      margin-bottom: 0;
    }

    .govuk-summary-list__key,
    .govuk-summary-list__value {
      padding-bottom: helpers.govuk-spacing(0);
    }

    .govuk-summary-list__row:last-child {
      margin-bottom: 0;

      .govuk-summary-list__value {
        margin-bottom: 0;
      }
    }
  }

  &__summary-list--compact {
    @include helpers.govuk-font(16);
    margin-bottom: 0;

    .govuk-summary-list__key,
    .govuk-summary-list__value {
      padding-bottom: helpers.govuk-spacing(0);
    }

    @include helpers.govuk-media-query($from: tablet) {
      .govuk-summary-list__key {
        width: 37%;
      }
    }
  }
}
