- row.with_cell(text: govuk_link_to(application.name, organisation_job_job_application_path(vacancy.id, application)))
- row.with_cell(text: application.email_address)
- row.with_cell(text: application.declined_at&.to_fs(:day_month_year))
