= publisher_job_application_status_tag(application.status)
- if application.interviewing?
  br
  = govuk_link_to(t(".pre_interview_checks"), pre_interview_checks_organisation_job_job_application_path(application.vacancy.id, application.id))
