/ sadly govuk_check_box doesn't seem to support govuk-checkboxes--small natively, but wrapping in a div seems to work
- row.with_cell(text: tag.div(f.govuk_check_box(:job_applications, application.id, link_errors: index.zero?, label: { hidden: true, text: "Select #{application.name}" }),
                                  class: "govuk-checkboxes--small"))
- row.with_cell(text: govuk_link_to(application.name, organisation_job_job_application_path(vacancy.id, application)))

- row.with_cell(text: application.email_address)
- row.with_cell(text: publisher_job_application_status_tag(application.status))
