= render TabPanelComponent.new(tab_name:, vacancy:, form:,
  candidates: candidates.fetch("unsuccessful") + candidates.fetch("withdrawn"), button_group: %i[update_status reject download])

- rejected = candidates.fetch("rejected")

- if rejected.any?
  = govuk_section_break(visible: true, size: "xl")

  = render TabPanelComponent.new(vacancy:, candidates: rejected, tab_name: "rejected", form:, button_group: %i[update_status], displayed_fields: %i[name email_address status rejected_at])
