- row.with_cell(text: "")
- row.with_cell(text: tag.span(application.name))

- row.with_cell(text: application.email_address)
- row.with_cell(text: publisher_job_application_status_tag(application.status))
