---
http_interactions:
- request:
    method: post
    uri: https://becomingateacher.zendesk.com/api/v2/requests
    body:
      encoding: UTF-8
      string: '{"request":{"comment":{"body":"Help!","uploads":[]},"requester":{"name":"User
        In-Need","email":"test@example.com"},"subject":"[Support request] Teaching
        Vacancies"}}'
    headers:
      Authorization:
      - Basic dGVzdEBleGFtcGxlLmNvbS90b2tlbjphMzk0NjFkNC0zZDI0LTQ1OTMtOWVmMC03ZThkMTM2MTViOGY=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v20317
      Location:
      - https://becomingateacher.zendesk.com/api/v2/requests/408447.json
      X-Rate-Limit:
      - '700'
      Ratelimit-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '700'
      Ratelimit-Remaining:
      - '700'
      Ratelimit-Reset:
      - '46'
      Etag:
      - W/"8b239ae855e0df33553cee36a8ed8635"
      X-Zendesk-Origin-Server:
      - classic-app-server-6959d595b5-rvjjk
      X-Zendesk-Api-Gateway:
      - 'yes'
      X-Zendesk-Zorg:
      - 'yes'
    body:
      encoding: UTF-8
      string: '{"request":{"url":"https://becomingateacher.zendesk.com/api/v2/requests/408447.json","id":408447,"status":"new","priority":"normal","type":null,"subject":"[Support
        request] Teaching Vacancies","description":"Help!","organization_id":null,"via":{"channel":"api","source":{"from":{},"to":{},"rel":null}},"custom_fields":[],"requester_id":387496639558,"collaborator_ids":[],"email_cc_ids":[],"is_public":true,"due_at":null,"can_be_solved_by_me":false,"created_at":"2024-03-15T10:57:14Z","updated_at":"2024-03-15T10:57:14Z","recipient":null,"followup_source_id":null,"assignee_id":null,"ticket_form_id":360000137032,"custom_status_id":5765737,"fields":[]}}'
  recorded_at: Fri, 15 Mar 2024 10:57:14 GMT
recorded_with: VCR 6.2.0
