.js-enabled .govuk-accordion {
    border: none;
    margin-bottom: govuk-spacing(2);
}

.accordion-group {
    .govuk-form-group {
        max-height: 214px;
        overflow: scroll;
    }

    .accordion-content__group .govuk-accordion__section--expanded {
        border-bottom: 1px solid $govuk-border-colour;
        padding-bottom: govuk-spacing(2);
    }

    .accordion-group-heading {
         padding: govuk-spacing(2) 0;
    }

    .moj-filter .moj-filter__header {
        padding: 0;
    }

    .moj-filter .govuk-accordion__section-content {
        padding: 0;
    }

    .govuk-accordion__controls {
        display: none;
    }

    .govuk-accordion__title {
        .govuk-accordion__icon {
            display: none;
        }
    }

    .govuk-accordion__section-header {
        border: none;
        padding: govuk-spacing(2) 0;
    }

    .govuk-accordion__section-button {
        font-size: 1.1875rem;
        padding: 0 13px;
    }

    .govuk-accordion__section-content {
        border: govuk-spacing(1) solid govuk-colour('light-grey');
        padding: govuk-spacing(2);
    }

    .moj-filter__selected {
        box-shadow: none;
        padding: govuk-spacing(2);
        position: relative;
    }

    .moj-filter__heading-action {
        position: absolute;
        top: govuk-spacing(2);
        right: govuk-spacing(2);

        p {
            margin: 0;
        }
    }

    .moj-filter-tags {
        margin-top: govuk-spacing(1);
    }

    .moj-filter__tag:after {
        height: 0;
        width: 0;
    }
}
