.js-enabled .govuk-accordion {
    border: none;
    margin-bottom: govuk-spacing(2);
}

.accordion-group {
    .govuk-form-group {
        max-height: 214px;
        overflow: scroll;
    }

    .accordion-content__group.govuk-accordion__section--expanded {
        border-bottom: 1px solid $govuk-border-colour;
        padding-bottom: govuk-spacing(2);
    }

    .accordion-group-heading {
        background-color: govuk-colour('light-grey');
        padding: 10px 0;
    }

    .govuk-accordion__controls {
        display: none;
    }

    .govuk-accordion__title {
        .govuk-accordion__icon {
            display: none;
        }

        .govuk-accordion__section-header {
            padding: 0 0 10px
        }
    }

    .govuk-accordion__section-header {
        border: none;
        padding: 10px 0;
    }

    .govuk-accordion__section-button {
        font-size: 1.1875rem;
        padding: 0 13px;
    }

    .govuk-accordion__section-content {
        border: 5px solid govuk-colour('light-grey');
        padding: govuk-spacing(2);
    }
}
