// Recommended - Use these styles for the check your answers pattern
.app-check-your-answers {
  @include govuk-font(19);
  @include govuk-responsive-margin(9, 'bottom');
  margin-top: 0;
  @include govuk-media-query($from: desktop) {
    display: table;
  }
}

.app-check-your-answers--short {
  @include govuk-media-query($from: desktop) {
    // to make group of q&a line up horizontally (unless there is just one group)
    width: 100%; // recommended for mostly short questions
    .app-check-your-answers__question {
      width: 30%;
    }
  }
}

.app-check-your-answers--long {
  @include govuk-media-query($from: desktop) {
    // to make group of q&a line up horizontally (unless there is just one group)
    width: 100%; // recommended for mostly long questions
    .app-check-your-answers__question {
      width: 50%;
    }
  }
}

.app-check-your-answers__contents {
  border-bottom: 1px solid $govuk-border-colour;
  position: relative;

  @include govuk-media-query($from: desktop) {
    border-bottom-width: 0;
    display: table-row;
  }
}

.app-check-your-answers {
  padding-left: govuk-spacing(6);
  width: fill-available;
}

.app-check-your-answers__question,
.app-check-your-answers__answer {
  display: block;
  margin: 0;
  @include govuk-media-query($from: desktop) {
    border-bottom: 1px solid $govuk-border-colour;
    display: table-cell;
    padding: govuk-em(12, 19) govuk-em(20, 19) govuk-em(12, 19) 0;
  }

  > p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

.app-task-list {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

h2.app-task-list__section {
  margin-bottom: 0.83rem;
}

.app-task-list__section {
  @include govuk-font($size:24, $weight: bold);
  display: table;
}

.app-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.first-question {
  border-top: 1px solid $govuk-border-colour !important;
}

dt.app-check-your-answers__question > h4 {
  margin-bottom: 0;
}

.notification-tag {
  float: right;
  text-transform: uppercase;
}

.change-button {
  font-size: 19px;
  margin-left: 20px;
}
