.flash {
  @include govuk-font(19);
  border: 5px solid;
  color: govuk-colour('black');
  padding: 20px;
}

.flash-notice {
  border-color: govuk-colour('blue');
}

.flash-success {
  border-color: govuk-colour('green');
}

.flash-error {
  border-color: govuk-colour('red');
}

.flash-danger {
  border-color: govuk-colour('red');
}

.flash-alert {
  border-color: govuk-colour('yellow');
}

.dismiss-link {
  display: block;
  float: right;
}

.success-icon {
  float: left;
  margin-right: 10px;
}
