.flash {
  @include govuk-font(19);
  color: govuk-colour('black');
  border: 5px solid;
  padding: 20px;
}

.flash-notice {
  border-color: govuk-colour('blue');
}

.flash-success {
  border-color: govuk-colour('green');
}

.flash-error {
  border-color: govuk-colour('red');
}

.flash-alert {
  border-color: govuk-colour('yellow');
}
.dismiss-link {
  float: right;
  display: block;
}
