$desktop-container-width: 1200px;

body.hiring-staff {
  .govuk-width-container {
    @include govuk-media-query($from: desktop) {
      margin-left: auto;
      margin-right: auto;
      max-width: $desktop-container-width;
      width: 90%;
    }
  }

  .desktop-container-width {
    @include govuk-media-query($from: tablet) {
      width: $desktop-container-width;
    }
  }

  &.vacancies_index,
  &.vacancies_show,
  &.vacancies_preview {
    .govuk-main-wrapper {
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.dashboard-header {
  .filters-information {
    display: inline-block;

    .filters-applied-text {
      line-height: 2em;
    }
  }
}

.button-link {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: $govuk-link-colour;
  display: block;
  padding: 0;
  text-decoration: underline;
}

.button-link:hover {
  background-color: transparent;
  color: $govuk-link-hover-colour;
  text-decoration: underline;
}

.hod-checkmark {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: block;
  font-size: 35px;
  height: 70px;
  margin: 15px auto;
  position: relative;
  width: 70px;

  &::before {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  + .govuk-heading-l {
    margin-top: 0;
  }
}
