.jobs-banner {
  background-color: govuk-colour('light-grey');
  left: 50%;
  margin-bottom: govuk-spacing(6);
  margin-left: -50vw;
  padding-bottom: govuk-spacing(3);
  padding-top: govuk-spacing(1);
  position: relative;
  width: 100vw;

  a.banner-link {
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    background-size: 20px 25px;
    border-bottom: 3px solid govuk-colour('orange');
    color: $govuk-link-colour;
    display: block;
    font-weight: $bold-font-weight;
    height: 100%;
    margin-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(2);
    padding-left: govuk-spacing(6);
    text-decoration: none;
  }

  a.banner-link:focus {
    outline: none;

    .banner-link__text {
      background-color: $govuk-focus-colour;
      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
      outline: 3px solid transparent;
    }
  }

  a.banner-link:hover {
    color: $govuk-link-hover-colour;
  }

  .banner-link--alert {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%231d70b8" width="20" height="20" viewBox="0 0 20 20"><path d="M10.1923 19.789C10.1923 19.6645 10.1282 19.6023 10 19.6023C9.52724 19.6023 9.12059 19.437 8.78005 19.1064C8.4395 18.7758 8.26923 18.381 8.26923 17.9221C8.26923 17.7976 8.20513 17.7354 8.07692 17.7354C7.94872 17.7354 7.88462 17.7976 7.88462 17.9221C7.88462 18.4899 8.09095 18.9741 8.50361 19.3747C8.91627 19.7753 9.41506 19.9756 10 19.9756C10.1282 19.9756 10.1923 19.9134 10.1923 19.789ZM2.1875 16.4286H17.8125C15.6811 14.095 14.6154 10.859 14.6154 6.72078C14.6154 6.32407 14.5192 5.91569 14.3269 5.49564C14.1346 5.07559 13.8582 4.67499 13.4976 4.29383C13.137 3.91268 12.6502 3.59958 12.0373 3.35456C11.4243 3.10953 10.7452 2.98701 10 2.98701C9.25481 2.98701 8.57572 3.10953 7.96274 3.35456C7.34976 3.59958 6.86298 3.91268 6.5024 4.29383C6.14183 4.67499 5.86538 5.07559 5.67308 5.49564C5.48077 5.91569 5.38462 6.32407 5.38462 6.72078C5.38462 10.859 4.31891 14.095 2.1875 16.4286ZM20 16.4286C20 16.8331 19.8478 17.1831 19.5433 17.4787C19.2388 17.7743 18.8782 17.9221 18.4615 17.9221H13.0769C13.0769 18.7466 12.7764 19.4506 12.1755 20.034C11.5745 20.6174 10.8494 20.9091 10 20.9091C9.15064 20.9091 8.42548 20.6174 7.82452 20.034C7.22356 19.4506 6.92308 18.7466 6.92308 17.9221H1.53846C1.12179 17.9221 0.761218 17.7743 0.456731 17.4787C0.152244 17.1831 0 16.8331 0 16.4286C0.400641 16.1019 0.765224 15.7596 1.09375 15.4018C1.42228 15.044 1.76282 14.5792 2.11538 14.0075C2.46795 13.4357 2.76643 12.8193 3.01082 12.1581C3.25521 11.4969 3.45553 10.6957 3.61178 9.75446C3.76803 8.81324 3.84615 7.80202 3.84615 6.72078C3.84615 5.53842 4.3149 4.43968 5.2524 3.42456C6.1899 2.40945 7.41987 1.79299 8.94231 1.57518C8.87821 1.42739 8.84615 1.2757 8.84615 1.12013C8.84615 0.808983 8.95833 0.544508 9.18269 0.326705C9.40705 0.108902 9.67949 0 10 0C10.3205 0 10.5929 0.108902 10.8173 0.326705C11.0417 0.544508 11.1538 0.808983 11.1538 1.12013C11.1538 1.2757 11.1218 1.42739 11.0577 1.57518C12.5801 1.79299 13.8101 2.40945 14.7476 3.42456C15.6851 4.43968 16.1538 5.53842 16.1538 6.72078C16.1538 7.80202 16.232 8.81324 16.3882 9.75446C16.5445 10.6957 16.7448 11.4969 16.9892 12.1581C17.2336 12.8193 17.5321 13.4357 17.8846 14.0075C18.2372 14.5792 18.5777 15.044 18.9062 15.4018C19.2348 15.7596 19.5994 16.1019 20 16.4286Z" ></path></svg>');
  }

  .banner-link--apply {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%231d70b8" width="20" height="20" viewBox="0 0 20 20"><path d="M17.1575 1.23331L17.6492 1.72498C18.3267 2.40331 18.2242 3.60581 17.4184 4.41081L7.27921 14.55L3.99421 15.7516C3.58171 15.9033 3.18004 15.7066 3.09838 15.3141C3.07078 15.1718 3.08377 15.0245 3.13588 14.8891L4.36088 11.5758L14.4717 1.46415C15.2775 0.659147 16.48 0.555814 17.1575 1.23415V1.23331ZM6.83671 2.24165C6.94615 2.24165 7.05451 2.2632 7.15561 2.30508C7.25672 2.34696 7.34858 2.40834 7.42597 2.48572C7.50335 2.56311 7.56473 2.65497 7.60661 2.75608C7.64849 2.85718 7.67004 2.96555 7.67004 3.07498C7.67004 3.18442 7.64849 3.29278 7.60661 3.39388C7.56473 3.49499 7.50335 3.58685 7.42597 3.66424C7.34858 3.74162 7.25672 3.803 7.15561 3.84488C7.05451 3.88676 6.94615 3.90831 6.83671 3.90831H3.50338C3.06135 3.90831 2.63743 4.08391 2.32487 4.39647C2.01231 4.70903 1.83671 5.13295 1.83671 5.57498V15.575C1.83671 16.017 2.01231 16.4409 2.32487 16.7535C2.63743 17.0661 3.06135 17.2416 3.50338 17.2416H13.5034C13.9454 17.2416 14.3693 17.0661 14.6819 16.7535C14.9945 16.4409 15.17 16.017 15.17 15.575V12.2416C15.17 12.0206 15.2578 11.8087 15.4141 11.6524C15.5704 11.4961 15.7824 11.4083 16.0034 11.4083C16.2244 11.4083 16.4364 11.4961 16.5926 11.6524C16.7489 11.8087 16.8367 12.0206 16.8367 12.2416V15.575C16.8367 16.459 16.4855 17.3069 15.8604 17.932C15.2353 18.5571 14.3874 18.9083 13.5034 18.9083H3.50338C2.61932 18.9083 1.77148 18.5571 1.14635 17.932C0.521233 17.3069 0.170044 16.459 0.170044 15.575V5.57498C0.170044 4.69093 0.521233 3.84308 1.14635 3.21796C1.77148 2.59284 2.61932 2.24165 3.50338 2.24165H6.83671Z" ></path></svg>');
  }

  .banner-link--applied {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" width="25" height="25" viewBox="0 0 25 25"><ellipse xmlns="http://www.w3.org/2000/svg" cx="12.5" cy="12.6363" rx="12.5" ry="12.6363" fill="%2300823B"/><path d="M16.9991 7.6123L11.0692 13.4585L8.30185 10.7303L6.3252 12.679L11.0692 17.3559L18.9758 9.56103L16.9991 7.6123Z" ></path></svg>');
  }

  .banner-link--save {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%231d70b8" width="20" height="20" viewBox="0 0 20 20"><path d="M14.5 0C12.75 0 11.1001 0.804904 10 2.11284C8.89986 0.804904 7.25 0 5.5 0C2.3999 0 0 2.41447 0 5.53341C0 9.3563 3.3999 12.4251 8.54981 17.1533L10 18.4615L11.4502 17.1533C16.6 12.4251 20 9.35625 20 5.53341C20 2.41447 17.6001 0 14.5 0ZM10.6171 15.8297L10.4143 16.0159L10 16.3896L9.58577 16.0159L9.38317 15.8299C6.95923 13.6048 4.86582 11.6831 3.48192 9.96481C2.13784 8.29592 1.53846 6.92924 1.53846 5.53342C1.53846 4.43414 1.94337 3.42135 2.67861 2.68169C3.41139 1.94448 4.41337 1.53847 5.5 1.53847C6.75644 1.53847 7.99856 2.12342 8.8226 3.10313L10 4.50294L11.1774 3.10313C12.0014 2.12342 13.2435 1.53847 14.5 1.53847C15.5867 1.53847 16.5886 1.94448 17.3214 2.68164C18.0566 3.42135 18.4615 4.43409 18.4615 5.53342C18.4615 6.92924 17.8622 8.29587 16.5182 9.96472C15.1343 11.683 13.041 13.6046 10.6171 15.8297Z" ></path></svg>');
  }

  .banner-link--saved {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23d4351c" width="20" height="20" viewBox="0 0 20 20"><path d="M10 18.4615L11.4502 17.1533C16.6001 12.4251 20 9.35625 20 5.53341C20 2.41447 17.6001 0 14.5 0C12.75 0 11.1001 0.804904 10 2.11284C8.8999 0.804904 7.25005 0 5.5 0C2.3999 0 0 2.41447 0 5.53341C0 9.3563 3.39995 12.4251 8.54981 17.1533L10 18.4615Z" ></path></svg>');
  }
}
