.jobs-banner {
  background-color: govuk-colour('light-grey');
  left: 50%;
  margin-bottom: govuk-spacing(3);
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: govuk-spacing(3);
  position: relative;
  right: 50%;
  width: 100vw;
}
