.js-location-finder {
  .govuk-c-loader {
    @extend .govuk-input;
    background: #fff;
    left: 0;
    position: absolute;
    top: govuk-spacing(6);
    user-select: none;
    width: 100%;
  }

  .govuk-c-loader__spinner {
    left: -3px;
    position: relative;
    top: -3px;
  }

  .govuk-c-loader__label {
    line-height: 26px;
    vertical-align: top;
  }
}

.js-location-finder {
  position: relative;
}

form .govuk-form-group.js-geolocation-supported {
  .js-location-finder__link {
    display: block;
  }
}
