$govuk-modal-margin: govuk-spacing(6);
$govuk-modal-close-button-size: 44px;
$govuk-modal-z-index: 1000;
$govuk-modal-wide-breakpoint: $govuk-page-width + $govuk-modal-margin * 2 + $govuk-border-width-form-element * 2;

.gem-c-modal-dialogue {
  display: none;
  height: 100%;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $govuk-modal-z-index;
}

.gem-c-modal-dialogue__box {

  @include govuk-font($size: 19);
  @include govuk-text-colour;
  background: govuk-colour('white');
  border: 0;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  @include govuk-media-query($from: tablet) {
    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    bottom: inherit;
    height: auto;
    left: inherit;
    margin: $govuk-modal-margin auto;
    max-width: $govuk-page-width * 2 / 3;
    position: relative;
    right: inherit;
    top: inherit;
    width: auto;
  }

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

.gem-c-modal-dialogue__box--wide {
  @include govuk-media-query($from: tablet) {
    max-width: $govuk-page-width;
  }

  @include govuk-media-query($from: tablet, $until: $govuk-modal-wide-breakpoint) {
    margin: $govuk-modal-margin;
  }
}

.gem-c-modal-dialogue__overlay {
  background: govuk-colour('black');
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.8;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  touch-action: none;
  width: 100%;
}

.gem-o-template--modal {
  @include govuk-media-query($media-type: screen) {
    overflow-y: inherit;
  }
}

.gem-o-template__body--modal {
  overflow: hidden;
}

.gem-o-template__body--blur {
  .govuk-skip-link,
  .govuk-header,
  .govuk-phase-banner,
  .govuk-width-container .govuk-back-link,
  .govuk-footer,
  .govuk-main-wrapper {
    filter: blur(2px);
  }
}

.gem-c-modal-dialogue__header {
  background: govuk-colour('black');
  color: govuk-colour('white');
  padding: 9px govuk-spacing(3) 10px;
}

.gem-c-modal-dialogue__logotype-crown {
  fill: currentColor;
  vertical-align: middle;
}

.gem-c-modal-dialogue__logotype-crown-fallback-image {
  border: 0;
  height: 26px;
  vertical-align: middle;
  width: 30px;
}

.gem-c-modal-dialogue__content {
  background: govuk-colour('white');
  padding: govuk-spacing(3) govuk-spacing(3) 0;
}

.gem-c-modal-dialogue__footer {
  background: govuk-colour('white');
  padding: 9px govuk-spacing(3) 10px;
}

.gem-c-modal-dialogue__confirm-link,
.gem-c-modal-dialogue__close-link, {
  margin-bottom: govuk-spacing(3);
}

/// Mimic button style
.govuk-link--button {
  border: $govuk-border-width-form-element solid transparent;
  display: inline-block;
  line-height: 1;
  padding: (govuk-spacing(2) - $govuk-border-width-form-element) govuk-spacing(2) (govuk-spacing(2) - $govuk-border-width-form-element - ($govuk-border-width-form-element / 2));
  width: 100%;

  @include govuk-media-query($from: tablet) {
    width: auto;
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

.gem-c-modal-dialogue__close-link--button {

  @include govuk-font($size: 36, $weight: bold, $line-height: 1.3);
  background: none;
  border: 0;
  color: govuk-colour('white');
  cursor: pointer;
  height: $govuk-modal-close-button-size;
  position: absolute;
  right: 0;
  top: 0;
  width: $govuk-modal-close-button-size;
  @include govuk-media-query($until: tablet) {
    font-size: 36px;
    line-height: 1.3;
  }

  &:focus,
  &:hover {
    @include govuk-focused-text;
    background: $govuk-focus-colour;
    box-shadow: none;
    color: govuk-colour('black');

    outline: none;
  }
}
