.app-navigation {
  $navigation-height: 53px;
  border-bottom: 1px solid govuk-colour("mid-grey");
  font-weight: bold;

  @include clearfix;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.85em;

    @include govuk-media-query($from: tablet) {
      font-size: 1em;
    }

    &>li {
      box-sizing: border-box;
      height: $navigation-height;
      float: left;
      line-height: $navigation-height;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      &:hover {
        border-bottom: 4px solid govuk-colour("light-blue");
      }

      &.active {
        border-bottom: 4px solid govuk-colour("blue") !important;

        a:hover {
          color: $govuk-link-colour;
        }
      }

      a {
        display: block;
        padding: 0 1em;
        color: $govuk-link-colour;
        text-decoration: none;
        @include govuk-media-query($until: tablet) {
          padding: 0 0.5em;
        }

        &:visited {
          color: $govuk-link-colour;
        }

        &:hover,
        &:focus {
          color: $govuk-link-hover-colour;
          background-color: inherit;
        }
      }
    }
  }
}

nav ul .mobile-header-underline-text {
  @include govuk-media-query($until: desktop) {
    font-weight: normal;
    text-decoration: underline;
  }
}

.mobile-header-top-border {
  @include govuk-media-query($until: desktop) {
    border-top: 3px solid #ffffff;
    margin-top: 2px;
  }
}
