ul.pagination {

  text-align: center;

  li {
    display: inline-block;

    &.current,
    a,
    span {
      @include govuk-font(19, $weight: bold);
      color: govuk-colour('blue');
      display: inline-block;
      margin-right: 15px;
      padding: 15px 5px 10px;
      text-decoration: none;

      &:focus {
        outline: 0;
      }

      &.current {
        color: $govuk-text-colour;
      }
    }

    &.active a,
    &.active a:hover {
      color: govuk-colour('black');
    }
  }
}

.padding {
  padding-left: 15px;
}

.pagination {
  padding: 0;
}

.pagination__item {
  display: inline-block;
  list-style: none;

  &.current {
    @include govuk-font(19, $weight: bold);
    border-style: none;
    color: $govuk-text-colour;
    cursor: default;
    pointer-events: none;

    &:hover,
    &:focus {
      background: none;
      color: $govuk-text-colour;
    }
  }
}

.pagination__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  //border: 1px solid $border-colour;

  &:hover,
  &:focus {
    background: govuk-colour('light-grey');
    outline: 3px solid $govuk-focus-colour;
  }
}

.pagination__summary {
  padding: 8px 0;

  @media (min-width: 642px) {
    float: right;
  }
}

#pagination-hits {
  display: inline-block;
  margin-left: 16rem;

  @media (max-width: 1019px) {
    display: block;
    margin-left: 0;
  }
}

.pagination-results {
  #vacancies-stats-bottom {
    display: block;
    margin-bottom: 0;
    margin-top: 1rem;
    text-align: left;

    @media (min-width: 1020px) {
      float: right;
      margin-top: 1.9rem;
    }
  }
}

