.school {
  &--details {
    dt, dd {
      display: inline-block;
    }
    dt {
      width: 20%;
      color: $govuk-secondary-text-colour;
      float: left;
    }
    dd {
      width: 65%;
    }
  }

  &--metadata {
    padding: $govuk-gutter-half;
    margin-top: $govuk-gutter*3;
    @include govuk-media-query($until: tablet) {
      margin-top: $govuk-gutter;
    }
  }

  #map_zoom {
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }
}
