.school {
  &--details {
    dt,
    dd {
      display: inline-block;
    }

    dt {
      color: $govuk-secondary-text-colour;
      float: left;
      width: 20%;
    }

    dd {
      width: 65%;
    }
  }

  &--metadata {
    margin-top: $govuk-gutter*3;
    padding: $govuk-gutter-half;
    @include govuk-media-query($until: tablet) {
      margin-top: $govuk-gutter;
    }
  }

  #map_zoom {
    height: 400px;
    margin-top: 30px;
    width: 100%;
  }
}
