.school {
  &--details {
    dt,
    dd {
      display: inline-block;
    }

    dt {
      color: $govuk-secondary-text-colour;
      float: left;
      width: 20%;
    }

    dd {
      width: 65%;
    }
  }

  &--metadata {
    margin-top: $govuk-gutter*3;
    padding: $govuk-gutter-half;
    @include govuk-media-query($until: tablet) {
      margin-top: $govuk-gutter;
    }
  }

  #map {
    height: 400px;
    margin-top: 30px;
    width: 100%;
  }
}

.no-jobs-border {
  border: 2px dashed $govuk-border-colour;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 20px 0;
}
