.search_panel {
  @include govuk-responsive-padding(4);

  background-color: $govuk-brand-colour;

  h1,
  label,
  .govuk-accordion__section-button,
  .govuk-link,
  .js-location-finder__link {
    color: govuk-colour('white');
  }

  .govuk-accordion__icon::before,
  .govuk-accordion__icon::after,
  .govuk-fieldset {
    background-color: govuk-colour('white');
  }

  .govuk-accordion__section-content {
    padding-top: 0;
  }

  .govuk-checkboxes__item,
  .govuk-checkboxes__item label {
    color: govuk-colour('black');
  }

  .govuk-fieldset {
    padding-left: 10px;
  }

  .govuk-form-group {
    @include govuk-responsive-margin(2, 'bottom');

    .govuk-button {
      @include govuk-responsive-margin(2, 'bottom');
    }
  }
}
