.signin {

  @include govuk-responsive-padding(2, 'top');

  border-top: 5px solid $govuk-brand-colour;

  .govuk-button {
    margin-bottom: 0;
  }
  @media screen and (max-width: 524px) {
    display: none;
  }
}
