.sortable-link {
  &.active {
    &.sortby--asc::after {
      content: '\25B4';
      display: inline-block;
      padding-left: 0.2em;
    }

    &.sortby--desc::after {
      content: '\25BE';
      display: inline-block;
      padding-left: 0.2em;
    }
  }
}

.sortable-links {
  @extend .govuk-body-s;
  margin-bottom: $govuk-gutter;
  width: auto;

  a {
    @extend .sortable-link;
    margin: 0 4px;

    &.active {
      @include govuk-font(16, $weight: bold);
      text-decoration: none;
    }
  }

  form {
    display: inline-block;
  }
}

.sort-results {
  #vacancies-stats-top {
    margin-bottom: 0;
    margin-top: 1rem;

    @media (min-width: 1020px) {
      float: right;
      margin-top: 0.5rem;
    }
  }

  #vacancies-stats-bottom {
    @media (max-width: 1019px) {
      text-align: left;
    }
  }
}
