.app-step-nav-header {
  background: govuk-colour('light-grey', $legacy: 'grey-4');
  border-bottom: solid 1px $govuk-border-colour;
  border-top: solid 1px $govuk-border-colour;
  padding: 10px;
  position: relative;
  @include govuk-media-query($from: tablet) {
    padding: 15px;
  }
}

.app-step-nav-header__part-of {
  @include govuk-font(16, $weight: bold);
  display: block;
  padding-bottom: 0.2em;
}

.app-step-nav-header__title {
  @include govuk-font(24, $weight: bold); }

.app-step-nav-related {
  border-top: 3px solid $govuk-link-colour;
  margin-bottom: 30px;
}

.app-step-nav-related__heading {
  @include govuk-font(19, $weight: bold);
  margin-bottom: 10px;
  margin-top: 15px;
}

.app-step-nav-related__links {
  @include govuk-font(16, $weight: bold);
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-step-nav-related--singular {
  margin-bottom: 13px;

  .app-step-nav-related__heading {
    @include govuk-font(19, $weight: bold);
    margin-top: 20px;
  }

  .app-step-nav-related__pretitle {
    margin-bottom: 5px;
  }
}

.app-step-nav-related__pretitle {
  display: block;
  margin-bottom: 15px;
  @include govuk-media-query($from: tablet) {
    margin-bottom: 5px;
  }
}

.app-step-nav-related__link-item {
  margin-top: 15px;
  @include govuk-media-query($from: tablet) {
    margin-top: 5px;
  }
}

.app-step-nav {
  @include govuk-font(19);
  margin-bottom: 30px;

  &.app-step-nav--large {
    @include govuk-media-query($from: tablet) {
      margin-bottom: 60px;
    }
  }
}

.app-step-nav__controls {
  padding: 3px 3px 0 0;
  text-align: right;
}

.app-step-nav__button {
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  margin: 0;

  &:focus {
    @include govuk-focused-text;
  }
}

.app-step-nav__header:hover .app-step-nav__button:not(:focus) {
  color: $govuk-link-colour;
}

// removes extra dotted outline from buttons in Firefox
// on focus (standard yellow outline unaffected)
.app-step-nav__button::-moz-focus-inner {
  border: 0;
}

.app-step-nav__button--title {
  @include govuk-font(19, $weight: bold);
  color: govuk-colour('black');
  display: inline-block;
  padding: 0;
  text-align: left;

  .app-step-nav--large & {
    @include govuk-font(24, $weight: bold);
  }
}

.app-step-nav__button--controls {
  @include govuk-font(14);
  padding: 0.5em 0;
  position: relative;
  text-decoration: underline;
  z-index: 1; // this and relative position stops focus outline underlap with border of accordion

  &:hover:not(:focus) {
    color: $govuk-link-hover-colour;
  }

  .app-step-nav--large & {
    @include govuk-font(16);
  }
}

.app-step-nav__steps {
  margin: 0;
  padding: 0;
}

.app-step-nav__step {
  list-style: none;
  padding-left: 45px;
  position: relative;
}

.app-step-nav__step::after {
  background: #fff;
  border-left: solid 2px $govuk-border-colour;
  content: '';
  height: 100%;
  left: 0;
  margin-left: 12px;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 2;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__step {
    padding-left: 60px;
  }

  .app-step-nav--large .app-step-nav__step::after {
    border-width: 3px;
    left: 0;
    margin-left: 16px;
    top: 30px;
  }
}

.app-step-nav__step:last-child::before {
  border-bottom: solid 2px $govuk-border-colour;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  margin-left: 6.5px;
  position: absolute;
  width: 13px;
  z-index: 6;
}

.app-step-nav__step:last-child::after {
  height: -webkit-calc(100% - 15px);
  height: calc(100% - 15px);
}

.app-step-nav__step:last-child .app-step-nav__help::after {
  height: 100%;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__step:last-child::before {
    border-width: 3px;
    margin-left: 8.75px;
    width: 17.5px;
  }

  .app-step-nav--large .app-step-nav__step:last-child::after {
    height: calc(100% - 30px);
  }
}

.app-step-nav__step--active .app-step-nav__circle--number,
.app-step-nav__step--active .app-step-nav__help::after,
.app-step-nav__step--active .app-step-nav__substep::after,
.app-step-nav__step--active::after,
.app-step-nav__step--active:last-child::before {
  border-color: govuk-colour('black');
}

.app-step-nav__circle {
  background: #fff;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: govuk-colour('black');
  height: 26px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 26px;
  z-index: 5;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__circle {
    height: 35px;
    top: 30px;
    width: 35px;
  }
}

.app-step-nav__header:hover .app-step-nav__circle {
  color: $govuk-link-colour;
}

.app-step-nav__circle--number {
  @include govuk-font(16, $weight: bold);
  border: solid 2px $govuk-border-colour;
  line-height: 23px;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav__circle--number {
    font-size: 16px;
    line-height: 23px;
  }
}

.app-step-nav--large .app-step-nav__circle--number {
  @include govuk-font(16, $weight: bold);
  line-height: 23px;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__circle--number {
    font-size: 19px;
    line-height: 30px;
  }
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__circle--number {
    border-width: 3px;
  }
}

.app-step-nav__circle--logic {
  @include govuk-font(16, $weight: bold);
  line-height: 28px;
}
@include govuk-media-query($from: tablet) {
  .app-step-nav__circle--logic {
    font-size: 16px;
    line-height: 28px;
  }
}

.app-step-nav--large .app-step-nav__circle--logic {
  @include govuk-font(16, $weight: bold);
  line-height: 28px;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__circle--logic {
    font-size: 19px;
    line-height: 34px;
  }
}

.app-step-nav__circle-inner {
  float: right;
  min-width: 100%;
}

.app-step-nav__circle-background {
  text-shadow: 0 -0.1em 0 #fff, 0.1em 0 0 #fff, 0 0.1em 0 #fff, -0.1em 0 0 #fff;
}

.app-step-nav__header {
  border-top: solid 2px govuk-colour('light-grey', $legacy: 'grey-3');
  padding: 15px 0;
}

.app-step-nav--active .app-step-nav__header {
  cursor: pointer;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__header {
    padding: 30px 0;
  }
}

.app-step-nav__title {
  @include govuk-font(19, $weight: bold);
  line-height: 1.4;
  margin: 0;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav__title {
    font-size: 19px;
    line-height: 1.4;
  }
}

.app-step-nav--large .app-step-nav__title {
  @include govuk-font(19, $weight: bold);
  line-height: 1.4;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__title {
    font-size: 24px;
    line-height: 1.4;
  }
}

.app-step-nav__toggle-link {
  @include govuk-font(16);
  color: $govuk-link-colour;
  display: block;
  line-height: 1.2;
}

.app-step-nav__header:hover .app-step-nav__button:not(:focus) .app-step-nav__toggle-link {
  text-decoration: underline;
}

.app-step-nav--large .app-step-nav__toggle-link {
  @include govuk-font(16);
  line-height: 1.2;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__toggle-link {
    font-size: 16px;
    line-height: 1.2;
  }
}

.app-step-nav__button:focus .app-step-nav__toggle-link {
  color: inherit;
}

.app-step-nav__panel {
  @include govuk-font(16);
  line-height: 1.25;

  .js-enabled &.js-hidden {
    display: none;
  }
}

@include govuk-media-query($from: tablet) {
  .app-step-nav__panel {
    font-size: 16px;
  }
}

.app-step-nav--large .app-step-nav__panel {
  @include govuk-font(19); }

.app-step-nav__heading,
.app-step-nav__paragraph {
  font-size: inherit;
  margin: 0;
  padding-bottom: 15px;
}

.app-step-nav__heading + .app-step-nav__list,
.app-step-nav__paragraph + .app-step-nav__list {
  margin-top: -5px;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__heading + .app-step-nav__list,
  .app-step-nav--large .app-step-nav__paragraph + .app-step-nav__list {
    margin-top: -15px;
  }
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__heading,
  .app-step-nav--large .app-step-nav__paragraph {
    padding-bottom: 30px;
  }
}

.app-step-nav__heading {
  font-weight: bold;
}

.app-step-nav__list {
  padding: 0 0 10px;
}
@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__list {
    padding-bottom: 20px;
  }
}

.app-step-nav__list--choice {
  list-style: disc;
  margin-left: 20px;
}

.app-step-nav__list--choice .app-step-nav__list-item--active::before {
  left: -45px;
}
@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__list--choice .app-step-nav__list-item--active::before {
    left: -80px;
  }
}

.app-step-nav__list-item {
  list-style: none;
  margin-bottom: 10px;
}

.app-step-nav__list-item--active {
  position: relative;
}

.app-step-nav__list-item--active::before {
  background: govuk-colour('black');
  border: solid 2px #fff;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  height: 16px;
  left: -45px;
  margin-left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 0.6em;
  width: 16px;
  z-index: 5;
}
@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__list-item--active::before {
    left: -60px;
    margin-left: 9.5px;
  }
}

.app-step-nav__list-item--active .app-step-nav__link {
  color: govuk-colour('black');
  text-decoration: none;
}

.app-step-nav__list-item--active .app-step-nav__link:active,
.app-step-nav__list-item--active .app-step-nav__link:link,
.app-step-nav__list-item--active .app-step-nav__link:visited {
  color: govuk-colour('black');
}

.app-step-nav__context {
  color: $govuk-secondary-text-colour;
  display: inline-block;
  font-weight: normal;
}

.app-step-nav__context::before {
  content: ' \2013\00a0';
}

.app-step-nav__help {
  border-top: solid 2px govuk-colour('light-grey', $legacy: 'grey-3');
  padding: 15px 0;
  position: relative;
}

.app-step-nav__help::after {
  background: #fff;
  border-left: dotted 2px $govuk-border-colour;
  content: '';
  height: 100%;
  height: calc(100% + 30px);
  left: 0;
  left: -45px;
  margin-left: 12px;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 2;
  z-index: 3;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__help::after {
    border-width: 3px;
    height: calc(100% + 30px + 15px);
    left: 0;
    left: -60px;
    margin-left: 16px;
  }
}

.app-step-nav__help-link {
  font-weight: bold;
  text-decoration: none;
}

.app-step-nav__help-link:hover {
  text-decoration: underline;
}

.app-step-nav__substep {
  border-top: solid 2px govuk-colour('light-grey', $legacy: 'grey-3');
  padding-top: 15px;
  position: relative;
}

.app-step-nav__substep::after {
  background: #fff;
  border-left: solid 2px $govuk-border-colour;
  content: '';
  height: 100%;
  left: 0;
  left: -45px;
  margin-left: 12px;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 2;
  z-index: 3;
}

@include govuk-media-query($from: tablet) {
  .app-step-nav--large .app-step-nav__substep {
    padding-top: 30px;
  }

  .app-step-nav--large .app-step-nav__substep::after {
    border-width: 3px;
    left: 0;
    left: -60px;
    margin-left: 16px;
  }
}

.app-step-nav__substep--optional::after {
  border-left-style: dotted;
}


ol.app-step-nav__steps {
  .app-step-nav__step--active {
    .app-step-nav__circle {
      background-color: #0b0c0c;

      .app-step-nav__circle-background {
        color: govuk-colour('white');
        text-shadow: none;
      }
    }
  }

  .app-step-nav__step--visited {
    .app-step-nav__circle {
      background-color: #1d70b8;

      .app-step-nav__circle-background {
        color: govuk-colour('white');
        text-shadow: none;
      }
    }
  }
}

li.app-step-nav__step {
  div.app-step-nav__header {
    cursor: default;
    padding-bottom: 5px;
    padding-top: 15px;

    &:hover {
      .app-step-nav__circle {
        color: #0b0c0c;
        cursor: default;
      }

      .js-step-title {
        .app-step-nav__button {
          color: #0b0c0c;
          cursor: default;
        }
      }
    }
  }

  p.app-step-nav__paragraph {
    padding-bottom: 15px;
  }

  .app-step-nav__circle {
    top: 16px;
  }

}
