ul.notes-timeline:before {
  top: 13px;
}

ul.notes-timeline li.updates-timeline__item {
  margin-bottom: 20px;
}

ul.notes-timeline li.updates-timeline__item h3.updates-timeline__title {
  margin-bottom: 20px;
  display: inline-block;
}

ul.updates-timeline li.updates-timeline__item h4.notes-heading {
  font-size: 19px;
  margin: 0 0 10px 0;
}

ul.notes-timeline li.updates-timeline__item p.notes-copy {
  margin-bottom: 20px;
}

ul.notes-timeline li.updates-timeline__item p.notes-copy:last-of-type {
  margin-bottom: 0;
}

ul.updates-timeline {
  margin: 0 0 15px 0;
  overflow: hidden;
  position: relative;
  padding-left: 0;
  list-style-type: none;
}

ul.updates-timeline:before {
  background-color: #1d70b8;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}

ul.updates-timeline .updates-timeline__item {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

ul.updates-timeline .updates-timeline__item:before {
  background-color: #1d70b8;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 15px;
}

ul.updates-timeline .updates-timeline__item .updates-timeline__title {
  line-height: 1.31579;
  display: inline;
}

ul.updates-timeline .updates-timeline__item .updates-timeline__by {
  margin: 0;
}
