.vacancy {
  @include govuk-font(19);

  p {
    margin-top: 5px;
  }

  &--metadata {
    background-color: govuk-colour("light-grey");
    padding: $govuk-gutter-half;
    margin-top: $govuk-gutter*3;
    @include govuk-media-query($until: tablet) {
      margin-top: $govuk-gutter;
    }

    margin-bottom: $govuk-gutter;

    dl {
      dt {
        @include govuk-font(19, $weight: bold);
      }
      dd {
        margin-left: 0;
        margin-bottom: $govuk-gutter-half;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  #map_zoom {
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }

  div.supporting-docs {
    margin-block-end: 1em;
    padding: 15px;
    border: 1px solid #b1b4b6;

    ul {
      margin:0;
      padding: 0;
      list-style-type: none;

      li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .document-link {
          text-decoration: none;
          word-wrap: break-word;

          svg {
            float: left;
            margin-right: 0.5rem;
            margin-top: 0.3rem;
          }
        }
      }
    }
  }
}
