@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel.no-border-override {
    border-style: none;
    padding-left: 0;
    padding-right: 0;
  }
}

a.govuk-tabs__tab.tab-links-override:link,
.govuk-tabs__tab.tab-links-override:visited,
a.js-enabled .govuk-tabs__tab.tab-links-override:link,
a.js-enabled .govuk-tabs__tab.tab-links-override:visited {
  color: $govuk-link-colour;
}

li.govuk-tabs__list-item--selected > a.govuk-tabs__tab.govuk-tabs__tab.tab-links-override,
a.govuk-tabs__tab.tab-links-override:focus,
a.js-enabled .govuk-tabs__tab.tab-links-override:focus {
  color: $govuk-link-active-colour;
}

body {
  &.vacancies_show,
  &.vacancies_preview {
    .govuk-main-wrapper {
      padding-top: 0;
    }
  }
}
