- content_for :page_title do
  Cookies

.grid-row

  .column-two-thirds
    %h1.heading-xlarge Cookies

    %p.lede ‘Teaching Jobs’ puts small files (known as ‘cookies’) onto your computer to collect information about how you use the site.

    %p Cookies are used to:

    %ul.list.list-bullet
      %li measure how you use the this service so it can be updated and improved based on your needs
      %li remember the notifications you’ve seen so that we don’t show them to you again
      %li remember who you are when you have logged in so we can show you your information and information relevant to you

    %p ‘Teaching Jobs’ cookies aren’t used to identify you personally.
    %p Find out more about #{link_to 'how to manage cookies.', 'http://www.aboutcookies.org/'}

    %h2.heading-large How we use cookies

    %h3.heading-medium Measuring website usage (Google Analytics)

    %p We use Google Analytics software to collect information about how you use ‘Teaching Jobs’. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.

    %p Google Analytics stores information about:

    %ul.list.list-bullet
      %li the pages you visit on ‘Teaching Jobs’
      %li how long you spend on each page
      %li how you got to the site
      %li what you click on while you’re visiting the site

    %p We don’t allow Google to use or share our analytics data.

    %p Google Analytics sets the following cookies:

    %table.mb1
      %thead
        %th Name
        %th Purpose
        %th Expires
      %tr
        %td _tvs_session
        %td Session cookie containing a randomly generated string when you visit the site
        %td After 1 hour
      %tr
        %td seen_cookie_message
        %td
        %td

    %p You can #{link_to 'opt out of Google Analytics.', 'https://tools.google.com/dlpage/gaoptout'}

    %h3.heading-medium Our introductory message

    %p You may see a pop-up welcome message when you first visit ‘Teaching Jobs’. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.

    %table.mb1
      %thead
        %th Name
        %th Purpose
        %th Expires
      %tr
        %td ???
        %td ???
        %td ???
