- content_for :page_title_prefix  do
  =t('static_pages.cookies.title')

.govuk-grid-row

  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl=t('static_pages.cookies.title')

    %p.govuk-body-l=t('static_pages.cookies.explainer')

    %p=t('static_pages.cookies.cookies_are_used_to.title')

    %ul.govuk-list.govuk-list--bullet
      -t('static_pages.cookies.cookies_are_used_to.list').each do |li|
        %li=li.html_safe

    .panel.panel-border-wide
      %p=t('static_pages.cookies.not_used_to_identify')
    %p=t('static_pages.cookies.find_out_more_about_cookies', how_to_manage_url: link_to(t('static_pages.cookies.how_to_manage'), 'http://www.aboutcookies.org/', class: 'govuk-link')).html_safe

    %h2.govuk-heading-l=t('static_pages.cookies.how_we_use.title')

    %h3.govuk-heading-m=t('static_pages.cookies.how_we_use.analytics.title')

    %p=t('static_pages.cookies.how_we_use.analytics.line_1')

    %p=t('static_pages.cookies.how_we_use.analytics.line_2')

    %ul.govuk-list.govuk-list--bullet
      -t('static_pages.cookies.how_we_use.analytics.list').each do |li|
        %li=li.html_safe

    %p=t('static_pages.cookies.how_we_use.analytics.share_data_with_gds')
    
    .panel.panel-border-wide
      %p=t('static_pages.cookies.how_we_use.analytics.line_3')

    %p=t('static_pages.cookies.how_we_use.analytics.line_4')

    %table.govuk-table{ class: 'govuk-!-margin-bottom-6' }
      %thead.govuk-table__head
        %th.govuk-table__header=t('static_pages.cookies.name')
        %th.govuk-table__header=t('static_pages.cookies.purpose')
        %th.govuk-table__header=t('static_pages.cookies.expires')
      %tr.govuk-table__row
        %td.govuk-table__cell _ga
        %td.govuk-table__cell=t('static_pages.cookies.types.ga.purpose')
        %td.govuk-table__cell=t('static_pages.cookies.types.ga.expires')
      %tr.govuk-table__row
        %td.govuk-table__cell _gid
        %td.govuk-table__cell=t('static_pages.cookies.types.gid.purpose')
        %td.govuk-table__cell=t('static_pages.cookies.types.gid.expires')
      %tr.govuk-table__row
        %td.govuk-table__cell _gat
        %td.govuk-table__cell=t('static_pages.cookies.types.gat.purpose')
        %td.govuk-table__cell=t('static_pages.cookies.types.gat.expires')

    %p=t('static_pages.cookies.how_we_use.analytics.you_can_opt_out', opt_out_url: link_to(t('static_pages.cookies.how_we_use.analytics.opt_out'), 'https://tools.google.com/dlpage/gaoptout', class: 'govuk-link')).html_safe

    %h3.govuk-heading-m=t('static_pages.cookies.sessions.title')

    %p=t('static_pages.cookies.sessions.about')

    %table.govuk-table{ class: 'govuk-!-margin-bottom-6' }
      %thead.govuk-table__head
        %th.govuk-table__header=t('static_pages.cookies.name')
        %th.govuk-table__header=t('static_pages.cookies.purpose')
        %th.govuk-table__header=t('static_pages.cookies.expires')
      %tr.govuk-table__row
        %td.govuk-table__cell _teachingvacancies_session
        %td.govuk-table__cell=t('static_pages.cookies.types.teachingvacancies_session.purpose')
        %td.govuk-table__cell=t('static_pages.cookies.types.teachingvacancies_session.expires')

    %h3.govuk-heading-m=t('static_pages.cookies.introductory_message.title')

    %p=t('static_pages.cookies.introductory_message.about')

    %table.govuk-table{ class: 'govuk-!-margin-bottom-6' }
      %thead.govuk-table__head
        %th.govuk-table__header=t('static_pages.cookies.name')
        %th.govuk-table__header=t('static_pages.cookies.purpose')
        %th.govuk-table__header=t('static_pages.cookies.expires')
      %tr.govuk-table__row
        %td.govuk-table__cell seen_cookie_message
        %td.govuk-table__cell=t('static_pages.cookies.types.seen_cookie_message.purpose')
        %td.govuk-table__cell=t('static_pages.cookies.types.seen_cookie_message.expires')

    %table.govuk-table{ class: 'govuk-!-margin-bottom-6' }
      %thead.govuk-table__head
        %th.govuk-table__header=t('static_pages.cookies.name')
        %th.govuk-table__header=t('static_pages.cookies.purpose')
        %th.govuk-table__header=t('static_pages.cookies.expires')
      %tr.govuk-table__row
        %td.govuk-table__cell RP211276217
        %td.govuk-table__cell=t('static_pages.cookies.types.RP211276217.purpose')
        %td.govuk-table__cell=t('static_pages.cookies.types.RP211276217.expires')
      %tr.govuk-table__row
        %td.govuk-table__cell ep201
        %td.govuk-table__cell=t('static_pages.cookies.types.ep201.purpose')
        %td.govuk-table__cell=t('static_pages.cookies.types.ep201.expires')
      %tr.govuk-table__row
        %td.govuk-table__cell ep202
        %td.govuk-table__cell=t('static_pages.cookies.types.ep202.purpose')
        %td.govuk-table__cell=t('static_pages.cookies.types.ep202.expires')
