.govuk-width-container
  %main.govuk-main-wrapper
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        = render 'pages/home/search'
      .govuk-grid-column-one-third
        = render 'pages/home/signin'
    .govuk-grid-row
      = render 'pages/home/location_categories'
