= content_for :page_title_prefix, t('jobs.heading')

.govuk-width-container
  %main.govuk-main-wrapper
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        .search_panel= render 'pages/home/search'
      .govuk-grid-column-one-third
        .signin= render 'pages/home/signin'
    .govuk-grid-row
      = render 'pages/home/location_categories'
