- content_for :page_title_prefix  do
  Privacy Policy

.govuk-grid-row

  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l Privacy Notice: Teaching Jobs

    %h2.govuk-heading-m Who we are

    %p
      This work is being carried out by Department for Education (DfE) Digital, which is a part of DfE. For the purpose of data protection legislation, the DfE is the data controller for the personal data processed as part of Teaching Jobs.

    %h2.govuk-heading-m What personal information we will collect

    %p
      We will collect:
      %ul.govuk-list.govuk-list--bullet
        %li part of your IP address
        %li email addresses that are shared with us
        %li personal information such as the name and email of a contact person at your school, if you choose to share this in a job listing you post to Teaching Jobs


    %h2.govuk-heading-m How we will use your information
    %p
      We process your anonymised Internet Protocol (IP) address in order to track traffic to the service and continuously improve our service to better meet users’ needs.
    %p
      Information published in job listings may be passed on to third party job listing sites that use our job listing data via an application programming interface (API), as described in our Terms and Conditions. We are not responsible for how a third party handles any personal information you choose to include in a job listing.

    %h2.govuk-heading-m Why our use of your personal data is lawful
    %p
      In order for our use of your personal data to be lawful, we need to meet one (or more) conditions in the data protection legislation. For the purpose of this project, this processing is necessary to complete a task in the public interest as stated under GDPR Article 6 (1)(e).

    %h2.govuk-heading-m Who we will make your personal data available to
    %p
      We sometimes need to make personal data available to other organisations. These might include contracted partners (who we have employed to process your personal data on our behalf) and/or other organisations (with whom we need to share your personal data for specific purposes).
    %p
      Where we need to share your personal data with others, we ensure that this data sharing complies with data protection legislation. We share specific types of personal data with dxw, who have been contracted by DfE to manage the delivery of the digital service. If you represent a school and are publishing a job listing through Teaching Jobs we share your email with #{link_to('Microsoft','https://privacy.microsoft.com/en-us/privacystatement', class: 'govuk-link')}, solely for the purpose of enabling sign-in to the publishing environment.

    %p
      The firm dxw uses your data data in the following way
      %ul.govuk-list.govuk-list--bullet
        %li for user research that informs development of the service: if you share your name, email address and phone number dxw will store these in its research library
        %li for security purposes: dxw collects part of the IP addresses of people visiting the Teaching Jobs website (for example, if we were receiving continuous direct denial of service attacks from an IP address range then we could block it)
        %li to enable users to use the service and receive updates: dxw collects the emails of those publishing job listings on Teaching Jobs

    %h2.govuk-heading-m How long we will keep your personal data
    %p Neither DfE nor dxw will keep your personal data longer than we need it for the purpose(s) of research, security and/or delivery of the service, and in any case not longer than 7 years. Your data will be deleted when DfE and dxw no longer need it for these purposes, or when 7 years have passed, whichever comes first.
    %p Partial IP addresses will be deleted after 7 days unless their request caused an error, in which case they remain in our logs for 30 days.
    %p If you share personal information in a job listing we will retain this while the job vacancy is live and for one year after it has expired.

    %h2.govuk-heading-m Your data protection rights
    %p You have the right:
    %ul.govuk-list.govuk-list--bullet
      %li to ask us for access to information about you that we hold
      %li to have your personal data rectified, if it is inaccurate or incomplete
      %li to request the deletion or removal of personal data where there is no compelling reason for its continued processing (after we have held your data for 3 years you have a statutory right to request that it be deleted, which we will ensure happens within 1 month of receiving your request)
      %li to restrict our processing of your personal data (i.e. permitting its storage but no further processing)
      %li to object to direct marketing (including profiling) and processing for the purposes of scientific/historical research and statistics
      %li not to be subject to decisions based purely on automated processing where it produces a legal or similarly significant effect on you

    %p If you need to contact us regarding any of the above, please do so via the DfE site at: #{link_to('https://www.gov.uk/contact-dfe', 'https://www.gov.uk/contact-dfe', target: '_blank', class: 'govuk-link')}.
    %p
      Further information about your data protection rights appears on the Information Commissioner’s website at: #{link_to('https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights/', 'https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights/', target: '_blank', class: 'govuk-link')}.

    %h2.govuk-heading-m Your right to lodge a complaint
    %p You have the right to raise any concerns with the Information Commissioner’s Office (ICO) via their website at #{link_to('https://ico.org.uk/concerns/', 'https://ico.org.uk/concerns/', target: '_blank', class: 'govuk-link')}

    %h2.govuk-heading-m Last updated
    %p We may need to update this privacy notice periodically so we recommend that you revisit this information from time to time. This version was last updated on 25 May 2018.
