- content_for :page_title_prefix do
  | Privacy Policy

.govuk-main-wrapper
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      markdown:

        # **Privacy Notice: Teaching Vacancies**
        {: .govuk-heading-xl}

        ## Who we are
        {: .govuk-heading-l}

        The Teaching Vacancies service is run by the Department for Education (DfE).

        Any information we collect when you use our services will be used and looked after by the Department for Education. Any data input by a job seeker in the process of applying for a job will be shared with the organisation they are applying to. When a job seeker submits a job application, they consent to sharing their data with the Department for Education and the school, academy trust or local authority (if relevant).

        This means that the DfE is the data controller, as well as data processor, of your information (as defined by data protection law).

        Schools, trusts and local authorities are independent to the Department and will have their own policy for processing your information. Any organisation using the Teaching Vacancies service must agree to abide by our Terms and Conditions.

        ## When we collect personal information
        {: .govuk-heading-l}

        We receive your personal data when you submit it:

        * when contacting us for support using the service, to leave feedback or for any other matter
        * as a jobseeker in order to create a Teaching Vacancies account or complete an application through Teaching Vacancies
        * as a member of hiring staff in order to create a Teaching Vacancies account
        * as a contact person for a job that has been listed on Teaching Vacancies
        * as a jobseeker signing up for emailed job alerts
        * when you opt in to Google Analytics cookies
        {: .govuk-list.govuk-list--bullet }

        [Find out more about our cookie policy](https://teaching-vacancies.service.gov.uk/cookies-preferences){: .govuk-link}.

        ## What personal information we collect
        {: .govuk-heading-l}

        The personal data that we collect depends on whether you are using the service with a job seeker account, a hiring staff account, or without an account.

        ### What data we collect if you use Teaching Vacancies without an account
        {: .govuk-heading-m}

        If you use the Teaching Vacancies service without creating an account we may collect the following information about you:

        * your Internet Protocol (IP) address
        * the version of the web browser you use
        {: .govuk-list.govuk-list--bullet }

        If you use the Teaching Vacancies service without creating an account, and also contact our support desk, we may collect the following information about you:

        * your name
        * your email address
        * your phone number
        {: .govuk-list.govuk-list--bullet }

        ### What data we collect if you have a jobseeker account
        {: .govuk-heading-m}

        If you create a jobseeker account with Teaching Vacancies and use our service we may collect the following information about you:

        * your IP address
        * the version of the web browser you use
        * your email address
        {: .govuk-list.govuk-list--bullet }

        ### What data we collect if you apply for a job through Teaching Vacancies
        {: .govuk-heading-m}

        A jobseeker account is required to apply for a job through Teaching Vacancies. In order to complete an application we will request the following information from you so we can process your application:

        * Personal details
          * First and last name
          * Teacher reference number
          * National Insurance number
          * IP address
        * Contact details
          * Address
          * Phone number
          * Email address
        * Qualifications and employment
          * Educational qualification details
          * Current and previous employment details
          * Your personal statement
          * Details of your referees
        * Declarations
          * Whether you are banned or disqualified from working with children
          * Whether you have any sanctions or conditions on your employment
          * Close or family relations with someone at the organisation
          * Whether you have the right to work in the UK
        * Any other information you choose to share during the application process, for example equality and diversity information.
        {: .govuk-list.govuk-list--bullet }

        ### What data we collect if you&#39;re a referee
        {: .govuk-heading-m}

        If you&#39;re a referee, we will have received your data from an applicant who has applied for a job through Teaching Vacancies. They provided us with your:

        * Name
        * Job title
        * Organisation
        * Relationship to the applicant
        * Email address
        * Phone number
        {: .govuk-list.govuk-list--bullet }

        ### What data we collect if you have a hiring staff account
        {: .govuk-heading-m}

        If you use the Teaching Vacancies service with a hiring staff account we may collect the following information about you:

        * your IP address
        * the version of the web browser you use
        * the email address you use for the purpose of creating a Teaching Vacancies account and listing jobs
        * personal information such as the name and email of a contact person at your school, if you choose to share this in a job listing you post on Teaching Vacancies
        {: .govuk-list.govuk-list--bullet }

        ### What data we collect if you participate in user research
        {: .govuk-heading-m}

        If you consent to participating in user research we may collect the following information about you:

        * Name
        * Email address
        * Phone number
        * Job title
        * Organisation
        * Age
        * Local area
        {: .govuk-list.govuk-list--bullet }

        ## How we use your information
        {: .govuk-heading-l}

        If you visit our service we may use and store things like your IP address and web browser version to actively identify security and privacy threats to the service. We also use this information to make sure the service is working correctly and to help us fix technical problems with the website. This data is stored on a separate system that is not used for analytics purposes.

        If you contact us by email, DfE will use your name and contact information for the purpose of responding to you and providing support. We will not share this information with any other parties.

        If you sign up for a job alert your email address will be used exclusively for the purpose of sending you an email when a job meeting your chosen search criteria is published on Teaching Vacancies.

        If you sign up for a jobseeker account your email address will be used exclusively for the purpose of sending you emails related to account actions such as updating your password.

        If you apply for a job through Teaching Vacancies we will share the personal data that you submit in your application with the organisation you are applying to. Your email address will be used for the purpose of sending you updates on the status of your application.

        If you choose to answer the equal opportunities questions as part of an application, this data will be encrypted and anonymised to protect your identity. It will only be shared with the organisation you have applied to once the job listing has ended and only if enough people have applied for the vacancy. This is to make sure the sample size is large enough that you cannot be identified. The DfE may use the anonymised data to inform policy decisions.

        To list jobs on the service, hiring staff at schools need a Teaching Vacancies account. To set up an account, they need to tell us their name and email address. Names and email addresses shared with us for this purpose are not shared by us with other parties.

        Information published in job listings may be used by third party job listing sites that use our job listing data through an application programming interface (API), as described in our [Terms and Conditions](https://teaching-vacancies.service.gov.uk/pages/terms-and-conditions){: .govuk-link}. We are not responsible for how a third party handles any personal information you choose to include in a job listing.

        If you indicate in the feedback form that we can contact you for user research then we may use your email for that purpose. It will not be shared with third parties.

        The Teaching Vacancies application meets the DfE security standards and runs security tests regularly to improve the service. Like with any digital service, there is always a chance of data breaches happening.

        ## Why our use of your personal data is lawful
        {: .govuk-heading-l}

        In order for our use of your personal data to be lawful, we need to meet one (or more) conditions in the data protection legislation.

        Teaching Vacancies processes your data in the performance of a public task (defined in data protection law) carried out in the public interest (under section 10 of the Education Act 1996 and section 159, (1), of the Equality Act 2010)) to help schools recruit teachers.

        ### How long we will keep your personal data
        {: .govuk-heading-m}

        The DfE will not keep your personal data longer than we need it for the purpose(s) of research, security and/or delivery of the service. Your data will be deleted when DfE no longer needs it for these purposes.

        **As a jobseeker**
        {: .govuk-heading-s}

        Data collected when you sign up for a job alert is kept as long as you are subscribed to the alert. When you unsubscribe from a job alert the data is deleted.

        Data collected when you create an account is kept as long as you have an account. If you delete your account, your data will also be deleted.

        Data collected when you start a job application is kept until the draft application is deleted or submitted. Once you have submitted a job application, the data will be kept as long as you have an account. Your application will be shared with hiring staff at the organisation you have applied to.

        Your application will be stored on the Teaching Vacancies service, and hiring staff at the organisation you have applied to will have access to view and download it. Their access to your application (through Teaching Vacancies) will be automatically removed one year from the job listing closing date. If you withdraw your application, Hiring Staff will no longer be able to access it through Teaching Vacancies. You will retain access to your application as long as you have an account.

        The organisation will have its own policy for storing your information outside of Teaching Vacancies. The organisation is responsible for destroying any printed or downloaded copies of your application.

        When you submit a query to the support desk your data will be deleted after 5 years from the date of submission.

        If you are recruited for user research through a recruitment agency, the details we receive from the agency are deleted once the user research session has taken place or once you tell us you no longer wish to participate in user research.

        If you participate in user research, you will be asked to sign a consent form. The consent form and any notes or recordings from your user research session are kept for 2 years or for as long as we need the data for research purposes.

        Data collected when you submit a feedback form on the service is kept for as long as we need the data for the purpose(s) of research, security and/or delivery of the service.

        **As hiring staff**
        {: .govuk-heading-s}

        Data collected when you create an account is kept as long as you have an account.

        When you submit a query to the support desk your data will be deleted after 5 years from the date of submission.

        If you share personal information in a job listing we will keep this information while the job listing is live and for one year after it has expired.

        If you are recruited for user research through a recruitment agency, the details we receive from the agency are deleted once the user research session has taken place or once you tell us you no longer wish to participate in user research.

        If you participate in user research, you will be asked to sign a consent form. The consent form and any notes or recordings from your user research session are kept for 2 years or for as long as we need the data for research purposes.

        Data collected when you create a job listing is kept for as long as we need the data for the purpose(s) of research, security and/or delivery of the service.

        Data collected when you submit a feedback form on the service is kept for as long as we need the data for the purpose(s) of research, security and/or delivery of the service.

        ### Your data protection rights
        {: .govuk-heading-m}

        You have the right:

        * to ask us what information we hold about you hold
        * to have your personal data corrected, if it is inaccurate or incomplete
        * to ask us to delete your personal data. We will then delete your data unless we are required by law to keep it
        * to restrict our processing of your personal data (for example, permitting its storage but no further processing)
        * to object to direct marketing (including profiling) and processing for the purposes of scientific/historical research and statistics
        * not to be subject to decisions based purely on automated processing where it has a legal or similarly significant effect on you
        {: .govuk-list.govuk-list--bullet }

        If you need to contact us about any of the above, or have any other questions about how your personal information is used, please [contact the DfE](https://www.gov.uk/contact-dfe){: .govuk-link}.

        The Information Commissioner&#39;s Office makes further information about your data protection rights available in their [Guide to the General Data Protection Regulation (GDPR)](https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/){: .govuk-link}.

        ### Right to lodge a complaint
        {: .govuk-heading-m}

        If you are unhappy with our use of your personal data, please let us know by emailing [teaching.vacancies@education.gov.uk](mailto:teaching.vacancies@education.gov.uk){: .govuk-link}.

        You have the right to raise any concerns with the [Information Commissioner&#39;s Office (ICO)](https://ico.org.uk/concerns/){: .govuk-link}.

        ## Last updated
        {: .govuk-heading-m}

        We may need to update this privacy notice so we recommend that you revisit this information from time to time.

        This version was last updated on 05 July 2021.
