- content_for :page_title_prefix do
  Terms and Conditions

.govuk-grid-row

  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl Terms and Conditions

    %h2.govuk-heading-l All Users

    %h3.govuk-heading-m Using the website
    %p Please read these Terms of Use (“General Terms”) carefully before using this Teaching Jobs website (the “Service”).
    %P This Service  is maintained for your personal use and viewing. Access and use by you of this Service constitutes your acceptance of these General Terms . This takes effect from the date on which you first use this website. If you do not agree to these terms, you must not use this website.
    %p If we change these General Terms we will post the revised document here with an updated effective date. If we make significant changes to these terms, we may notify you by other means such as sending an email or posting a notice on our home page.

    %h3.govuk-heading-m Information About Us
    %p This Service is operated by [the Department for Education] (“<strong>we</strong>”, “<strong>our</strong>”, or “<strong>us</strong>”). We are a central government department and have our registered office at Sanctuary Buildings, 20 Great Smith Street, SW1P 3BT.
    %p You can contact us using the following email address: <a href="mailto: #{t('help.email')}" class='govuk-link'>#{t('help.email')}</a>

    %h3.govuk-heading-m Access to the Site
    %p We shall not be liable if for any reason the Site is unavailable at any time or for any period. From time to time, we may restrict access to all or some parts of the Site to users who have registered with us.
    %p If you choose, or are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party.
    %p We reserve the right to restrict or deny you access to all or some part of the Site if in our opinion, you have failed to comply with these General Terms.

    %h3.govuk-heading-m Hyperlinking to the Teaching Jobs website
    %p We do not object to you linking directly to pages on this site and you do not need to ask permission to do so. However, we do not permit our pages to be loaded into frames on your site. The Teaching Jobs pages must be displayed in the user's entire browser window.
    %p You may not charge your website's users to click on a link to any page on the Service.

    %h3.govuk-heading-m Third Party Content and Hyperlinking from the Service
    %p We are not liable or responsible for the third party content on the Service. Third party content includes, for example, material posted by other users of the Service, job listings and display advertising.
    %p Where the Service contains links to other sites and resources, we are not liable or responsible for the content or reliability of those websites and resources and do not necessarily endorse the views expressed within them.
    %p We aim to replace broken links to other sites but cannot guarantee that these links will always work as we have no control over the availability of other sites.

    %h3.govuk-heading-m Virus protection
    %p We make every effort to check and test material at all stages of production. It is always wise for you to run an anti-virus program on all material downloaded from the Internet as we do not guarantee our service will be secure or free from bugs or viruses. We cannot accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material derived from this website.

    %p You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our service, the server on which our service is stored or any server, computer or database connected to our service. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. Each of these acts is a criminal offence. We will report any such offence to the relevant law enforcement authorities and co-operate with them to determine your identity.

    %h3.govuk-heading-m Disclaimer and Liability
    %p
      The content of this Service includes both content created by us (included but not limited to content that helps you use the Service) and third-party content (included but not limited to job listings). We do not:

      %ul.govuk-list.govuk-list--bullet
        %li endorse third-party content
        %li vouch for its accuracy
        %li guarantee that the views, instructions and/or assertions expressed in it are our own

    %p The content we create for the Service is not advice. You should verify any information on the Service yourself and use your own judgement before doing or not doing anything on the basis of the content.

    %p Unless expressly stated in writing by us, the Service and material relating to government information, products and services (or to third party information, products and services), is provided 'as is', without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
    %p We do not warrant that the functions contained in the material contained in this site will be uninterrupted or error free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or represent the full functionality, accuracy, reliability of the materials.
    %p
      In no event will we be liable for:

      %ul.govuk-list.govuk-list--bullet
        %li any action you may take as a result of relying on any information/materials provided on the Service or for any loss or damage suffered by you as a result of you taking such action  including, without limitation, indirect or consequential loss or damage, or any loss or damages whatsoever arising from or in connection with the use of the Service
        %li any dealings you have with third parties (e.g. other users or advertisers) that take place using or facilitated by the Service

    %h3.govuk-heading-m Validity of these General Terms
    %p If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions will still apply.

    %h3.govuk-heading-m Applicable Law and Jurisdiction
    %p These General Terms are governed by the laws of England and Wales. Any dispute arising under these General Terms will be subject to the exclusive jurisdiction of the courts of England and Wales.


    %h2.govuk-heading-l Terms and Conditions for Schools
    %h3.govuk-heading-m Using the Service
    %p Access and use by you of this Service constitutes your acceptance of these Terms and Conditions. This takes effect from the date on which you first use this website. If you do not agree to these terms, you must not use this website.
    %p By using Teaching Jobs you agree to abide by the following terms and conditions.

    %h3.govuk-heading-m Unacceptable Use
    %p
      You must not publish:
      %ul.govuk-list.govuk-list--bullet
        %li listings for teaching vacancies that aren’t relevant to the service, such as but not limited to non-teaching roles, supply teaching roles and unpaid positions
        %li listings for unconfirmed or non-existent vacancies
        %li offensive or inappropriate language, including but not limited to profanities or language pejorative of any group, such as racist, sexist or homophobic comments
        %li discriminatory content: you must not state or imply in a job advert that you will discriminate against anyone (subject to certain exceptions under the Equality Act 2010 particularly those applying to schools with a religious character); for further information see GOV.UK’s <a href='https://www.gov.uk/employer-preventing-discrimination/recruitment' target='_blank' class='govuk-link'>guidance on discrimination in job adverts</a>
        %li material that infringes any intellectual property rights, such as copyright and trademarks (this means generally that you must own the rights in everything you submit or must obtain permission from the rights owner to submit the material)
        %li material that is technically harmful (including, without limitation, computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data)
        %li material that encourages or teaches conduct that is a criminal offence, gives rise to civil liability, or is otherwise unlawful

    %h3.govuk-heading-m Access to the Service
    %p We will not be liable if for any reason the Service is unavailable at any time or for any period. From time to time, we may restrict access to all or some parts of the Service to users who have registered with us.
    %p If you choose, or are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party.
    %p We reserve the right to restrict or deny you access to all or some part of the Service if in our opinion you have failed to comply with these Terms and Conditions.
    %p The Department for Education withholds the right to withdraw without notice listings that breach these terms and to withdraw the access of users who breach them.

    %h3.govuk-heading-m Listing Data
    %p Application Programming Interface (API) use: listings are published under the <a href='http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/open-government-licence/' target='_blank' class='govuk-link'>Open Government License</a> (OGL), which permits a wide range of information in the public sector to be reused free of charge. This means the listing data on Teaching Jobs will be available to third parties to publish on external sites after the pilot phase, aside from where <a href='http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/open-government-licence/exceptions-to-ogl/' target='_blank' class='govuk-link'>exceptions to the OGL</a> prohibit it.
    %p Data ownership: schools have sole responsibility for maintaining the accuracy and appropriateness of the data contained in their listings.

    %h3.govuk-heading-m Terms and Conditions for API users
    %p
      You are free to reuse job listing data under the terms of the <a href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' target='_blank' class='govuk-link'>Open Government Licence</a> for public sector information with the following exception:
      %ul.govuk-list.govuk-list--bullet
        %li you may not charge a school any fee or commission for contacting, interviewing or hiring a respondent to your advertisement or listing if it is based on Teaching Jobs data that you have reused.
