- content_for :page_title_prefix do
  =t('static_pages.terms_and_conditions.title')

.govuk-grid-row

  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl=t('static_pages.terms_and_conditions.title')

    %h2.govuk-heading-l=t('static_pages.terms_and_conditions.all_users.title')

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.using_the_website.title')
    -t('static_pages.terms_and_conditions.all_users.using_the_website.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.information_about_us.title')
    -t('static_pages.terms_and_conditions.all_users.information_about_us.text', help_email: t('help.email')).each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.access_to_the_site.title')
    -t('static_pages.terms_and_conditions.all_users.access_to_the_site.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.hyperlinking.title')
    -t('static_pages.terms_and_conditions.all_users.hyperlinking.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.third_party_content.title')
    -t('static_pages.terms_and_conditions.all_users.third_party_content.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.virus_protection.title')
    -t('static_pages.terms_and_conditions.all_users.virus_protection.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.disclaimer_and_liability.title')
    %p
      =t('static_pages.terms_and_conditions.all_users.disclaimer_and_liability.line_1')

      %ul.govuk-list.govuk-list--bullet
        -t('static_pages.terms_and_conditions.all_users.disclaimer_and_liability.list_1').each do |li|
          %li=li.html_safe

    %p=t('static_pages.terms_and_conditions.all_users.disclaimer_and_liability.line_2')
    %p=t('static_pages.terms_and_conditions.all_users.disclaimer_and_liability.line_3')
    %p=t('static_pages.terms_and_conditions.all_users.disclaimer_and_liability.line_4')
    %p
      =t('static_pages.terms_and_conditions.all_users.disclaimer_and_liability.line_5')

      %ul.govuk-list.govuk-list--bullet
        -t('static_pages.terms_and_conditions.all_users.disclaimer_and_liability.list_2').each do |li|
          %li=li.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.validity.title')
    %p=t('static_pages.terms_and_conditions.all_users.validity.line_1')

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.all_users.applicable_law.title')
    %p=t('static_pages.terms_and_conditions.all_users.applicable_law.line_1')

    %h2.govuk-heading-l=t('static_pages.terms_and_conditions.for_schools.title')
    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.for_schools.approving_user_accounts.title')
    -t('static_pages.terms_and_conditions.for_schools.approving_user_accounts.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.for_schools.using_the_service.title')
    -t('static_pages.terms_and_conditions.for_schools.using_the_service.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.for_schools.unacceptable_use.title')
    %p
      =t('static_pages.terms_and_conditions.for_schools.unacceptable_use.line_1')
      %ul.govuk-list.govuk-list--bullet
        -t('static_pages.terms_and_conditions.for_schools.unacceptable_use.list').each do |li|
          %li=li.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.for_schools.access_to_the_service.title')
    -t('static_pages.terms_and_conditions.for_schools.access_to_the_service.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.for_schools.listing_data.title')
    -t('static_pages.terms_and_conditions.for_schools.listing_data.text').each do |p|
      %p=p.html_safe

    %h3.govuk-heading-m=t('static_pages.terms_and_conditions.for_schools.for_api_users.title')
    %p
      =t('static_pages.terms_and_conditions.for_schools.for_api_users.line_1').html_safe
      %ul.govuk-list.govuk-list--bullet
        %li=t('static_pages.terms_and_conditions.for_schools.for_api_users.list')
