- content_for :page_title_prefix do
  | Terms and Conditions

.govuk-main-wrapper
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render "shared/flash_messages"

      markdown:

        # Terms and conditions
        {: .govuk-heading-xl}

        ## All users
        {: .govuk-heading-l}

        ### Using the Service
        {: .govuk-heading-m}

        By accessing and using the Teaching Vacancies website (the 'Service') you, as the user, are confirming that you accept these terms and conditions ('General Terms'). This takes effect from the date you first use the Service. If you do not agree to these General Terms, you must not use this website.

        ### **Information about us**
        {: .govuk-heading-m}

        This Service is operated by [the Department for
        Education](https://www.gov.uk/government/organisations/department-for-education){: .govuk-link} ('we', 'our',
        or 'us'). We are a central government department and have our registered office at Sanctuary Buildings, 20 Great
        Smith Street, SW1P 3BT.

        You can contact us using the following email address: [teaching.vacancies@education.gov.uk](mailto:teaching.vacancies@education.gov.uk){: .govuk-link}

        ### **Hyperlinking to the Teaching Vacancies website**
        {: .govuk-heading-m}

        We do not object to you linking directly to pages on this site and you do not need to ask permission to do so. However, we do not permit our pages to be loaded into frames on your site.

        The Teaching Vacancies pages must be displayed in the user's entire browser window.

        You must not charge your website's users to click on a link to any page on the Service.

        ### **Third-party content and hyperlinking from the Service**
        {: .govuk-heading-m}

        We are not liable or responsible for the third-party content on the Service. Third-party content includes material posted by other users of the Service, job listings, uploaded documents and their contents, and display advertising.

        Where the Service contains links to other sites and resources, we are not liable or responsible for the content or reliability of those websites and resources. We do not necessarily endorse the views expressed within them.

        We aim to replace broken links to other sites but cannot guarantee that these links will always work as we have no control over the availability of other sites.

        ### **Virus protection**
        {: .govuk-heading-m}

        We make every effort to check and test material at all stages of production. It is always wise for you to run an antivirus programme on all material downloaded from the Internet as we do not guarantee our Service will be secure or free from bugs or viruses. We cannot accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material from this website.

        You must not misuse our Service by knowingly introducing viruses, Trojans, worms, logic bombs or other material that is malicious or technologically harmful.

        You must not attempt to gain unauthorised access to our Service, the server on which our Service is stored or any server, computer or database connected to our Service.

        You must not attack our site through a denial-of-service attack or a distributed denial-of service attack.

        Each of these acts is a criminal offence. We will report any such offence to the relevant law enforcement authorities and co-operate with them to determine your identity. In the event of such a breach your right to use the Service will cease immediately.

        ### **Disclaimer and Liability**
        {: .govuk-heading-m}

        The content of this Service includes both content created by us (included but not limited to content that helps you use the Service) and third-party content (included but not limited to job listings). We do not:

        * endorse third-party content
        * vouch for its accuracy
        * guarantee that the views, instructions and/or assertions expressed in it are our own
        {: .govuk-list.govuk-list--bullet }

        The content we create for the Service is not advice. You should verify any information on the Service yourself and use your own judgement before doing or not doing anything on the basis of the content.

        Unless expressly stated in writing by us, the Service and material relating to government information, products and services (or to third-party information, products and services), is provided 'as is', without any representation or endorsement made and without warranty of any kind, whether express or implied. This includes but is not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.

        We do not warrant that the functions contained in the material on this site will be uninterrupted or error free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or represent the full functionality, accuracy or reliability of the materials.

        In no event will we be liable for:

        * any action you may take as a result of relying on any information or materials provided on the Service or for any loss or damage suffered by you as a result of you taking such action. This includes, but is not limited to, indirect or consequential loss or damage, or any loss or damages whatsoever arising from or in connection with the use of the Service
        * any dealings you have with third parties (for example, other users or advertisers) that take place using or facilitated by the Service
        {: .govuk-list.govuk-list--bullet }

        ### **Validity of these General Terms**
        {: .govuk-heading-m}

        If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions will still apply.

        ### **Applicable law and jurisdiction**
        {: .govuk-heading-m}

        These General Terms are governed by the laws of England and Wales. Any dispute arising under these General Terms will be subject to the exclusive jurisdiction of the courts of England and Wales.

        ## **Terms and conditions for jobseekers**
        {: .govuk-heading-l}

        ### **Applying for a job through Teaching Vacancies**
        {: .govuk-heading-m}

        The information you provide in your applications must be truthful, complete and accurate. A declaration is included in the application feature on the Service which, when agreed to on submission of an application, is considered valid and binding. If, following submission of an application, you note that you have made an error, you are responsible for contacting the advertising organisation directly to correct the error.

        Be aware that schools may choose to close a job advert before the advertised date.

        By applying for a job through the Service, you agree that you must not create a draft application or submit an application that contains:

        * any material that encourages violence or racial or religious hatred or is false, misleading, defamatory, discriminatory, threatening, offensive, abusive, likely to cause someone anxiety or distress, blasphemous, pornographic, in breach of confidence, in breach of privacy, unlawful, harassing, libelous, harmful, vulgar, obscene, or otherwise objectionable
        * offensive or inappropriate language, including but not limited to profanities or language pejorative of any group, such as racist, sexist or homophobic comments
        * material that infringes any intellectual property rights, such as copyright and trademarks (this means generally that you must own the rights in everything you submit or must obtain permission from the rights owner to submit the material)
        * material that is technically harmful (including, but not limited to, computer viruses, logic bombs, Trojans, worms, harmful components, corrupted data or other malicious software or harmful data)
        {: .govuk-list.govuk-list--bullet }

        ## **Terms and conditions for schools, trusts and local authorities (LAs)**
        {: .govuk-heading-l}

        ### **Approving user accounts**
        {: .govuk-heading-m}

        Users must be approved before they are given a Teaching Vacancies account for the purposes of publishing or managing job listings for a school or trust. Each school, trust or local authority must have a nominated 'approver' who is responsible for approving Teaching Vacancies accounts for users at that school, trust or local authority.

        An approver must only allow someone working for their school, trust or local authority to publish or manage job listings for their school, trust or local authority.

        Approvers must not create accounts for or allow third parties to publish or manage job listings on behalf of their school, trust or local authority. If the Teaching Vacancies team detects or is alerted to any account held by or used by third parties then that account will be deleted immediately.

        ## **Unacceptable use**
        {: .govuk-heading-l}

        ### **Job listings**
        {: .govuk-heading-m}

        You must not publish, edit or delete a job listing if you do not have authority from the school, trust or local authority to do so.

        Local authorities, trusts and other organisations must not charge any fee or commission for listing a job on Teaching Vacancies.

        You must not publish:

        * listings for jobs that are not relevant to the Service, such as but not limited to supply teaching roles, unpaid positions and non-education support roles (for example receptionist or school business manager)
        * listings for unconfirmed or non-existent vacancies
        * listings for any school or trust that is not state funded, that is not in England or that does not teach primary or secondary pupils
        * offensive or inappropriate language, including but not limited to profanities or language pejorative of any group, such as racist, sexist or homophobic comments
        * discriminatory content: you must not state or imply in a job advert that you will discriminate against anyone (subject to certain exceptions under the Equality Act 2010, particularly those applying to schools with a religious character); for further information see GOV.UK's [guidance on discrimination in job adverts](https://www.gov.uk/employer-preventing-discrimination/recruitment){: .govuk-link}
        * material that infringes any intellectual property rights, such as copyright and trademarks (this means generally that you must own the rights in everything you submit or must obtain permission from the rights owner to submit the material)
        * material that is technically harmful (including, but not limited to, computer viruses, logic bombs, Trojans, worms, harmful components, corrupted data or other malicious software or harmful data)
        * material that encourages or teaches conduct that is a criminal offence, gives rise to civil liability, or is otherwise unlawful
        {: .govuk-list.govuk-list--bullet }

        ## **Accepting applications through Teaching Vacancies**
        {: .govuk-heading-l}

        By accepting job applications for a job listing through the Service, you agree that:
        {: .govuk-heading-m}

        * Once you receive an application from a jobseeker, it is your responsibility to adhere to General Data Protection Regulation (GDPR) requirements
        * You are responsible for destroying any digital, downloaded, printed or saved copies of a job application
        * You must not share applications received through the Service with anyone other than those involved in the recruitment process from the school, trust, board or local authority
        * You must ensure that appropriate measures are in place to guarantee the protection of personal data in applications
        {: .govuk-list.govuk-list--bullet }

        ## **Access to the Service**
        {: .govuk-heading-m}

        We will not be liable if for any reason the Service is unavailable at any time or for any period. From time to time, we may restrict access to all or some parts of the Service to users who have registered with us.

        If you choose, or are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential and you must not disclose it to any third party.

        We reserve the right to restrict or deny you access to all or some parts of the Service if, in our opinion, you have failed to comply with these General Terms.

        We retain the right to withdraw without notice job listings that breach these terms and to withdraw the access of users who breach them.

        ## **Listing data**
        {: .govuk-heading-m}

        Application Programming Interface (API) use: listings are published under the [Open Government Licence](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/){: .govuk-link}, which permits a wide range of information in the public sector to be reused free of charge. This means the listing data on Teaching Vacancies will be available to third parties to publish on external sites, aside from where [exceptions to the OGL](http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/open-government-licence/exceptions-to-ogl/){: .govuk-link} prohibit it.

        Data ownership: schools, trusts and local authorities have sole responsibility for maintaining the accuracy and appropriateness of the data contained in their listings.

        ## **Terms and conditions for API users**
        {: .govuk-heading-m}
        You are free to reuse job listing data under the terms of the Open Government Licence for public sector information with the following exception:

        * you must not charge any fee or commission for contacting, interviewing or hiring a respondent to your listing if you have reused Teaching Vacancies data.
        {: .govuk-list.govuk-list--bullet }

        ## **Last updated**
        {: .govuk-heading-m}

        We may need to update these General Terms so we recommend that you revisit this information from time to time.

        This version was last updated on 08 April 2021.
