- content_for :page_title do
  =t('static_pages.not_authorised.title')

.grid-row

  .column-two-thirds
    %h1.heading-xlarge=t('static_pages.not_authorised.title')

    -t('static_pages.not_authorised.text').each do |p|
      %p=p.html_safe