- content_for :page_title do
  =t('static_pages.not_authorised.title')

.govuk-grid-row

  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl=t('static_pages.not_authorised.title')

    -t('static_pages.not_authorised.text').each do |p|
      %p=p.html_safe