@import 'base_component';
@import '../../frontend/src/styles/base/mixins';

.dashboard-component {
  margin: govuk-spacing(3) inherit;

  @include govuk-media-query ($from: desktop) {
    border-bottom: 1px solid $govuk-border-colour;

    &__button {
      flex-grow: 1;
      text-align: right;
    }
  }

  .govuk-width-container {
    display: block;
    margin-bottom: govuk-spacing(3);
    margin-left: 0;

    @include govuk-media-query ($from: desktop) {
      margin-bottom: 0;
    }
  }

  h2 {
    word-wrap: break-word;
  }

  .govuk-link {
    text-decoration: none;

    &:visited {
      color: $govuk-link-colour;

      &[aria-current] {
        color: govuk-colour('black');
      }
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  &--background {
    @include full-width-mast;
    background-color: govuk-colour('light-grey');
    border-bottom: 0;
    padding: govuk-spacing(3) 0 0;

    @include govuk-media-query ($until: desktop) {
      .govuk-width-container {
        margin-left: govuk-spacing(3);
      }
    }

    @include govuk-media-query ($from: desktop) {
      .govuk-width-container {
        margin-left: auto;
      }
    }
  }

  &__header {
    display: block;
    @include govuk-media-query ($from: desktop) {
      display: flex;
    }
  }

  &-navigation {
    background: none;

    &__container {
      font-size: 0;
      margin: 0;
      text-align: justify;
    }

    &__nav {
      text-align: left;
    }

    &__list {
      font-size: 0;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      display: inline-block;
      font-size: 1rem;
      line-height: 1.25;
      margin-bottom: 0;
      margin-right: govuk-spacing(4);
      margin-top: 0;

      @include govuk-media-query ($until: desktop) {
        display: block;
        line-height: 1;
        margin-bottom: 0;
      }
    }

    &__link {
      @include govuk-font(19);

      display: block;
      font-weight: bold;
      padding-bottom: govuk-spacing(3);
      padding-top: govuk-spacing(3);
      position: relative;

      @include govuk-media-query ($until: desktop) {
        padding: govuk-spacing(2);
      }

      &[aria-current] {
        @include govuk-media-query ($until: desktop) {
          border-left: govuk-spacing(1) solid govuk-colour('light-blue');
        }

        &::before {
          background-color: govuk-colour('light-blue');
          bottom: 0;
          content: '';
          display: block;
          height: govuk-spacing(1);
          left: 0;
          position: absolute;
          width: 100%;

          @include govuk-media-query ($until: desktop) {
            background: none;
          }
        }
      }
    }
  }

  &__link {
    float: right;

    .govuk-button {
      margin-bottom: 0;
    }
  }

  .filters-information {
    display: block;

    .filters-applied-text {
      line-height: 2em;
    }
  }
}
