= govuk_notification_banner title_text: "Important", classes: "govuk-notification-banner govuk-!-margin-top-0 govuk-!-margin-bottom-5" do |notification_banner|
  - notification_banner.with_heading(text: t("visa_sponsorship_banner.heading"))

  p.govuk-body = t("visa_sponsorship_banner.body", link: govuk_link_to(t("visa_sponsorship_banner.link_text"), edit_personal_details_jobseekers_profile_path(step: "work"))).html_safe
  