daily_alerts:
  cron: '0 08 * * *'
  class: 'SendDailyAlertEmailJob'
  queue: queue_daily_alerts

import_school_data:
  cron: '0 07 * * *'
  class: 'UpdateSchoolsDataFromSourceJob'
  queue: import_school_data

update_dsi_users:
  cron: '0 0 * * *'
  class: 'UpdateDfeSignInUsersJob'
  queue: update_dsi_users_in_db

export_dsi_users:
  cron: '0 01 * * *'
  class: 'ExportDsiUsersToBigQueryJob'
  queue: export_users

export_tables:
  cron: '0 03 * * *'
  class: 'ExportTablesToBigQueryJob'
  queue: export_tables

reset_sessions:
  cron: '0 02 * * *'
  class: 'ResetSessionsJob'
  queue: reset_sessions

submit_performance_platform:
  cron: '0 04 * * *'
  class: 'SubmitPerformancePlatformJob'
  queue: submit_performance_platform

clear_emergency_login_keys:
  cron: '30 0 1 * *'
  class: 'ClearEmergencyLoginKeysJob'
  queue: clear_emergency_login_keys
