#
# SET DATE CRON JOBS
#
send_peak_times_email_reminder_may:
  cron: '0 3 14 5 *' # "At 03:00 on 14 of May."
  class: 'SendPeakTimesEmailReminderJob'
  queue: default

send_peak_times_email_reminder_november:
  cron: '0 12 4 11 *' # "At 12:00 on 4 of November."
  class: 'SendPeakTimesEmailReminderJob'
  queue: default

#
# MONTHLY CRON JOBS
#
clear_emergency_login_keys:
  cron: '30 0 1 * *' # "At 00:30 on day-of-month 1."
  class: 'ClearEmergencyLoginKeysJob'
  queue: low

#
# WEEKLY CRON JOBS
#
queue_weekly_alerts:
  cron: '0 6 * * 5' # "At 06:00 on Friday."
  class: 'SendWeeklyAlertEmailJob'
  queue: default

import_polygon_data:
  cron: '0 23 * * 0' # "At 23:00 on Sunday."
  class: 'ImportPolygonDataJob'
  queue: low

#
# DAILY CRON JOBS
#
remove_stale_vacancies:
  cron: '0 00 * * *' # "At 00:00."
  class: 'RemoveStaleVacanciesJob'
  queue: low

update_dsi_users_in_db:
  cron: '0 0 * * *' # "At 00:00."
  class: 'UpdateDSIUsersInDbJob'
  queue: low

export_users:
  cron: '0 01 * * *' # "At 01:00."
  class: 'ExportDSIUsersToBigQueryJob'
  queue: low

send_entity_table_checks_to_bigquery:
  cron: "30 1 * * *" # "At 01:30."
  class: "DfE::Analytics::EntityTableCheckJob"
  queue: low

reset_sessions:
  cron: '0 02 * * *' # "At 02:00."
  class: 'ResetSessionsJob'
  queue: low

send_unapplied_saved_vacancies_email:
  cron: '05 2 * * *' # "At 02:05."
  class: 'SendEmailForUnappliedSavedVacanciesJob'
  queue: default

send_draft_applications_email:
  cron: '20 2 * * *' # "At 02:20."
  class: 'SendEmailForDraftJobApplicationsJob'
  queue: default

delete_old_feedback:
  cron: '0 3 * * *' # "At 03:00."
  class: 'DeleteOldFeedbackJob'
  queue: default

remove_vacancies_that_expired_yesterday_from_google_index:
  cron: '0 04 * * *' # "At 04:00."
  class: 'RemoveVacanciesThatExpiredYesterdayFromGoogleIndexJob'
  queue: low

remove_invalid_subscriptions:
  cron: '0 05 * * *' # "At 05:00."
  class: 'RemoveInvalidSubscriptionsJob'
  queue: low

delete_old_applications:
  cron: '0 05 * * *' # "At 05:00."
  class: 'DeleteOldNonDraftJobApplicationsJob'
  queue: low

delete_old_alert_runs:
  cron: '10 5 * * *' # "At 05:10."
  class: 'DeleteOldAlertRunsJob'
  queue: low

refresh_markers:
  cron: '0 6 * * *' # "At 06:00."
  class: 'RefreshMarkersJob'
  queue: low

send_job_application_data_expiry_notification:
  cron: '0 6 * * *' # "At 06:00."
  class: 'SendJobApplicationDataExpiryNotifierJob'
  queue: default

queue_applications_received:
  cron: '0 6 * * *' # "At 06:00."
  class: 'SendApplicationsReceivedYesterdayJob'
  queue: default

queue_messages_received:
  cron: '0 7 * * *' # "At 07:00."
  class: 'SendMessagesReceivedYesterdayJob'
  queue: default

send_inactive_account_email:
  cron: '0 8 * * *' # "At 08:00."
  class: 'SendInactiveAccountEmailJob'
  queue: low

destroy_inactive_accounts:
  cron: '10 8 * * *' # "At 08:10."
  class: 'DestroyInactiveAccountsJob'
  queue: low

inactive_profile_warnings:
  cron: '10 14 * * *' # "At 08:40."
  class: 'InactiveProfileWarningsJob'
  queue: low

disable_inactive_profiles:
  cron: '20 14 * * *' # "At 08:20."
  class: 'DisableInactiveProfilesJob'
  queue: low

disable_active_profiles_without_new_fields:
  cron: '30 14 * * *' # "At 08:30."
  class: 'DisableActiveProfilesWithoutNewFieldsJob'
  queue: low

email_feedback_prompt:
  cron: '0 09 * * *' # "At 09:00."
  class: 'SendExpiredVacancyFeedbackPromptJob'
  queue: low

withdraw_stale_drafts:
  cron: '0 10 * * *' # At 10:00.
  class: 'DeleteOldDraftApplicationsForExpiredVacanciesJob'
  queue: low

queue_daily_alerts:
  cron: '45 16 * * *' # "At 4:45pm."
  class: 'SendDailyAlertEmailJob'
  queue: default

export_vacancies_closed_early_to_dwp_find_a_job_service:
  cron: '30 21 * * *' # "At 21:30."
  class: 'ExportVacanciesClosedEarlySinceYesterdayToDwpFindAJobServiceJob'
  queue: low

import_organisation_data:
  cron: '0 22 * * *' # "At 22:00."
  class: 'ImportOrganisationDataJob'
  queue: low

refresh_organisations_gias_data_hash:
  cron: '0 23 * * *' # "At 23:00."
  class: 'RefreshOrganisationsGiasDataHashJob'
  queue: low

index_newly_published_vacancies:
  cron: '01 00 * * *' # "At 00:01."
  class: 'IndexNewlyPublishedVacanciesJob'
  queue: low

# Internal querying & parsing of Find a Job export data depends on this running time.
# Be careful if changing this time as you will need to adapt the code.
export_vacancies_published_and_updated_to_dwp_find_a_job_service:
  cron: '30 23 * * *' # "At 23:30."
  class: 'ExportVacanciesPublishedAndUpdatedSinceYesterdayToDwpFindAJobServiceJob'
  queue: low

#
# HOURLY CRON JOBS
#
import_from_vacancy_sources:
  cron: '55 6-21 * * *' # "Every hour between 06:55 and 21:55."
  class: 'ImportFromVacancySourcesJob'
  queue: default

aggregate_vacancy_referrer_stats:
  cron: "*/15 * * * *" # Every 15 minutes
  class: AggregateVacancyReferrerStatsJob
  queue: low
