clear_emergency_login_keys:
  cron: '30 0 1 * *'
  class: 'ClearEmergencyLoginKeysJob'
  queue: low

destroy_inactive_accounts:
  cron: '10 8 * * *'
  class: 'DestroyInactiveAccountsJob'
  queue: low

email_feedback_prompt:
  cron: '0 09 * * *'
  class: 'SendExpiredVacancyFeedbackPromptJob'
  queue: low

export_users:
  cron: '0 01 * * *'
  class: 'ExportDSIUsersToBigQueryJob'
  queue: low

import_organisation_data:
  cron: '0 22 * * *'
  class: 'ImportOrganisationDataJob'
  queue: low

import_polygon_data:
  cron: '0 23 * * 0'
  class: 'ImportPolygonDataJob'
  queue: low

import_from_vacancy_sources:
  cron: '55 6-21 * * *'
  class: 'ImportFromVacancySourcesJob'
  queue: default

queue_applications_received:
  cron: '0 6 * * *'
  class: 'SendApplicationsReceivedYesterdayJob'
  queue: default

queue_daily_alerts:
  cron: '0 15 * * *'
  class: 'SendDailyAlertEmailJob'
  queue: default

queue_weekly_alerts:
  cron: '0 18 * * 5'
  class: 'SendWeeklyAlertEmailJob'
  queue: default

refresh_organisations_gias_data_hash:
  cron: '0 23 * * *'
  class: 'RefreshOrganisationsGiasDataHashJob'
  queue: low

remove_invalid_subscriptions:
  cron: '0 05 * * *'
  class: 'RemoveInvalidSubscriptionsJob'
  queue: low

remove_stale_vacancies:
  cron: '0 00 * * *'
  class: 'RemoveStaleVacanciesJob'
  queue: low

remove_expired_vacancies_from_google_index:
  cron: '0 07 * * *'
  class: 'RemoveExpiredVacanciesFromGoogleIndexJob'
  queue: low

remove_vacancies_that_expired_yesterday_from_google_index:
  cron: '0 04 * * *'
  class: 'RemoveVacanciesThatExpiredYesterdayFromGoogleIndexJob'
  queue: low

reset_sessions:
  cron: '0 02 * * *'
  class: 'ResetSessionsJob'
  queue: low

send_inactive_account_email:
  cron: '0 8 * * *'
  class: 'SendInactiveAccountEmailJob'
  queue: low

send_account_confirmation_reminder_email:
  cron: '0 9 * * *'
  class: 'SendAccountConfirmationReminderEmailJob'
  queue: default

send_job_application_data_expiry_notification:
  cron: '0 6 * * *'
  class: 'SendJobApplicationDataExpiryNotificationJob'
  queue: default

stream_equal_opportunities_report_publication_job:
  cron: '30 01 * * *'
  class: 'StreamEqualOpportunitiesReportPublicationJob'
  queue: low

update_dsi_users_in_db:
  cron: '0 0 * * *'
  class: 'UpdateDSIUsersInDbJob'
  queue: low
