clear_emergency_login_keys:
  cron: '30 0 1 * *'
  class: 'ClearEmergencyLoginKeysJob'
  queue: low

email_feedback_prompt:
  cron: '0 09 * * *'
  class: 'SendExpiredVacancyFeedbackEmailJob'
  queue: low

export_tables:
  cron: '30 04 * * *'
  class: 'ExportTablesToBigQueryJob'
  queue: low

export_users:
  cron: '0 01 * * *'
  class: 'ExportDsiUsersToBigQueryJob'
  queue: low

import_polygon_data:
  cron: '0 23 * * 0'
  class: 'ImportPolygonDataJob'
  queue: low

import_school_data:
  cron: '0 07 * * *'
  class: 'ImportSchoolDataJob'
  queue: low

import_trust_data:
  cron: '0 22 * * *'
  class: 'ImportTrustDataJob'
  queue: low

queue_daily_alerts:
  cron: '0 15 * * *'
  class: 'SendDailyAlertEmailJob'
  queue: default

queue_weekly_alerts:
  cron: '0 18 * * 5'
  class: 'SendWeeklyAlertEmailJob'
  queue: default

refresh_vacancy_facets:
  cron: '0 06 * * *'
  class: 'RefreshVacancyFacetsJob'
  queue: low

remove_invalid_subscriptions:
  cron: '0 05 * * *'
  class: 'RemoveInvalidSubscriptionsJob'
  queue: low

remove_stale_vacancies:
  cron: '0 00 * * *'
  class: 'RemoveStaleVacanciesJob'
  queue: low

remove_vacancies_that_expired_yesterday:
  cron: '0 03 * * *'
  class: 'RemoveVacanciesThatExpiredYesterday'
  queue: low

reset_sessions:
  cron: '0 02 * * *'
  class: 'ResetSessionsJob'
  queue: low

submit_performance_platform:
  cron: '0 04 * * *'
  class: 'SubmitPerformancePlatformJob'
  queue: low

update_algolia_index:
  cron: '*/5 * * * *'
  class: 'UpdateAlgoliaIndex'
  queue: low

update_dsi_users_in_db:
  cron: '0 0 * * *'
  class: 'UpdateDsiUsersInDbJob'
  queue: low
