:queues:
  - [mailers, 3]
  - [queue_daily_alerts, 3]
  - [email_daily_alerts, 4]
  - [vacancy_statistics, 2]
  - [performance_platform, 2]
  - [google_indexing, 2]
  - [import_school_data, 1]
  - [update_vacancy_spreadsheet, 1]
  - [audit_published_vacancy, 1]
  - [audit_vacancies, 1]
  - [audit_express_interest_event, 1]
  - [audit_search_event, 1]
  - [audit_vacancy_publish_feedback, 1]
  - [audit_general_feedback, 1]
  - [audit_subscription_creation, 1]
  - [audit_spreadsheet, 1]
  - [dsi_user_data, 1]
  - [dsi_approver_data, 1]
  - [seed_vacancies_from_api, 1]
  - [export_vacancies, 1]
  - [import_csv, 1]
update_vacancy_spreadsheet:
  :concurrency: 1
audit_published_vacancy:
  :concurrency: 1
audit_vacancies:
  :concurrency: 1
audit_express_interest_event:
  :concurrency: 1
audit_search_event:
  :concurrency: 1
audit_vacancy_publish_feedback:
  :concurrency: 1
audit_general_feedback:
  :concurrency: 1
audit_subscription_creation:
  :concurrency: 1
audit_spreadsheet:
  :concurrency: 1
dsi_user_data:
  :concurrency: 1
dsi_approver_data:
  :concurrency: 1
mailers:
  :concurrency: 2
seed_vacancies_from_api:
  :concurrency: 2
export_vacancies:
  :concurrency: 1
import_csv:
  :concurrency: 1
