@import 'base_component';

ol {
  .review-component {
    .review-component__body {
      .govuk-summary-list {
        @include govuk-media-query($until: tablet) {
          margin-left: -15px;
        }
      }
    }
  }
}

.review-component {
  .review-component__heading {
    a {
      @include govuk-font($size: 16, $weight: bold);

      margin-left: govuk-spacing(4);
      margin-right: govuk-spacing(4);

      @include govuk-media-query($from: desktop) {
        @include govuk-font($size: 19, $weight: bold);
      }
    }

    .govuk-tag {
      vertical-align: text-bottom;
    }
  }

  .review-component__body {
    margin-bottom: govuk-spacing(8);

    .govuk-summary-list {
      @include govuk-font(19);

      margin-bottom: 0;
      margin-top: 0;

      @include govuk-media-query($from: tablet) {
        border-top: 1px solid $govuk-border-colour;
      }

      @include govuk-media-query($from: desktop) {
        display: table;
      }
    }

    .govuk-accordion__section,
    .review-component__body--border {
      border-bottom: 1px solid $govuk-border-colour;
    }

    .govuk-accordion__section--expanded {
      border-bottom-style: none;
    }
  }
}

.app-task-list {
  @include govuk-font($size:24, $weight: bold);
  margin-bottom: 0;
  margin-left: govuk-spacing(6);
  margin-top: 0;
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }

  @include govuk-media-query($until: desktop) {
    margin-left: govuk-spacing(4);
  }

  &--no-bullet {
    list-style-type: none;
    padding-left: 0;
  }
}

.app-page-navigation__item {
  margin-left: govuk-spacing(5);

  a {
    display: inline-block;
  }

  &::before {
    content: '\2014';
    height: 100%;
    margin-left: -25px;
    padding-right: govuk-spacing(1);
    position: absolute;
  }
}

.notification-tag {
  float: right;
  text-transform: uppercase;
  vertical-align: middle;
}

.action-required-tag {
  @extend .notification-tag;
  background-color: govuk-colour('red');
}
