.app-step-nav-related.app-step-nav-related--singular
  %h2.app-step-nav-related__heading
    %span.app-step-nav-related__pretitle Create a job listing steps

#step-by-step-navigation.app-step-nav.app-step-nav--active
  %ol.app-step-nav__steps
    - steps_to_display.values.uniq.each do |step|
      %li.app-step-nav__step.js-step{ class: "#{set_active_step_class(step[:number])} #{set_visited_step_class(step[:number], @vacancy)}", 'aria-current': 'step', data: { show: '' } }
        .app-step-nav__header.js-toggle-panel{ data: { position: 1 } }
          %h3.app-step-nav__title
            %span.app-step-nav__circle.app-step-nav__circle--number
              %span.app-step-nav__circle-inner
                %span.app-step-nav__circle-background
                  %span.app-step-nav__circle-step-label.govuk-visually-hidden Step
                  = step[:number]
                  %span.app-step-nav__circle-step-colon.govuk-visually-hidden{ 'aria-hidden': true }:
            %span.js-step-title
              %span.js-step-title-text= step[:title]
