.dashboard__header
  .govuk-width-container
    %h1.govuk-heading-m{ class: "govuk-!-margin-bottom-2" }
      = @heading

  .govuk-width-container
    - if @link
      .filters-information.moj-action-bar
        = link_to t("buttons.create_job"), @link, method: :post, class: "govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-0 dashboard__link"
    .moj-primary-navigation
      .moj-primary-navigation__container
        .moj-primary-navigation__nav{aria: { label: "Account navigation" }}
          %ul.moj-primary-navigation__list
            - @navigation_items.each do |item|
              %li.moj-primary-navigation__item
                = item
