.dashboard {
  &__header {
    @include dashboard;
    background-color: govuk-colour('light-grey');

    padding: govuk-spacing(2) 0;

    @include govuk-media-query ($from: desktop) {
      padding: govuk-spacing(4) 0 0;
    }

    .filters-information {
      display: inline-block;

      .filters-applied-text {
        line-height: 2em;
      }
    }
  }
}
