@import 'base_component';

.steps-component {
  border-top: 3px solid govuk-colour('blue');
  margin-bottom: govuk-spacing(6);
  margin-top: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    width: max-content;
  }

  @include govuk-media-query($from: desktop) {
    width: unset;
  }

  h2 {
    margin-bottom: govuk-spacing(2);
    margin-top: govuk-spacing(4);
  }

  &__steps {
    counter-reset: steps-counter;
    list-style: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
  }

  &__step {
    counter-increment: steps-counter;
    padding-bottom: govuk-spacing(1);
    padding-top: govuk-spacing(3);
    position: relative;

    h3 {
      margin-bottom: 0;

      &::before {
        border: 2px solid $govuk-border-colour;
        border-radius: 50%;
        content: counter(steps-counter);
        display: inline-block;
        height: 100%;
        line-height: govuk-spacing(5);
        margin-right: govuk-spacing(4);
        text-align: center;
        width: govuk-spacing(5);
      }
    }

    &--current {
      h3 {
        &::before {
          background-color: govuk-colour('black');
          color: govuk-colour('white');
        }
      }

      &::after {
        background: govuk-colour('black');
      }
    }

    &--completed {
      h3 {
        &::before {
          background-color: govuk-colour('blue');
          color: govuk-colour('white');
        }
      }
    }

    &::before {
      background: govuk-colour('light-grey', $legacy: 'grey-3');
      bottom: 0;
      content: '';
      height: 1px;
      left: govuk-spacing(8);
      position: absolute;
      width: 85%;
    }

    &::after {
      background: $govuk-border-colour;
      content: '';
      height: govuk-spacing(4);
      left: 12.5px;
      position: absolute;
      top: 44px;
      width: 2px;
    }

    &:last-of-type {
      &::after {
        bottom: govuk-spacing(2);
        height: govuk-spacing(2);
      }

      &::before {
        background: $govuk-border-colour;
        bottom: -5px;
        height: 2px;
        left: 6px;
        position: absolute;
        width: govuk-spacing(3);
      }
    }
  }
}
