@import 'base_component';

.card-component {
  @include govuk-font(16);
  border-bottom: 1px solid $govuk-border-colour;
  color: $govuk-secondary-text-colour;
  display: flex;
  padding: govuk-spacing(4) 0 0;

  dt,
  dd {
    display: inline-block;
  }

  dl,
  dd {
    margin: 0;
  }

  dt {
    &::after {
      content: ':';
      margin-right: govuk-spacing(1);
    }
  }

  &__content {
    display: flex;
    flex-basis: 75%;
    flex-direction: row;
    flex-grow: 2;

    @include govuk-media-query ($until: desktop) {
      flex-direction: column;
      flex-grow: 1;
    }

    div {
      margin-bottom: govuk-spacing(1);
    }
  }

  &__header {
    flex-basis: 40%;
    margin-bottom: govuk-spacing(2);
    margin-right: govuk-spacing(2);

    .govuk-link {
      @include govuk-font(19);
    }
  }

  &__body {
    flex-grow: 1;
    margin-bottom: govuk-spacing(2);
    margin-left: 0;
    margin-right: govuk-spacing(2);
  }

  &__actions {
    margin-left: 0;

    .card-component__action {
      display: inline-block;

      .govuk-link {
        padding: 0 govuk-spacing(2);
      }

      &::after {
        border-right: 1px solid $govuk-border-colour;
        content: ' ';
      }

      &:last-of-type {
        .govuk-link {
          padding-right: 0;
        }

        &::after {
          border-right: 0;
        }
      }
    }
  }
}
