---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Hatfield&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Hatfield\",\n
        \              \"short_name\" : \"Hatfield\",\n               \"types\" :
        \n               [\n                  \"locality\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Hertfordshire\",\n               \"short_name\" : \"Hertfordshire\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"England\",\n               \"short_name\"
        : \"England\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United Kingdom\",\n               \"short_name\"
        : \"GB\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Hatfield, UK\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 51.8098302,\n                  \"lng\"
        : -0.1378584\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 51.7256192,\n                  \"lng\" : -0.2775417\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 51.763366,\n               \"lng\" : -0.22309\n            },\n
        \           \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 51.8098302,\n                  \"lng\" : -0.1378584\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 51.7256192,\n                  \"lng\" : -0.2775417\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJHe1QrcIidkgRsO9fzp7GGDs\",\n
        \        \"types\" : \n         [\n            \"locality\",\n            \"political\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Thu, 24 Sep 2026 10:33:07 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=hatfield&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
 [...]
[...]
