- content_for :page_title_prefix, t('error_pages.external_server_error.dfe_sign_in')

%h1.govuk-heading-xl=t('error_pages.external_server_error.dfe_sign_in')
%p You can email #{mail_to t('help.email'), t('help.email'), class: 'govuk-link'} if the problem persists.
