- content_for :page_title_prefix, t("error_pages.server_error")

h1.govuk-heading-xl = t("error_pages.server_error")
p We’re working to fix this, so please try again shortly.
p If you continue to have problems accessing Teaching Vacancies you can email #{govuk_mail_to t("help.email"), t("help.email")}
