- content_for :page_title_prefix, t("error_pages.invalid_recaptcha.title")

%h1.govuk-heading-xl= t("error_pages.invalid_recaptcha.title")
%p.govuk-body
  = t("error_pages.invalid_recaptcha.text_html", mail_to: mail_to("teaching.vacancies@education.gov.uk", "teaching.vacancies@education.gov.uk",
                                                                  class: "govuk-link link-wrap", subject: t("error_pages.invalid_recaptcha.email_subject", form: @form)))

