<div class="govuk-width-container">

  <div class="create-title">
    <h1 class="govuk-heading-m">Create a job listing for Bexley Heath Academy</h1>
    <h5 class="govuk-heading-m">Step 2 of 3</h5>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <!-- Main content START -->
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Supporting documents</h2>

        <form class="" action="#" method="post">
          <div class="govuk-form-group upload-group">
            <fieldset class="govuk-fieldset" aria-describedby="upload-supporting-documents">

              <label class="govuk-label govuk-label--m " for="file-upload">
                Upload a file
              </label>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="file-upload" type="file">
                Choose files
              </button>

            </fieldset>
          </div>

          <p>No files chosen</p>

        </form>

        <a href="#" class="govuk-button">Save and continue</a>

      </div>
      <!-- Main content END -->

      <!-- Sidebar START -->
      <div class="govuk-grid-column-one-third">
      </div>
      <!-- Sidebar END -->

    </div></main>
</div>
