<div class="govuk-width-container">

  <div class="create-title">
    <h1 class="govuk-heading-m">Create a job listing for Bexley Heath Academy</h1>
    <h5 class="govuk-heading-m">Step 2 of 3</h5>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <!-- Main content START -->
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Supporting documents</h2>

        <form class="" action="index.html" method="post">
          <div class="govuk-form-group upload-group">
            <fieldset class="govuk-fieldset" aria-describedby="upload-supporting-documents">

              <label class="govuk-label govuk-label--m" for="file-upload">
                Upload a file
              </label>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="file-upload">
                Choose files
              </button>
            </fieldset>
          </div>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">File name</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">File size</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">document.doc</th>
                <td class="govuk-table__cell">Uploaded</td>
                <td class="govuk-table__cell">2.3mb</td>
                <td class="govuk-table__cell"><a href="upload-remove-1.html">Remove</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">document.doc</th>
                <td class="govuk-table__cell">34% uploaded...</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="#">Cancel</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">document.doc</th>
                <td class="govuk-table__cell">10% uploaded...</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"><a href="#">Cancel</a></td>
              </tr>
            </tbody>
          </table>
        </form>

        <a href="4-applying" class="govuk-button">Save and continue</a>

      </div>
      <!-- Main content END -->

      <!-- Sidebar START -->
      <div class="govuk-grid-column-one-third">
      </div>
      <!-- Sidebar END -->

    </div></main>
</div>
