<div class="govuk-width-container">

  <div class="create-title">
    <h1 class="govuk-heading-m">Create a job listing for Bexley Heath Academy</h1>
    <h5 class="govuk-heading-m">Step 2 of 3</h5>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <!-- Main content START -->
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Supporting documents</h2>

        <form class="" action="upload-1" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="upload-supporting-documents">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Would you like to attach supporting documents? (<span class="text-red">required</span>)
              </legend>
              <span class="govuk-hint">
                These could include, for example, a job description, person specification or application pack
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-docs-yes" name="add-docs" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="add-docs-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-docs-no" name="add-docs" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="add-docs-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>

      </div>
      <!-- Main content END -->

      <!-- Sidebar START -->
      <div class="govuk-grid-column-one-third">
        <!-- <p>Steps timeline</p> -->
      </div>
      <!-- Sidebar END -->

    </div></main>
</div>
