@import '~govuk-frontend/govuk/base';

.location-finder {
  color: govuk-colour('white');
  position: relative;

  &__link-prefix {
    color: inherit;
  }

  .govuk-c-loader {
    background: govuk-colour('white');
    left: 0;
    position: absolute;
    top: govuk-spacing(6);
    user-select: none;
    width: 100%;
  }

  .govuk-c-loader__label {
    line-height: 26px;
    vertical-align: top;
  }

  &__error {
    margin-top: govuk-spacing(2);
  }

  &--hidden {
    display: none;
  }
}
