= render "shared/search/keyword", f: f, filters: false
= render "shared/search/location", f: f
= render "shared/search/radius", f: f, filters: false
= render "shared/search/current_location", loaderElement: "jobseekers-subscription-form-location-field"

ruby:
  items = [
    {
      title: "Job role",
      key: "job_roles",
      attribute: :job_roles,
      selected: @subscription_form.job_roles,
      options: @subscription_form.job_role_options,
      value_method: :first,
      text_method: :last,
      selected_method: :last,
    },
    {
      title: "Education phase",
      key: "education_phase",
      attribute: :phases,
      selected: @subscription_form.phases,
      options: @subscription_form.phase_options,
      value_method: :first,
      text_method: :last,
      selected_method: :last,
    },
    {
      title: "Working pattern",
      key: "working_patterns",
      attribute: :working_patterns,
      selected: @subscription_form.working_patterns,
      options: @subscription_form.working_pattern_options,
      value_method: :first,
      text_method: :last,
      selected_method: :last,
    },
  ]

div class="govuk-!-margin-bottom-7"
  = render(Shared::FiltersComponent.new(form: f,
    filters: { total_count: 0, title: t("subscriptions.edit.filters") },
    items: items,
    options: { remove_buttons: false, mobile_variant: false, close_all: false }))

= f.govuk_email_field :email, label: { size: "s" }, required: true

= f.govuk_collection_radio_buttons :frequency, Subscription.frequencies.keys, :to_s
