= form.input :search_criteria, as: :hidden
= form.input :email, as: :email, input_html: { class: 'govuk-input' }, required: true
= form.input :reference, as: :string, input_html: { class: 'govuk-input', placeholder: 'e.g. Maths jobs within 20 miles of Oxford' }