.cookies-banner-component {

  @include govuk-responsive-padding(3, 'top');
  @include govuk-responsive-padding(0, 'bottom');
  background-color: rgba($color: govuk-colour('light-blue'), $alpha: 0.2);
  z-index: 1000;

  &--top {
    background-color: govuk-colour("white");
    position: sticky;
    top: 0;
    width: 100%;

    &:after {
      height: 6px;
      background: linear-gradient(transparent, govuk-colour("mid-grey"));
      content: '';
      width: 100%;
      display: block;
    }
  }

  &--gds {
    .govuk-button {
      margin-bottom: 0;
      vertical-align: middle;
    }
  }

  &--bottom {
    background-color: govuk-colour("black");
    position: fixed;
    bottom: 0;
    padding-top: 0;
    width: 100%;
    * {
      color: govuk-colour("white");
    }

    .govuk-width-container {
      padding-top: 15px;
    }

    &:before {
      height: 6px;
      background: linear-gradient(#b1b4b6, rgba($color: govuk-colour('black'), $alpha: 0));
      content: '';
      width: 100%;
      display: block;
    }
  }

  &--modal {
    @include govuk-media-query($until: tablet) {
      margin-left: -40vw;
      margin-top: -8vw;
      width: 80vw;
      height: auto;

      form {
        display: flex;
      }
    }

    background-color: govuk-colour("white");
    width: 40vw;
    height: 12vw;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -20vw;
    margin-top: -8vw;
  }
}

.modal {
  overflow: hidden;
  .modal-container {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    content: '';
    background-color: rgba($color: govuk-colour('black'), $alpha: 0.5);
  }
}
