@import 'base_component';

.cookies-banner-component {
  @include govuk-responsive-padding(3, 'top');
  @include govuk-responsive-padding(0, 'bottom');
  background-color: rgba($color: govuk-colour('light-grey'), $alpha: 0.2);
  padding-top: 0;
  width: 100%;
  z-index: 1000;

  &.govuk-cookie-banner {
    padding-top: 0;
  }

  .govuk-button-group {
    align-items: inherit;
    margin-bottom: 0;
  }

  .cookies-banner-component__background {
    background-color: govuk-colour('light-grey');
  }


  &__gds {
    @include govuk-media-query($until: tablet) {
      .govuk-button--primary {
        width: 100%;
      }
    }

    .govuk-button-group {
      align-items: center;
    }
  }

  &__bottom {
    bottom: 0;
    padding-top: 0;

    @include govuk-media-query($until: tablet) {
      .govuk-button--primary {
        width: 100%;
      }
    }

    .govuk-heading-s,
    .govuk-body {
      color: govuk-colour('black');
    }

    .govuk-width-container {
      padding-top: 15px;
    }
  }

  &__top {
    padding-top: 0;
    top: 0;

    @include govuk-media-query($until: tablet) {
      .govuk-button--primary {
        width: 100%;
      }
    }

    .govuk-heading-s,
    .govuk-body {
      color: govuk-colour('black');
    }

    .govuk-width-container {
      padding-top: 15px;
    }
  }

  &__sticky {
    position: sticky;
  }
}
