= render(Shared::DashboardComponent.new(heading: current_jobseeker.email, navigation_items: [account_navigation_link(t("jobseekers.saved_jobs.index.page_title"), jobseekers_saved_jobs_path), account_navigation_link(t("jobseekers.subscriptions.index.page_title"), jobseekers_subscriptions_path), account_navigation_link(t("jobseekers.accounts.show.page_title"), jobseekers_account_path)]))
