= f.govuk_text_field :name, label: { size: "s" }, width: "two-thirds", required: true
= f.govuk_text_field :job_title, label: { size: "s" }, required: true
= f.govuk_text_field :organisation, label: { size: "s" }, required: true
= f.govuk_text_field :relationship, label: { size: "s" }, width: "two-thirds", required: true
= f.govuk_email_field :email, label: { size: "s" }, width: "two-thirds", required: true
= f.govuk_phone_field :phone_number, label: { size: "s" }, width: "two-thirds"
