@import 'base_component';
@import '../../../frontend/src/styles/application/full-width-mast';

.govuk-main-wrapper__notification {
  @include full-width-mast;
  background-color: inherit;
  margin-bottom: govuk-spacing(2);
  margin-top: govuk-spacing(2);

  .govuk-notification {
    margin-bottom: 0;
  }
}

.js-dismissible {
  transition: opacity 0.6s;
}

.govuk-notification {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);

  border: $govuk-border-width solid govuk-colour('black');
  margin-bottom: govuk-spacing(6);
  background-color: govuk-colour('white');
  background-position: 13px 23px;

  .dismiss-link {
    display: block;
    float: right;
  }

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

  &.icon--left .govuk-notification__content {
    padding-left: govuk-spacing(5);
  }

  &.icon--right .govuk-notification__content {
    padding-right: govuk-spacing(5);
  }

  &.js-dismissible .govuk-notification__content {
    padding-right: 120px;
  }
}

.govuk-notification__title {
  @include govuk-font($size: 24, $weight: bold);
  @include govuk-responsive-margin(3, 'bottom');

  margin-top: 0;
}

.govuk-notification__body {
  @include govuk-font($size: 19);

  p {
    @include govuk-responsive-margin(4, 'bottom');

    margin-top: 0;
  }
}

.govuk-notification__list {
  margin-bottom: 0;
  margin-top: govuk-spacing(1);
}


.govuk-notification--empty {
  border: 5px dashed $govuk-border-colour;
}

.govuk-notification--notice {
  border-color: govuk-colour('blue');
}

.govuk-notification--success {
  border-color: govuk-colour('green');

  .govuk-notification__list a {
    color: govuk-colour('green');
  }
}

.govuk-notification--danger {
  border-color: govuk-colour('red');

  .govuk-notification__list a {
    color: govuk-colour('red');
  }
}

.govuk-notification--empty.govuk-notification__background {
  background-color: rgba($color: govuk-colour('light-grey'), $alpha: 0.5);
}

.govuk-notification--notice.govuk-notification__background {
  background-color: rgba($color: govuk-colour('blue'), $alpha: 0.1);
}

.govuk-notification--success.govuk-notification__background {
  background-color: rgba($color: govuk-colour('green'), $alpha: 0.1);
}

.govuk-notification--danger.govuk-notification__background {
  background-color: rgba($color: govuk-colour('red'), $alpha: 0.1);
}
