- content_for :page_title_prefix, t(".page_title")

= govuk_panel(title_text: t(".reference_completed"))

.govuk-heading-m = t(".what_happens_next")

.govuk-body = t(".paragraph_1")
.govuk-body = t(".paragraph_2")
