= t('job_alerts.expiry.email.final_warning.first_line', reference: @subscription_reference).html_safe
\
= notify_link(subscription_renew_url(subscription_id: @subscription_token), t('job_alerts.expiry.email.resubscribe'))
\
Kind regards,
\
The Teaching Vacancies team