# Platform
aws_account_id =
github_token =
trusted_ips =
region = "eu-west-2"
project_name = "scheduling"
ecs_cluster_name = "scheduling-cluster"
asg_max_size = 2
asg_min_size = 2
asg_desired_size = 2
instance_type = "t2.micro"
ecs_service_task_name = "web"
ecs_service_task_count = 1
ecs_service_task_port = 3000
rds_storage_gb = 10
rds_username = "dxw"
rds_password = "mice long tail keep trap cheese"
rds_instance = "db.t2.small"

# Application
load_balancer_check_path = "/"
secret_key_base =
http_user = "user"
http_pass = "password"
google_maps_api_key =
