= render Shared::ReviewComponent.new(id: "ask_for_support", title: t("jobseekers.job_applications.build.ask_for_support.heading"), edit_link: (jobseekers_job_application_build_path(job_application, :ask_for_support) if allow_edit)) do
  = govuk_summary_list do |component|
    - component.slot(:row,
      key: t("helpers.legend.jobseekers_job_application_ask_for_support_form.support_needed"),
      value: safe_join([tag.div(job_application.application_data["support_needed"]&.capitalize, class: "govuk-body"),
                        tag.div(job_application.application_data["support_details"], class: "govuk-body")]),
      html_attributes: { id: "ask_for_support_support_needed" })
