- r.section :ask_for_support do |s|
  - s.row do |row|
    - row.key text: t("helpers.legend.jobseekers_job_application_ask_for_support_form.support_needed")
    - row.value text: job_application_support_needed_info(job_application)
