- r.with_section :ask_for_support do |s|
  - s.with_row do |row|
    - row.with_key text: t("helpers.legend.jobseekers_job_application_ask_for_support_form.support_needed")
    - row.with_value text: job_application_support_needed_info(job_application)
