- r.with_section :declarations do |s|
  - s.with_row do |row|
    - row.with_key text: t("helpers.legend.jobseekers_job_application_declarations_form.close_relationships", organisation: vacancy.organisation_name)
    - row.with_value text: job_application_close_relationships_info(job_application)
