.mt0 {
  margin-top: 0;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: $govuk-gutter;
}

.mb0 {
  margin-bottom: 0;
}

.mt1 {
  margin-top: $govuk-gutter;
}

.wordwrap {
  word-wrap:break-word;
}

.link-wrap {
  word-break: break-word;
  overflow-wrap: break-word;
}

.overflow-scroll {
  @include govuk-media-query($until: tablet) {
    overflow: scroll;
  }
}

.strong {
  font-weight: bold;
}

.display-none {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-button > .govuk-form-group {
  margin-bottom: 0;
  > input {
    margin-bottom: 0;
  }
}

.nobreak {
  white-space: nowrap;
}

strong, b {
  font-weight: bold;
}

.text-red {
  font-weight: bold;
  color: govuk-colour("red");
}

.four-column-list {
  @include govuk-media-query($until: tablet) {
    column-count: 2;
  }

  column-count: 4;
}

.govuk-form-group--error {
  select {
    border: 4px solid #d4351c;
  }
}
