.location-finder class="govuk-!-margin-top-1" data-controller="location-finder" data-location-finder-source-value="getPostcodeFromCoordinates" data-location-finder-input-value=target
  button.location-finder__button data-action="click->location-finder#findLocation" data-location-finder-target="button" type="button"
    span.location-finder__link-prefix = "or "
    = t("jobs.search.use_current_location_html")
