ruby:
  filter_types = [
    {
      legend: t("jobs.filters.job_roles"),
      key: :job_roles,
      selected: form.job_roles,
      options: form.job_role_options,
      value_method: :first,
      selected_method: :last,
    },
    {
      legend: t("jobs.filters.subject"),
      key: :subjects,
      selected: form.subjects,
      options: SUBJECT_OPTIONS,
      value_method: :first,
      selected_method: :first,
      },
    {
      legend: t("jobs.filters.ect_suitable"),
      key: :ect_statuses,
      selected: form.ect_statuses,
      options: form.ect_status_options,
      value_method: :first,
      selected_method: :last,
    },
    {
      legend: t("jobs.filters.phases"),
      key: :phases,
      selected: form.phases,
      options: form.phase_options,
      value_method: :first,
      selected_method: :last,
    },
    {
      legend: t("jobs.filters.working_patterns"),
      key: :working_patterns,
      selected: form.working_patterns,
      options: form.working_pattern_options,
      value_method: :first,
      selected_method: :last,
    },
  ]

= filters(submit_button: f.govuk_submit(t("buttons.apply_filters")),
  filters: { total_count: form.total_filters },
  clear_filters_link: { text: t("shared.filter_group.clear_all_filters"), url: jobs_path(vacancies_search.clear_filters_params) },
  options: { heading_text: "Filter results", remove_filter_links: true },
  html_attributes: { tabindex: "-1", id: "filters-component" }) do |filters_component|
    - filters_component.remove_filter_links do |rb|
      - filter_types.each do |filter_type|
        - rb.group(**filter_type.merge(remove_filter_link: { url_helper: :jobs_path, params: vacancies_search.remove_filter_params }))
    - filters_component.group key: "job_roles", component: f.govuk_collection_check_boxes(:job_roles, form.job_role_options, :first, :last, small: true, legend: { text: t("jobs.filters.job_roles") }, hint: nil)
    - filters_component.group key: "subjects", title: t("jobs.filters.subject"), component: searchable_collection(collection: f.govuk_collection_check_boxes(:subjects,
        SUBJECT_OPTIONS,
        :first,
        :first,
        :last,
        small: true,
        legend: nil,
        hint: nil),
        collection_count: SUBJECT_OPTIONS.count,
        options: { scrollable: true },
        text: { aria_label: t("jobs.filters.subject"), placeholder: t("helpers.hint.publishers_job_listing_job_details_form.subjects_placeholder") })
    - filters_component.group key: "ect_statuses", component: f.govuk_collection_check_boxes(:ect_statuses, form.ect_status_options, :first, :last, small: true, legend: { text: t("jobs.filters.ect_suitable") }, hint: nil)
    - filters_component.group key: "education_phase", component: f.govuk_collection_check_boxes(:phases, form.phase_options, :first, :last, small: true, legend: { text: t("jobs.filters.phases") }, hint: nil)
    - filters_component.group key: "working_patterns", component: f.govuk_collection_check_boxes(:working_patterns, form.working_pattern_options, :first, :last, small: true, legend: { text: t("jobs.filters.working_patterns") }, hint: nil)
