.govuk-grid-row
  .govuk-grid-column-full
    - if vacancies_search.sort.many? && vacancies.many?
      = render SortComponent.new path: method(:jobs_path), sort: vacancies_search.sort, url_params: form.to_hash
