div style="flex-grow:1"
    = f.govuk_collection_select :travel_time,
        travel_time_options,
        :to_i,
        :humanize,
        label: { text: t("jobs.search.travel_time"), size: "s" },
        class: %w[govuk-!-width-full],
        options: { selected: @form.travel_time, include_blank: true }
        / data: { action: ("change->form#submitListener" if @vacancies_search.commute_area_search?) }
