@import 'base_component';

.js-enabled .filters-component {

  @include govuk-media-query($until: tablet) {
    background-color: govuk-colour('white');
  }

  &.filters-component--mobile {
    .filters-component__groups {
      @include govuk-media-query($until: tablet) {
        display: none;
      }
    }

    &.filters-component--show-mobile {
      @include govuk-media-query($until: tablet) {
        background-color: govuk-colour('white');
        border: 1px solid govuk-colour('mid-grey');
        bottom: 5px;
        overflow-y: scroll;
        position: fixed;
        right: 5px;
        top: 5px;
        width: calc(100vw - 100px);
        z-index: 100;

        .filters-component--show-mobile-open {
          display: block;
          top: 6px;
        }

        .filters-component__groups {
          display: block;
        }

        .filters-component__submit {
          display: flex;
        }

        .filters-component__heading {
          .filters-component__heading-applied {
            display: none;
          }

          .govuk-heading-m {
            display: block;
          }

          .govuk-button {
            display: none;
          }
        }
      }
    }
  }
}

.filters-component {
  background-color: govuk-colour('light-grey');
  padding: govuk-spacing(3);

  &--show-mobile-open {
    display: none;
  }

  .filters-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;

    span {
      line-height: 1em;
      padding-left: govuk-spacing(4);
    }
  }

  //not the best but cant figure a better way to sort this right now
  .add-remove-schools {
    @include govuk-media-query($until: tablet) {
      position: static;
    }
  }

  &__heading {
    box-shadow: none;
    position: relative;

    @include govuk-media-query($from: mobile) {
      .govuk-heading-m {
        display: none;
      }

      .govuk-button {
        display: block;
      }
    }

    @include govuk-media-query($from: tablet) {
      .govuk-heading-m {
        display: block;
      }

      .govuk-button {
        display: none;
      }
    }

    .filters-button {
      top: govuk-spacing(1);
    }

    &-container {
      margin-bottom: govuk-spacing(2);

      .govuk-heading-s {
        margin-bottom: govuk-spacing(2);
      }
    }

    &-title {

      display: flex;
      @include govuk-media-query($until: tablet) {
        border: 0;
      }

      .govuk-heading-s {
        line-height: 1.8em;
        margin-bottom: 0;
      }
    }

    &-applied {
      display: none;

      @include govuk-media-query($until: tablet) {
        color: govuk-colour('black');
        display: inline;
        font-weight: normal;
        margin: govuk-spacing(1);
        text-decoration: none;
      }
    }

    &-close-all {
      top: govuk-spacing(1);

      @include govuk-media-query($until: tablet) {
        display: none;
      }
    }
  }

  &__remove {
    box-shadow: none;

    @include govuk-media-query($until: tablet) {
      display: none;
    }

    .filters-component-filter__selected {
      background-color: govuk-colour('light-grey');
      box-shadow: none;
      position: relative;
    }

    .govuk-heading-s {
      font-size: 1rem;
    }

    .govuk-body {
      font-size: 1rem;
      font-weight: normal;
    }

    &-tags {
      list-style-type: none;
      margin-bottom: govuk-spacing(2);
      margin-top: govuk-spacing(1);
      padding-left: 0;

      li {
        display: inline-block;
        margin-right: govuk-spacing(2);
      }

      &__tag {
        background-color: govuk-colour('white');
        border-radius: govuk-spacing(1);
        border-width: 1px;
        cursor: pointer;
        font-size: 1rem;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        line-height: 1.25;
        margin-top: 5px;
        padding: 5px;

        &::after {
          height: 0;
          width: 0;
        }

        &.icon--left {
          background-position: govuk-spacing(1);
          padding-left: 28px;
        }

        .fa-times {
          color: $govuk-link-colour;
          font-size: 80%;
          margin: 0 govuk-spacing(1);
        }
      }
    }
  }

  &__groups {
    .govuk-accordion__section-button {
      font-size: 1.2rem;
      padding: 0 0 govuk-spacing(1) 0;
    }

    .govuk-form-group {
      margin-bottom: govuk-spacing(2);
    }

    &__group {
      border-bottom: 1px solid govuk-colour('mid-grey');
      margin-bottom: govuk-spacing(3);

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}

.js-enabled .filters-component__submit {
  display: none;
}
