@import 'base_component';

.filters-component {
  &--show-mobile-open {
    display: none;
  }

  &__section-heading {
    position: relative;
  }

  &.filters-component--mobile {
    .filters-component__groups {
      @include govuk-media-query($until: tablet) {
        display: none;
      }
    }

    &.filters-component--show-mobile {
      @include govuk-media-query($until: tablet) {
        background-color: govuk-colour('white');
        box-sizing: border-box;
        display: block;
        height: 100%;
        left: 0;
        overflow: auto;
        padding: govuk-spacing(2) govuk-spacing(3) 65px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;

        .filters-component--show-mobile-open {
          display: block;
        }

        .filters-component__groups {
          display: block;
        }

        .filters-component__submit {
          display: flex;
        }

        .filters-component__heading {
          .filters-component__heading-applied {
            display: none;
          }
        }
      }
    }
  }

  .govuk-link {
    background: none;
    border: 0;
    color: $govuk-link-colour;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    position: absolute;
    right: 0;
    text-decoration: underline;
    top: 0;
  }

  .filters-component__heading {
    box-shadow: none;

    .govuk-link {
      top: govuk-spacing(1);
    }

    &-container {
      margin-bottom: govuk-spacing(2);

      .govuk-heading-s {
        margin-bottom: govuk-spacing(2);
      }
    }

    &--mobile {
      @include govuk-media-query($until: tablet) {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.4444 20.1667V11.9167L20.4538 4.8889C20.558 4.78472 20.6403 4.66079 20.6959 4.52436C20.7516 4.38794 20.7794 4.24178 20.7777 4.09446V3.05557C20.7777 2.89349 20.7133 2.73805 20.5987 2.62345C20.4841 2.50884 20.3287 2.44446 20.1666 2.44446H1.83328C1.6712 2.44446 1.51576 2.50884 1.40116 2.62345C1.28655 2.73805 1.22217 2.89349 1.22217 3.05557V4.07612C1.22228 4.22046 1.25096 4.36335 1.30655 4.49655C1.36214 4.62975 1.44354 4.75064 1.54606 4.85224L8.5555 11.9656V18.1989L13.4444 20.1667Z" ></path></svg>');
        background-position: top 5px left;
        background-repeat: no-repeat;
        background-size: 22px 22px;
        padding-left: govuk-spacing(5);
      }
    }

    .moj-filter__heading-title {

      display: flex;
      @include govuk-media-query($until: tablet) {
        border: 0;
      }

      .govuk-heading-s {
        line-height: 1.8em;
        margin-bottom: 0;
      }

      .filters-component__heading-title {
        margin-bottom: govuk-spacing(1);
        margin-top: govuk-spacing(2);
      }
    }

    &-applied {
      display: none;

      @include govuk-media-query($until: tablet) {
        color: govuk-colour('black');
        display: block;
        font-weight: normal;
        margin: govuk-spacing(1);
        text-decoration: none;
      }
    }

    &-close-all {
      @include govuk-media-query($until: tablet) {
        display: none;
      }
    }

    &-title--mobile {
      @include govuk-media-query($until: tablet) {
        @include govuk-font(24);

        color: $govuk-link-colour;
        cursor: pointer;
        font-weight: bold;
        margin: 0 govuk-spacing(1) govuk-spacing(2);
        text-decoration: underline;
      }
    }
  }

  .filters-component__remove {

    box-shadow: none;
    @include govuk-media-query($until: tablet) {
      display: none;
    }

    .moj-filter__selected {
      box-shadow: none;
      padding: govuk-spacing(2);
      position: relative;
    }

    .moj-filter__content {
      .govuk-heading-s {
        font-size: 1rem;
      }

      .govuk-body {
        font-size: 1rem;
        font-weight: normal;
      }

      .moj-filter-tags {
        margin-bottom: govuk-spacing(2);
        margin-top: govuk-spacing(1);

        .moj-filter__tag {
          border-radius: govuk-spacing(1);
          cursor: pointer;

          &::after {
            height: 0;
            width: 0;
          }

          &.icon--left {
            background-position: govuk-spacing(1);
            padding-left: 28px;
          }

          .fa-times {
            color: $govuk-link-colour;
            font-size: 80%;
            margin: 0 govuk-spacing(1);
          }
        }
      }
    }
  }

  .filters-component__submit {
    @include govuk-media-query($until: tablet) {
      background-color: govuk-colour('white');
      bottom: 0;
      box-sizing: border-box;
      display: flex;
      left: 0;
      position: fixed;
      width: 100%;
      z-index: 2000;

      &-button {
        margin: 0 govuk-spacing(3);
      }
    }
  }

  .filters-component__groups {
    .govuk-accordion__section-button {
      font-size: 1.2rem;
      padding: 0 0 govuk-spacing(1) 0;
    }

    .filters-component__group {
      border: 2px solid $govuk-border-colour;
      margin-bottom: govuk-spacing(3);

      .govuk-checkboxes__item,
      .govuk-radios__item {
        margin-left: govuk-spacing(2);
      }
    }
  }
}

// misc (for dashboard)
.moj-filter-sidebar {
  &.moj-filter-sidebar__hidden {
    display: none;
  }
}

.moj-action-bar {
  margin-bottom: govuk-spacing(3);
}

.js-enabled .filters-component__submit {
  display: none;
}
