@import 'base_component';

.filters-component {
  &--show-mobile-open {
    display: none;
  }

  &__section-heading {
    position: relative;
  }

  &.filters-component--mobile {
    .filters-component__groups {
      @include govuk-media-query($until: tablet) {
        display: none;
      }
    }

    &.filters-component--show-mobile {
      @include govuk-media-query($until: tablet) {
        background-color: govuk-colour('white');
        box-sizing: border-box;
        display: block;
        height: 100%;
        left: 0;
        overflow: auto;
        padding: govuk-spacing(2) govuk-spacing(3) 65px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;

        .filters-component--show-mobile-open {
          display: block;
          top: 6px;
        }

        .filters-component__groups {
          display: block;
        }

        .filters-component__submit {
          display: flex;
        }

        .filters-component__heading {
          .filters-component__heading-applied {
            display: none;
          }

          .govuk-heading-s {
            display: block;
          }

          .govuk-button {
            display: none;
          }
        }
      }
    }
  }

  .filters-button {
    background: none;
    border: 0;
    color: $govuk-link-colour;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
    position: absolute;
    right: 0;
    text-decoration: underline;
    top: 0;
  }

  &__heading {
    box-shadow: none;

    @include govuk-media-query($from: mobile) {
      .govuk-heading-s {
        display: none;
      }

      .govuk-button {
        display: block;
      }
    }

    @include govuk-media-query($from: tablet) {
      .govuk-heading-s {
        display: block;
      }

      .govuk-button {
        display: none;
      }
    }

    .filters-button {
      top: govuk-spacing(1);
    }

    &-container {
      margin-bottom: govuk-spacing(2);

      .govuk-heading-s {
        margin-bottom: govuk-spacing(2);
      }
    }

    &-title {

      display: flex;
      @include govuk-media-query($until: tablet) {
        border: 0;
      }

      .govuk-heading-s {
        line-height: 1.8em;
        margin-bottom: 0;
      }
    }

    &-applied {
      display: none;

      @include govuk-media-query($until: tablet) {
        color: govuk-colour('black');
        display: inline;
        font-weight: normal;
        margin: govuk-spacing(1);
        text-decoration: none;
      }
    }

    &-close-all {
      top: govuk-spacing(1);

      @include govuk-media-query($until: tablet) {
        display: none;
      }
    }

    &-title--mobile {
      @include govuk-media-query($until: tablet) {
        @include govuk-font(24);

        color: $govuk-link-colour;
        cursor: pointer;
        font-weight: bold;
        margin: 0 govuk-spacing(1) govuk-spacing(2);
        text-decoration: underline;
      }
    }
  }

  &__remove {
    box-shadow: none;

    @include govuk-media-query($until: tablet) {
      display: none;
    }

    .filters-component-filter__selected {
      background-color: govuk-colour('light-grey');
      box-shadow: none;
      padding: govuk-spacing(2);
      position: relative;
    }

    .govuk-heading-s {
      font-size: 1rem;
    }

    .govuk-body {
      font-size: 1rem;
      font-weight: normal;
    }

    &-tags {
      list-style-type: none;
      margin-bottom: govuk-spacing(2);
      margin-top: govuk-spacing(1);
      padding-left: 0;

      li {
        display: inline-block;
        margin-right: 10px;
      }

      &__tag {
        background-color: govuk-colour('white');
        border-radius: govuk-spacing(1);
        border-width: 1px;
        cursor: pointer;
        font-size: 1rem;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        line-height: 1.25;
        margin-top: 5px;
        padding: 5px;

        &::after {
          height: 0;
          width: 0;
        }

        &.icon--left {
          background-position: govuk-spacing(1);
          padding-left: 28px;
        }

        .fa-times {
          color: $govuk-link-colour;
          font-size: 80%;
          margin: 0 govuk-spacing(1);
        }
      }
    }
  }

  &__submit {
    @include govuk-media-query($until: tablet) {
      background-color: govuk-colour('white');
      bottom: 0;
      box-sizing: border-box;
      display: flex;
      left: 0;
      position: fixed;
      width: 100%;
      z-index: 2000;

      .govuk-button {
        margin: 0 govuk-spacing(3);
      }
    }
  }

  &__groups {
    .govuk-accordion__section-button {
      font-size: 1.2rem;
      padding: 0 0 govuk-spacing(1) 0;
    }

    &__group {
      border: 2px solid $govuk-border-colour;
      margin-bottom: govuk-spacing(3);

      .govuk-checkboxes__item,
      .govuk-radios__item {
        margin-left: govuk-spacing(2);
      }
    }
  }
}

.js-enabled .filters-component__submit {
  display: none;
}
