- if updating_vacancy? && !other_parts_of_step_remaining?
  = f.govuk_submit t("buttons.update_job"), classes: "update-listing-gtm"
- else
  = f.govuk_submit t("buttons.continue"), classes: "govuk-!-margin-bottom-5 save-listing-gtm"
