- content_for :page_title_prefix, "Colleges"

h1 class="govuk-heading-l" role="heading" aria-level="1"
  = "Colleges (#{number_with_delimiter(@pagy.count)})"

/ Send params into the controller params directly, as they can also come from URL params (e.g. from wider search)
= form_with model: @search_form, url: colleges_path, scope: "", method: :get, html: { data: { controller: "form" }, role: "search" } do |f|
  .govuk-grid-row
    .govuk-grid-column-one-third-at-desktop
      = render "organisations/search/open_filters_button", f: @search_form, school_search: @college_search
      = render "filters", f: f, school_search: @college_search, search_form: @search_form
    .govuk-grid-column-two-thirds-at-desktop
      = render "form", f: f, search_form: @search_form

      #search-results
        - if @colleges.any?
          = render "organisations/search/results", schools: @colleges
        - else
          = render "organisations/search/wider_search", path_type: College, school_search: @college_search, wider_search_suggestions: @wider_search_suggestions

      = govuk_pagination(pagy: @pagy)

      - if @colleges.any?
        = render "organisations/search/stats", pagy: @pagy
