---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=manchester&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Manchester
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Manchester\",\n
        \              \"short_name\" : \"Manchester\",\n               \"types\"
        : \n               [\n                  \"locality\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Manchester\",\n               \"short_name\" : \"Manchester\",\n               \"types\"
        : \n               [\n                  \"postal_town\"\n               ]\n
        \           },\n            {\n               \"long_name\" : \"Greater Manchester\",\n
        \              \"short_name\" : \"Greater Manchester\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"England\",\n               \"short_name\"
        : \"England\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United Kingdom\",\n               \"short_name\"
        : \"GB\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Manchester, UK\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 53.5445879,\n                  \"lng\"
        : -2.1468288\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 53.39990299999999,\n                  \"lng\"
        : -2.3000969\n               }\n            },\n            \"location\" :
        \n            {\n               \"lat\" : 53.4807593,\n               \"lng\"
        : -2.2426305\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
        \           \"viewport\" : \n            {\n               \"northeast\" :
        \n               {\n                  \"lat\" : 53.5445879,\n                  \"lng\"
        : -2.1468288\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 53.365651,\n                  \"lng\" : -2.3000969\n
        \              }\n            }\n         },\n         \"place_id\" : \"ChIJ2_UmUkxNekgRqmv-BDgUvtk\",\n
        \        \"types\" : \n         [\n            \"locality\",\n            \"political\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 11 Feb 2026 09:36:44 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=N7%207DD&components=country:gb&key=<GOOGLE_LOCATION_SEARCH_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - London
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [...]
[...]
