groups:
- name: Default

  rules:
  - alert: ProdRequestsFailuresElevated_http_0xx_4xx
    # Condition for alerting
    expr: (sum(rate(requests{app="teaching-vacancies-production", status_range=~"0xx|4xx"}[5m]))) / (sum(rate(requests{app="teaching-vacancies-production"}[5m])) ) > 0.4
    # Annotation - additional informational labels to store more information
    annotations:
      summary: High rate of failing requests
      description: "The proportion of failed 4xx HTTP requests in the past 5 min is above 40% (current value: {{ humanizePercentage $value }})"
      runbook: https://github.com/DFE-Digital/teaching-vacancies/tree/main/documentation/alert-runbook.md#ProdRequestsFailuresElevated
      dashboard: https://grafana-teaching-vacancies.london.cloudapps.digital/d/6Ac4lUWGk/teaching-vacancies-production?orgId=1&refresh=5s
    # Labels - additional labels to be attached to the alert
    labels:
      environment: production
      period: out-of-hours
      severity: high

  - alert: ProdRequestsFailuresElevated_http_5xx
    # Condition for alerting
    expr: (sum(rate(requests{app="teaching-vacancies-production", status_range=~"5xx"}[5m]))) / (sum(rate(requests{app="teaching-vacancies-production"}[5m])) ) > 0.1
    # Annotation - additional informational labels to store more information
    annotations:
      summary: High rate of failing requests
      description: "The proportion of failed 5xx HTTP requests in the past 5 min is above 10% (current value: {{ humanizePercentage $value }})"
      runbook: https://github.com/DFE-Digital/teaching-vacancies/tree/main/documentation/alert-runbook.md#ProdRequestsFailuresElevated
      dashboard: https://grafana-teaching-vacancies.london.cloudapps.digital/d/6Ac4lUWGk/teaching-vacancies-production?orgId=1&refresh=5s
    # Labels - additional labels to be attached to the alert
    labels:
      environment: production
      severity: high

  - alert: ProdSlowRequests
  # Condition for alerting
    expr: histogram_quantile(0.9, sum(rate(response_time_bucket{app="teaching-vacancies-production", status_range="2xx"}[5m])) by (le)) > 3
    # Annotation - additional informational labels to store more information
    annotations:
      summary: Identify slow running request above 95 percentile
      description: "Identify slow running http request above 95 percentile above 3sec (current value: {{ humanize $value}}s )"
      runbook: https://github.com/DFE-Digital/teaching-vacancies/tree/main/documentation/alert-runbook.md#ProdSlowRequests
      dashboard: https://grafana-teaching-vacancies.london.cloudapps.digital/d/6Ac4lUWGk/teaching-vacancies-production?orgId=1&refresh=5s
  # Labels - additional labels to be attached to the alert
    labels:
      environment: production
      severity: high

  - alert: ProdAppCPUHigh
    expr: avg by ( app ) (cpu{app=~"teaching-vacancies-production"}) > 60
    for: 5m
    annotations:
      summary: App CPU usage high
      description: "App CPU usage at least 60% for more than 5 minutes (current value: {{ $value }})"
      runbook: https://github.com/DFE-Digital/teaching-vacancies/tree/main/documentation/alert-runbook.md#ProdAppCPUHigh
      dashboard: https://grafana-teaching-vacancies.london.cloudapps.digital/d/6Ac4lUWGk/teaching-vacancies-production?orgId=1&refresh=5s
    labels:
      environment: production
      severity: high

  - alert: ProdWorkerCPUHigh
    expr: avg by ( app ) (cpu{app=~"teaching-vacancies-worker-production"}) > 75
    for: 10m
    annotations:
      summary: Worker CPU usage high
      description: "Worker CPU usage at least 75% for more than 10 minutes (current value: {{ $value }})"
      runbook: https://github.com/DFE-Digital/teaching-vacancies/tree/main/documentation/alert-runbook.md#ProdWorkerCPUHigh
      dashboard: https://grafana-teaching-vacancies.london.cloudapps.digital/d/6Ac4lUWGk/teaching-vacancies-production?orgId=1&refresh=5s
    labels:
      environment: production
      severity: high

  - alert: ProdDiskUtilisationHigh
    expr: avg by ( app ) ( disk_utilization{ app=~"teaching-vacancies-production|teaching-vacancies-worker-production" }) > 60
    for: 5m
    annotations:
      summary: Disk Utilization High
      description: "Disk utilization at least 60% for more than 5 minutes (current value: {{ $value }})"
      runbook: https://github.com/DFE-Digital/teaching-vacancies/tree/main/documentation/alert-runbook.md#ProdDiskUtilisationHigh
      dashboard: https://grafana-teaching-vacancies.london.cloudapps.digital/d/6Ac4lUWGk/teaching-vacancies-production?orgId=1&refresh=5s
    labels:
      environment: production
      severity: high


  - alert: ProdMemoryUtilizationHigh
    expr: avg by ( app ) (memory_utilization{app=~"teaching-vacancies-production|teaching-vacancies-worker-production"}) > 60
    for: 5m
    annotations:
      summary: Memory Utilization High
      description: "Memory utilization at least 60% for more than 5 minutes (current value: {{ $value }})"
      runbook: https://github.com/DFE-Digital/teaching-vacancies/tree/main/documentation/alert-runbook.md#ProdMemoryUtilizationHigh
      dashboard: https://grafana-teaching-vacancies.london.cloudapps.digital/d/6Ac4lUWGk/teaching-vacancies-production?orgId=1&refresh=5s
    labels:
      environment: production
      severity: high


  - alert: ProdAppsCrashed
    expr: rate(crash{app=~"teaching-vacancies-production|teaching-vacancies-worker-production"}[1m])*60 > 1
    annotations:
      summary: Crashed Production Apps non-zero
      description: "At least 1 crashed production app (current value: {{ $value }})"
      runbook: https://github.com/DFE-Digital/teaching-vacancies/tree/main/documentation/alert-runbook.md#ProdAppsCrashed
      dashboard: https://grafana-teaching-vacancies.london.cloudapps.digital/d/6Ac4lUWGk/teaching-vacancies-production?orgId=1&refresh=5s
    labels:
      environment: production
      severity: high
