ol.app-task-list
  - step_process.step_groups.keys.excluding(:review).each do |step|
    li = render "publishers/vacancies/edit_vacancy_sections/edit_#{step}", show_errors: local_assigns[:show_errors]
