- if errors.any?
  = render(Shared::NotificationComponent.new(title: t("messages.jobs.action_required.heading"), body: t("messages.jobs.action_required.message"), variant: "danger", links: errors.to_hash))
