- content_for :breadcrumbs do
  = govuk_breadcrumbs breadcrumbs: { "#{t("jobs.dashboard.#{vacancy_publication_status(vacancy)}.tab_heading")}": organisation_jobs_with_type_path(vacancy_publication_status(vacancy)),
    "#{vacancy.job_title}": "" }
