= render "publishers/vacancies/review_breadcrumbs", vacancy: vacancy

- tag_name = tag_name(vacancy)

= render "publishers/vacancies/heading", vacancy: vacancy, tag_name: tag_name

= govuk_inset_text do
  = render "publishers/vacancies/review_banners/#{tag_name}", vacancy: vacancy

- if vacancy.published?
  = render "publishers/vacancies/tabs", vacancy: vacancy, current_organisation: current_organisation
