- content_for :page_title_prefix, t(".title.#{@selected_type}", organisation_name: current_organisation.name)

- content_for :skip_links do
  = govuk_skip_link(href: "#vacancy-results", text: t(".skip_link", heading: t("jobs.dashboard.#{@selected_type}.tab_heading")))

= dashboard(organisation: current_organisation,
            sort: @sort,
            selected_type: @selected_type,
            publisher_preference: @publisher_preference,
            vacancies: @vacancies, count: @count,
            vacancy_types: @vacancy_types,
            selected_organisation_ids: @selected_organisation_ids)

= govuk_pagination(pagy: @pagy)
