h2.govuk-heading-m = current_organisation.name
= govuk_summary_list do |summary|
  - summary.slot :row,
              key: t("schools.description"),
              value: safe_join([tag.div(truncate(current_organisation.description, length: 130), class: "govuk-body"),
                                tag.div(govuk_link_to(t("organisation.view_more_or_change"), edit_organisation_school_path(current_organisation), class: "govuk-link--no-visited-state"))])
  - unless current_organisation.local_authority?
    - summary.slot :row,
                key: t("schools.address"),
                value: full_address(current_organisation)
  - summary.slot :row,
              key: t("school_groups.website", organisation_type: organisation_type_basic(current_organisation).humanize),
              value: website_link(current_organisation),
              action: safe_join([tag.div(govuk_link_to(t("buttons.change"), edit_organisation_school_path(current_organisation)), class: "govuk-link--no-visited-state"),
                  tag.span(t("publishers.organisations.aria_change_website", organisation_type: organisation_type_basic(current_organisation)), class: "govuk-visually-hidden")])
  - unless current_organisation.local_authority?
    - summary.slot :row,
                key: t("school_groups.group_type"),
                value: current_organisation.group_type
    - summary.slot :row,
                key: t("school_groups.uid"),
                value: current_organisation.uid
