- content_for :page_title_prefix, t('release_notes.dated', date: '10 April 2020')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l= t('release_notes.updates')
    This is a release note
