.panel-component.js-action data-controller="panel" data-content-id="filters-component" data-close-container="filters-component__heading"
  a.panel-component__toggle.govuk-link class="govuk-link--no-visited-state govuk-!-font-size-24 govuk-!-font-weight-bold" href="#" data-panel-target="toggle" data-action="panel#toggleVisibility"
    = t("buttons.filters_toggle_panel", count: f.total_filters)
