- if errors.any?
  #errors.govuk-error-summary{role: 'alert', tabindex: '-1'}
    %h2.govuk-error-summary__title
      = I18n.t('errors.title', errors: pluralize(errors.count, 'error'))
    .govuk-error-summary__body
      %ul.govuk-list.govuk-error-summary__list
        - errors.each do |attribute, error|
          %li= link_to errors.full_message(attribute, error), "##{attribute}"
