- attributes.each do |attribute|
  - if @vacancy.errors.messages.keys.include?(attribute)
    %strong.govuk-tag.action-required-tag{ class: "action-required--#{section}" }= t('jobs.notification_labels.action_required')
    - break
