- attributes.each do |attribute|
  - if new_attributes(@vacancy).include?(attribute)
    %strong.govuk-tag.notification-tag{ class: "new--#{section}" }= t('jobs.notifications.labels.new')
    - break
