<div class="app-step-nav-related app-step-nav-related--singular">
  <h2 class="app-step-nav-related__heading">
    <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
  </h2>
</div>
<div id="step-by-step-navigation" class="app-step-nav app-step-nav--active">
  <ol class="app-step-nav__steps">
    <li class="app-step-nav__step js-step app-step-nav__step--visited" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
      <div class="app-step-nav__header js-toggle-panel" data-position="1">
        <h3 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                1
                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
              </span>
            </span>
          </span>

          <span class="js-step-title">
            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
              <span class="js-step-title-text">
                Job details
              </span>
            </button>
          </span>
        </h3>
      </div>
    </li>
  </ol>
</div>
