@import 'base_component';

.job-alert-cta {
  bottom: 0;
  box-sizing: border-box;
  display: block;
  margin-bottom: -40px;
  position: sticky;

  @include govuk-media-query($until: desktop) {
    margin: 0 -15px !important;
  }

  .job-alert-cta__fade {
    background: linear-gradient(transparent, $govuk-border-colour);
    height: 6px;
  }

  .job-alert-cta__content {
    background-color: $govuk-brand-colour;
    color: govuk-colour('white');
    padding: govuk-spacing(2);

    a {
      color: govuk-colour('white');

      &:focus {
        color: $govuk-focus-text-colour;
      }
    }

    .alert-icon {
      display: inline;
      left: 2px;
      margin-right: govuk-spacing(1);
      position: relative;
      top: 2px;
    }
  }
}
