.card-component {
  @include govuk-font(16);
  border-bottom: 1px solid $govuk-border-colour;
  color: $govuk-secondary-text-colour;
  display: flex;
  margin: 0 0 govuk-spacing(4);
  padding-bottom: govuk-spacing(3);

  &__content {
    display: flex;
    flex-basis: 75%;
    flex-direction: row;
    flex-grow: 2;

    @include govuk-media-query ($until: desktop) {
      flex-direction: column;
      flex-grow: 1;
    }

    div {
      margin-bottom: govuk-spacing(1);
    }
  }

  &__header {
    flex-basis: 40%;
    margin-bottom: govuk-spacing(2);
    margin-right: govuk-spacing(2);

    .govuk-link {
      @include govuk-font(19);
    }
  }

  &__body {
    flex-grow: 1;
    margin-bottom: govuk-spacing(2);
    margin-left: 0;
    margin-right: govuk-spacing(2);
  }

  &__actions {
    margin-left: 0;
  }

  &__item-label {
    &:after {
      content: ":";
      margin-right: govuk-spacing(1);
    }
  }
}

.govuk-grid-column-two-thirds {
  .card-component {
    &__content {
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
