p.govuk-body = t(".description")
= f.govuk_password_field :current_password, label: { text: t(".current_password"), size: "s" }, width: "two-thirds"
= f.govuk_email_field :email, label: { text: t(".new_email"), size: "s" }, width: "two-thirds", value: nil
= f.govuk_submit t("buttons.continue"), classes: "govuk-!-margin-bottom-0"
