p.govuk-body = t(".description", email: resource.email)
.govuk-grid-row
  .govuk-grid-column-two-thirds
    = f.govuk_password_field :current_password,
                              label: { text: t(".current_password.label"), size: "s" },
                              show_password_aria_label_text: t(".current_password.show.label"),
                              hide_password_aria_label_text: t(".current_password.hide.label"),
                              password_shown_announcement_text: t(".current_password.show.announcement"),
                              password_hidden_announcement_text: t(".current_password.hide.announcement"),
                              autocomplete: "current-password"
    = f.govuk_password_field :password,
                              label: { text: t(".new_password.label"), size: "s" },
                              show_password_aria_label_text: t(".new_password.show.label"),
                              hide_password_aria_label_text: t(".new_password.hide.label"),
                              password_shown_announcement_text: t(".new_password.show.announcement"),
                              password_hidden_announcement_text: t(".new_password.hide.announcement"),
                              autocomplete: "new-password"
    = f.govuk_submit t("buttons.update_password"), class: "govuk-!-margin-bottom-0"
