.similar-jobs {
  .govuk-grid-row {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: govuk-spacing(2);
  }

  &__job {
    border-left: govuk-spacing(1) solid govuk-colour('orange');
    margin-bottom: govuk-spacing(4);
    padding-left: govuk-spacing(3);
    padding-right: govuk-spacing(4);
  }
}
