@use "govuk-frontend/dist/govuk/helpers";

.similar-jobs {
  .govuk-grid-row {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: helpers.govuk-spacing(2);
  }

  &__job {
    border-left: helpers.govuk-spacing(1) solid helpers.govuk-colour('orange');
    margin-bottom: helpers.govuk-spacing(4);
    padding-left: helpers.govuk-spacing(3);
    padding-right: helpers.govuk-spacing(4);
  }
}
