.vacancies_campaign_landing_page {
  @import '../shared/search-results';

  .custom-banner-background {
    background-color: govuk-colour('light-grey');
    width: 100vw;
    position: relative;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: govuk-spacing(4) 0;
    margin-bottom: 30px;
  }

  .custom-banner {
    padding: govuk-spacing(4) 0;
  }

  @media (max-width: 768px) {
    .govuk-width-container {
      width: auto;
    }
  }
}
