.vacancies_index {
  .no-results {
    &__job-alert-link {
      &--organisation {
        @include govuk-font(19);
      
        font-weight: 700;
        padding-bottom: govuk-spacing(2);
      
        .govuk-link {
          text-decoration: none;
        }
      }
    }
  }

  .search-results {
    list-style: none;
    margin: 0;
    padding: 0;

    >li {
      border-bottom: 1px solid $govuk-border-colour;
      margin-bottom: $govuk-gutter-half;
      padding-bottom: $govuk-gutter-half;

    }
  }

  .search-results {
    dl {
      display: flex;

      dt {
        flex-basis: 30%;
      }

      dd {
        flex-basis: 70%;
      }
    }
  }

  .search-results-controls {
    background-color: govuk-colour('light-grey');
    padding: $govuk-gutter-half;

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(4);

      .autocomplete, .govuk-form-group {
        margin-bottom: 20px;
      }

      .location-search__radius {
        .govuk-select[name='radius'] {
          width: min-content;
          min-width: 0;
        }
      }

      .autocomplete__menu {
        @include govuk-media-query($from: desktop) {
          position: absolute;
        }
      }

      &__submit {
        .govuk-button {
          margin-bottom: 0;
        }
      }

      .govuk-hint {
        display: none;
      }
    }

    @include govuk-media-query($until: tablet) {
      &__submit {
        .govuk-button {
          margin-bottom: govuk-spacing(3);
        }
      }
    }

    .location-search__radius {
      margin-top: govuk-spacing(6);
      flex-basis: 200px;

      @include govuk-media-query($until: tablet) {
        .govuk-select[name='radius'] {
          width: 100%;
        }      
      }

      @include govuk-media-query($from: tablet) {
        margin-top: 0;
      }
    }
  }
}
