.vacancies_index {
  .no-results {
    &__job-alert-link {
      &--organisation {
        @include govuk-font(19);
      
        font-weight: 700;
        padding-bottom: govuk-spacing(2);
      
        .govuk-link {
          text-decoration: none;
        }
      }
    }
  }

  .search-results {
    list-style: none;
    margin: 0;
    padding: 0;

    >li {
      border-bottom: 1px solid $govuk-border-colour;
      margin-bottom: $govuk-gutter-half;
      padding-bottom: $govuk-gutter-half;

    }
  }

  .search-results {
    dl {
      display: flex;

      dt {
        flex-basis: 30%;
      }

      dd {
        flex-basis: 70%;
      }
    }
  }

  .search-results-controls {
    background-color: govuk-colour('light-grey');
    margin-bottom: govuk-spacing(4);
    padding: $govuk-gutter-half;

    @include govuk-media-query($from: tablet) {
      background-color: transparent;
      column-gap: govuk-spacing(2);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;

      .govuk-heading-m {
        display: none;
      }

      .autocomplete__menu {
        @include govuk-media-query($from: desktop) {
          position: absolute;
        }
      }

      >* {
        flex-grow: 1;
      }

      &__submit {
        flex-basis: 100%;

        @media (min-width: 1020px) {
          flex-basis: auto;
          flex-grow: 0;
          margin-top: govuk-spacing(6);
        }
      }

      @media (min-width: 1020px) {
        flex-wrap: nowrap;
      }

      .govuk-hint {
        display: none;
      }
    }

    .location-search__radius {
      flex-basis: 200px;

      .govuk-select[name='radius'] {
        width: 100%;
      }
    }
  }
}
