@use "sass:meta";
@use "govuk-frontend/dist/govuk/helpers";

.vacancies_index {
  @include meta.load-css('../shared/search-results');

  .custom-banner-background {
    background-color: helpers.govuk-colour('black', $variant: 'tint-95');
    width: 100vw;
    position: relative;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-bottom: 30px;

    .search-results-controls {
      padding: 0;
    }
  }

  .custom-banner {
    padding: helpers.govuk-spacing(4) 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .no-results {
    &__job-alert-link {
      &--organisation {
        @include helpers.govuk-font(19);

        font-weight: 700;
        padding-bottom: helpers.govuk-spacing(2);

        .govuk-link {
          text-decoration: none;
        }
      }
    }
  }

  .search-results-controls {
    background-color: helpers.govuk-colour('black', $variant: 'tint-95');
    padding: helpers.$govuk-gutter-half;

    @include helpers.govuk-media-query($from: tablet) {
      margin-bottom: helpers.govuk-spacing(4);

      .autocomplete,
      .govuk-form-group {
        margin-bottom: 20px;
      }

      .location-search__radius {
        .govuk-select[name='radius'] {
          width: min-content;
          min-width: 0;
        }
      }

      .autocomplete__menu {
        @include helpers.govuk-media-query($from: desktop) {
          position: absolute;
        }
      }

      &__submit {
        .govuk-button {
          margin-bottom: 0;
        }
      }

      .govuk-hint {
        display: none;
      }
    }

    @include helpers.govuk-media-query($until: tablet) {
      &__submit {
        .govuk-button {
          margin-bottom: helpers.govuk-spacing(3);
        }
      }
    }

    .location-search__radius {
      margin-top: helpers.govuk-spacing(6);
      flex-basis: 200px;

      @include helpers.govuk-media-query($until: tablet) {
        .govuk-select[name='radius'] {
          width: 100%;
        }
      }

      @include helpers.govuk-media-query($from: tablet) {
        margin-top: 0;
      }
    }
  }
}
