.vacancies_show {
  // needed for legacy vacancies that havent been edited with editor component
  section {
    @extend .govuk-body;
  }

  @import './similar-jobs';

  .banner-header {
    align-items: center;
    display: flex;
    margin-bottom: govuk-spacing(5);

    &-title {
      display: flex;
      flex-direction: column;
    }
  }
}
