%banner {
  font-size: $large-font-size;
  padding: $govuk-gutter-half;
  margin-top: $govuk-gutter-half;
  border: $thick-border solid;
  font-weight: $bold-font-weight;
}
.banner {
  &-warning {
    @extend %banner;
    color: $warning-color;
    border-color: $warning-color;
  }
}