@import 'base';

.banner-button-component {
  display: flex;

  &__button {
    @include govuk-font(19);

    background-color: inherit;
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    background-size: 20px 25px;
    border: 0;
    border-bottom: 3px solid govuk-colour('orange');
    color: $govuk-link-colour;
    cursor: pointer;
    flex: 1;
    font-weight: 700;
    height: 100%;
    margin-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(2);
    padding-left: govuk-spacing(6);
    text-align: left;
    text-decoration: none;

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus {
      background-color: $govuk-focus-colour;
      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
      outline: 3px solid transparent;
    }
  }
}

.banner-buttons {
  .govuk-grid-column-one-third {
    @media only screen and (max-width: 1020px) {
      width: 100%;
    }
  }
}
