@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

.detail-component {
  background: helpers.govuk-colour('white');
  border: 5px solid helpers.govuk-colour('black', $variant: 'tint-95');
  box-sizing: border-box;
  margin-bottom: helpers.govuk-spacing(5);

  &__title {
    .govuk-heading-s {
      background-color: helpers.govuk-colour('black', $variant: 'tint-95');
      margin-bottom: 0;
      padding: helpers.govuk-spacing(1) helpers.govuk-spacing(3) helpers.govuk-spacing(2);
    }
  }

  &__body {
    padding: helpers.govuk-spacing(1) helpers.govuk-spacing(3);

    @include helpers.govuk-media-query ($until: tablet) {
      padding-top: helpers.govuk-spacing(2);
    }

    .govuk-summary-list__key {
      word-wrap: normal;
    }

    .govuk-summary-list__row {
      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;

        .govuk-summary-list__key,
        .govuk-summary-list__value {
          border-bottom: 0;
        }
      }
    }
  }

  &__actions {
    padding: 0 helpers.govuk-spacing(3) helpers.govuk-spacing(3);

    .border-container {
      border-top: 1px solid helpers.govuk-functional-colour(border);
      padding-top: helpers.govuk-spacing(3);
    }

    .button_to {
      vertical-align: bottom;
    }

    a,
    input {
      @include helpers.govuk-font(16);

      margin-right: helpers.govuk-spacing(3);
    }
  }
}
