@import 'base';
 
editor-content {
  @extend .govuk-body;

  ul {
    @extend .govuk-list, .govuk-list--bullet;

    p {
      margin: 0;
      padding: 0;
    }
  }

  p:empty {
    display: none;
  }
}

.js-enabled {
  .editor-component {
    &__controls {
      display: block;
    }

    .govuk-form-group {
      @extend .govuk-visually-hidden;
    }
  }
}


.editor-component {
  &__controls {
    display: none;
  }

  &__content {
    @extend .govuk-textarea;

    height: 250px;
    overflow: scroll;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    ul {
      @extend .govuk-list, .govuk-list--bullet;
    }
  }

  &__toolbar {
    display: none;
    margin-bottom: govuk-spacing(2);

    &-button {
      background-position: 0 50%;
      margin-bottom: govuk-spacing(2);
      padding-left: govuk-spacing(7);

      &::-moz-focus-inner {
        border: 0;
        padding: 0;
      }

      &:focus {
        background-color: $govuk-focus-colour;
        box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
        color: $govuk-focus-text-colour;
        outline: none;
        position: relative;
        z-index: 2;
      }

      &--selected {
        background-color: $govuk-focus-colour;
        box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
        color: $govuk-focus-text-colour;
        outline: none;
        position: relative;
        z-index: 2;
      }
    }
  }
}
