@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

.empty-section-component {
  @include helpers.govuk-font(19);
  color: helpers.govuk-functional-colour(text);
  @include helpers.govuk-responsive-padding(5);

  background-color: rgba($color: helpers.govuk-colour('black', $variant: 'tint-95'), $alpha: 0.5);
  border: 5px dashed helpers.govuk-functional-colour(border);
  margin-bottom: helpers.govuk-spacing(5);
  margin-top: helpers.govuk-spacing(2);
}
