@import 'base';

.empty-section-component {
  @include govuk-font(19);
  color: govuk-functional-colour(text);
  @include govuk-responsive-padding(5);

  background-color: rgba($color: govuk-colour('black', $variant: 'tint-95'), $alpha: 0.5);
  border: 5px dashed govuk-functional-colour(border);
  margin-bottom: govuk-spacing(5);
  margin-top: govuk-spacing(2);
}
