@import 'base';

@mixin striped-banner($colour-name, $tint: 'tint-25') {
  $background-color: govuk-colour($colour-name);
  $stripe-color: govuk-colour($colour-name, $variant: $tint);

  @include govuk-font(16);

  background-image: linear-gradient(45deg, $background-color 25%, $stripe-color 25%, $stripe-color 50%, $background-color 50%, $background-color 75%, $stripe-color 75%, $stripe-color 100%);
  background-size: govuk-spacing(9) govuk-spacing(9);

  padding: govuk-spacing(2);

  .govuk-tag {
    background-color: govuk-colour('white');
    color: govuk-colour($colour-name, $variant: 'shade-25');

    margin-right: govuk-spacing(2);
  }
}

.environment-banner-component {
  @include striped-banner('yellow');

  &--qa {
    @include striped-banner('purple');
    color: govuk-colour('white');
  }

  &--staging {
    @include striped-banner('red');
    color: govuk-colour('white');
  }

  &--pentest {
    @include striped-banner('dark-grey');
    color: govuk-colour('white');
  }

  &--review {
    @include striped-banner('yellow');
  }

  &--user-testing {
    @include striped-banner('teal');
    color: govuk-colour('white');
  }
}
