@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

@mixin striped-banner($colour-name, $tint: 'tint-25') {
  $background-color: helpers.govuk-colour($colour-name);
  $stripe-color: helpers.govuk-colour($colour-name, $variant: $tint);

  @include helpers.govuk-font(16);

  background-image: linear-gradient(45deg, $background-color 25%, $stripe-color 25%, $stripe-color 50%, $background-color 50%, $background-color 75%, $stripe-color 75%, $stripe-color 100%);
  background-size: helpers.govuk-spacing(9) helpers.govuk-spacing(9);

  padding: helpers.govuk-spacing(2);

  .govuk-tag {
    background-color: helpers.govuk-colour('white');
    color: helpers.govuk-colour($colour-name, $variant: 'shade-25');

    margin-right: helpers.govuk-spacing(2);
  }
}

.environment-banner-component {
  @include striped-banner('yellow');

  &--qa {
    @include striped-banner('purple');
    color: helpers.govuk-colour('white');
  }

  &--staging {
    @include striped-banner('red');
    color: helpers.govuk-colour('white');
  }

  &--pentest {
    @include striped-banner('dark-grey');
    color: helpers.govuk-colour('white');
  }

  &--review {
    @include striped-banner('yellow');
  }

  &--user-testing {
    @include striped-banner('teal');
    color: helpers.govuk-colour('white');
  }
}
