@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

.inset-text--narrow-border {
  border-left-width: helpers.$govuk-border-width-narrow;
}

.inset-text--error {
  border-color: helpers.govuk-functional-colour(error);
  border-left-width: helpers.$govuk-border-width;

  .govuk-heading-s {
    color: helpers.govuk-functional-colour(error);
  }

  .govuk-link {
    @include helpers.govuk-typography-weight-bold($important: true);
    color: helpers.govuk-functional-colour(error);

    &:focus {
      color: helpers.govuk-functional-colour(focus-text);
    }
  }
}
