@import 'base';

.inset-text--narrow-border {
  border-left-width: $govuk-border-width-narrow;
}

.inset-text--error {
  border-color: $govuk-error-colour;
  border-left-width: $govuk-border-width;

  .govuk-heading-s {
    color: $govuk-error-colour;
  }

  .govuk-link {
    @include govuk-typography-weight-bold($important: true);
    color: $govuk-error-colour;

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}
