@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

.filters-component {
  background-color: helpers.govuk-colour('black', $variant: 'tint-95');
  padding: helpers.$govuk-gutter-half;

  &:focus {
    outline: helpers.$govuk-focus-width solid helpers.govuk-functional-colour(focus);
  }

  &__heading {
    padding-bottom: helpers.govuk-spacing(2);
    position: relative;

    .govuk-heading-m {
      margin-bottom: helpers.govuk-spacing(2);
    }
  }

  &__remove {
    box-shadow: none;
    display: none;
    padding: helpers.govuk-spacing(1) 0;
    position: relative;

    @include helpers.govuk-media-query($from: desktop) {
      display: block;
    }

    .govuk-heading-s {
      @include helpers.govuk-font(16);
      font-weight: bold;
      margin-bottom: 0;
    }

    .govuk-body {
      @include helpers.govuk-font(16);
      font-weight: normal;
    }

    &-group {
      margin-bottom: 0;
      margin-top: helpers.govuk-spacing(4);
    }

    &__heading {
      display: flex;
      margin-bottom: helpers.govuk-spacing(2);

      &-title {
        flex-grow: 1;
      }
    }

    &-tags {
      list-style-type: none;
      margin-bottom: helpers.govuk-spacing(2);
      margin-top: helpers.govuk-spacing(1);
      padding-left: 0;

      li {
        display: inline-block;
        margin-right: helpers.govuk-spacing(2);
      }

      &__tag {
        background-color: helpers.govuk-colour('white');
        border: 1px solid helpers.govuk-functional-colour(input-border);
        border-radius: helpers.govuk-spacing(1);
        cursor: pointer;
        display: grid;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        margin-top: helpers.govuk-spacing(1);
        padding: helpers.govuk-spacing(1);
        text-align: left;
        white-space: break-spaces;

        &::after {
          height: 0;
          width: 0;
        }

        &:hover {
          text-decoration: none;
        }

        &:focus {
          outline: helpers.$govuk-focus-width solid helpers.govuk-functional-colour(focus);
        }

        &.icon--left {
          background-position: helpers.govuk-spacing(1);
          padding-left: helpers.govuk-spacing(6);
        }

        .fa-times {
          color: helpers.govuk-functional-colour(link);
          font-size: 80%;
          margin: 0 helpers.govuk-spacing(1);
        }
      }
    }
  }

  &__groups {
    padding: helpers.govuk-spacing(1) 0;

    .govuk-form-group {
      margin-bottom: helpers.govuk-spacing(2);
    }

    .govuk-checkboxes__label {
      &::before {
        background-color: helpers.govuk-colour('white');
      }
    }

    &__group {
      border-bottom: 1px solid helpers.govuk-colour('black', $variant: 'tint-80');
      margin-bottom: helpers.govuk-spacing(4);
      padding-bottom: helpers.govuk-spacing(2);

      h3.govuk-fieldset__legend {
        margin-bottom: helpers.govuk-spacing(3);
      }

      .govuk-details {
        margin-bottom: helpers.govuk-spacing(0);

        &__text {
          padding-left: 0;
          border-left: 0;
        }

        &__summary-text {
          font-weight: bold;
          text-decoration: none;
        }
      }

      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

.plain-styling .filters-component {
  background: none;
  padding: 0;

  button[type='submit'] {
    display: none;
  }

  &__groups__group {
    border-bottom: 0;
  }
}

.filters-list {
  ul {
    list-style-type: none;
    margin-bottom: helpers.govuk-spacing(2);
    margin-top: helpers.govuk-spacing(1);
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: helpers.govuk-spacing(2);
    }

  }
}
