.filter-vacancies {
  margin-bottom: 0;
  padding: $gutter-half;
  background-color: $panel-colour;
  h2 {
    margin: 0 0 $gutter-half 0;
  }
  .form-group {
    margin-bottom: $gutter-half;
  }
  .form-control {
    border-color: $grey-1;
  }
  .button {
    margin-top: $gutter-half;
  }

  @media screen and (max-width: $small-screen) {
    margin-bottom: $gutter;
  }

// filters form white checkbox on grey background
.filters-form .multiple-choice {
  background: $white;
  label {
    background: $panel-colour;
  }
}
}