@import 'base';

.filters-component {
  background-color: govuk-colour('light-grey');
  padding: $govuk-gutter-half;

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

  &__heading {
    padding-bottom: govuk-spacing(2);
    position: relative;

    .govuk-heading-m {
      margin-bottom: govuk-spacing(2);
    }
  }

  &__remove {
    box-shadow: none;
    display: none;
    padding: govuk-spacing(1) 0;
    position: relative;

    @include govuk-media-query($from: desktop) {
      display: block;
    }

    .govuk-heading-s {
      @include govuk-font(16);
      font-weight: bold;
      margin-bottom: 0;
    }

    .govuk-body {
      @include govuk-font(16);
      font-weight: normal;
    }

    &-group {
      margin-bottom: 0;
      margin-top: govuk-spacing(4);
    }

    &__heading {
      display: flex;
      margin-bottom: govuk-spacing(2);

      &-title {
        flex-grow: 1;
      }
    }

    &-tags {
      list-style-type: none;
      margin-bottom: govuk-spacing(2);
      margin-top: govuk-spacing(1);
      padding-left: 0;

      li {
        display: inline;
        margin-right: govuk-spacing(2);
      }

      &__tag {
        background-color: govuk-colour('white');
        border: 1px solid $govuk-input-border-colour;
        border-radius: govuk-spacing(1);
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        line-height: 2.5;
        margin-top: govuk-spacing(1);
        padding: govuk-spacing(1);
        text-align: left;

        &::after {
          height: 0;
          width: 0;
        }

        &:hover {
          text-decoration: none;
        }

        &:focus {
          outline: $govuk-focus-width solid $govuk-focus-colour;
        }

        &.icon--left {
          background-position: govuk-spacing(1);
          padding-left: govuk-spacing(6);
        }

        .fa-times {
          color: $govuk-link-colour;
          font-size: 80%;
          margin: 0 govuk-spacing(1);
        }
      }
    }
  }

  &__groups {
    padding: govuk-spacing(1) 0;

    .govuk-form-group {
      margin-bottom: govuk-spacing(2);
    }

    .govuk-checkboxes__label {
      &::before {
        background-color: govuk-colour('white');
      }
    }

    &__group {
      border-bottom: 1px solid govuk-colour('mid-grey');
      margin-bottom: govuk-spacing(5);

      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

.plain-styling .filters-component {
  background: none;
  padding: 0;

  button[type='submit'] {
    display: none;
  }

  &__groups__group {
    border-bottom: 0;
  }
}
