.filter-vacancies {
  margin-bottom: 0;
  padding: $govuk-gutter-half;
  background-color: govuk-colour("grey-3");
  h2 {
    margin: 0 0 $govuk-gutter-half 0;
  }
  .govuk-form-group {
    margin-bottom: $govuk-gutter-half;
  }
  .form-control {
    border-color: govuk-colour("grey-1");
  }
  .govuk-button {
    margin-top: $govuk-gutter-half;
  }

  @include govuk-media-query($until: tablet) {
    margin-bottom: $govuk-gutter;
  }

// filters form white checkbox on grey background
.filters-form .multiple-choice {
  background: $white;
  label {
    background: $panel-colour;
  }
}
}