@mixin flash {
  color: $black;
  border: 1px solid $black;
}

.flash {
  margin-top: $gutter/2;
  padding: 14px 15px 10px 15px;
  &.notice {
    background-color: $light-blue-25;
    @include flash;
  }
  &.success {
    background-color: $green-25;
    @include flash;
  }
  &.error {
    background-color: $red-25;
    @include flash;
  }
  &.alert {
    background-color: $yellow-25;
    @include flash;
  }
}