body.hiring-staff {

  .govuk-width-container {
    @include govuk-media-query($from: desktop) {
      max-width: 1200px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .govuk-header__container {
    border-bottom: 10px solid govuk-colour("yellow");
  }

  &.vacancies_index,
  &.vacancies_show {
    .govuk-main-wrapper {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
