.js-location-finder {
  .govuk-c-loader {
    @extend .govuk-input;
    @extend .form-control;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    user-select: none;
  }

  .govuk-c-loader__spinner {
    position: relative;
    top: -3px;
    left: -3px;
  }

  .govuk-c-loader__label {
    vertical-align: top;
    line-height: 26px;
  }
}

.js-location-finder__input-container {
  position: relative;
}

.js-location-finder__link {
  display: none;
}

.js-enabled .js-geolocation-supported {
  .js-location-finder__link {
    display: block;
  }
}
