@import 'base_component';

.map-component {
  display: none;
}

.js-enabled {
  .map-component {
    display: block;

    &__container {
      position: relative;

      .map-component__map {
        border: 1px solid $govuk-border-colour;
        height: 400px;
        margin-bottom: govuk-spacing(4);

        &__marker {
          &:focus {
            outline: $govuk-focus-width solid $govuk-focus-colour !important;
          }

          &--show {
            outline: 2px solid govuk-colour('black') !important;
          }
        }

        &__cluster {
          background-color: govuk-colour('light-blue');
          border: 2px solid $govuk-input-border-colour;
          border-radius: 50%;

          &:focus {
            outline: $govuk-focus-width solid $govuk-focus-colour;
          }

          span {
            color: govuk-colour('white');
            display: block;
            font-size: 1.2em;
            line-height: 2.1 !important;
            text-align: center;
          }

          &--medium {
            background-color: govuk-colour('blue');
          }

          &--large {
            background-color: govuk-colour('dark-blue');
          }
        }

        &__popup {
          margin-bottom: 32px;
          margin-left: 2px;

          .popup * {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}
