.app-navigation {
  $navigation-height: 53px;
  background-color: $grey-4;
  font-weight: bold;
  margin-bottom: 2em;

  @include clearfix;

  &__list {
    margin: 0;
    padding: 0 0.5em;
    list-style: none;
    font-size: 0.85em;

    @include media(tablet) {
      float: right;
      font-size: 1em;
    }

    & > li {
      box-sizing: border-box;
      height: $navigation-height;
      float: left;
      line-height: $navigation-height;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      &:hover {
        border-bottom: 4px solid $light-blue;
      }

      &.active {
        border-bottom: 4px solid $govuk-blue !important;

        a:hover {
          color: $link-colour;
        }
      }

      a {
        display: block;
        padding: 0 0.5em;
        color: $link-colour;
        text-decoration: none;

        &:visited {
          color: $link-colour;
        }

        &:hover,
        &:focus {
          color: $link-hover-colour;
          background-color: inherit;
        }
      }
    }
  }
}
