@import 'base';

.notification {
  @include govuk-font(16);

  border-bottom: solid 1px $govuk-border-colour;
  display: flex;
  flex-basis: 75%;
  flex-direction: row;
  flex-grow: 2;
  margin-bottom: govuk-spacing(3);

  &__content {
    display: flex;
    flex-basis: 75%;
    flex-direction: row;
    flex-grow: 2;

    @include govuk-media-query ($until: desktop) {
      flex-direction: column;
      flex-grow: 1;
    }

    div {
      margin-bottom: govuk-spacing(2);
    }
  }

  &__tag {
    flex-basis: 10%;
    height: min-content;
    margin-right: govuk-spacing(5);
  }

  &__message {
    flex-grow: 1;
    margin-right: govuk-spacing(5);
  }

  &__timestamp {
    color: $govuk-secondary-text-colour;
    flex-basis: 20%;
    text-align: right;

    @include govuk-media-query ($until: desktop) {
      text-align: left;
    }
  }
}
