$print-dark-grey: #333;
$print-light-blue: #f0f8ff;

@page {
  margin: 10mm;
  size: A4;
}

.print-layout {
  margin: 0 auto;
  max-width: 190mm;
  padding: 10mm;
}

.print-header {
  align-items: flex-start;
  background: $print-light-blue;
  box-sizing: border-box;
  color: $print-dark-grey;
  display: flex;
  font-family: arial, sans-serif;
  height: 30mm;
  justify-content: space-between;
  padding: 7mm 10mm;

  &__caption {
    font-size: 12pt;
    font-style: italic;
    margin: 0 0 5mm;
  }

  &__applicant-name {
    border-bottom: 2px solid $print-dark-grey;
    height: 8mm;
    margin: 0;
    width: 70mm;
  }

  &__logo {
    height: auto;
    width: 40mm;
  }
}

.print-introduction {
  color: $print-dark-grey;
  font-family: arial, sans-serif;
  font-size: 10pt;
  font-style: italic;
  margin: 5mm 0 7mm;
}

.print-section {
  color: $print-dark-grey;
  font-family: arial, sans-serif;
  margin-bottom: 10mm;

  &__heading {
    align-items: center;
    background: #ddd;
    display: flex;
    font-size: 18pt;
    font-weight: bold;
    height: 10mm;
    margin: 0;
    padding: 0 5mm;
  }
}

.print-table {
  &__row {
    border-top: 1px solid #ddd;
    display: grid;
    grid-template-columns: 53mm 1fr;
    min-height: 10mm;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }

  &__label {
    align-self: center;
    font-size: 12pt;
    font-weight: bold;
    line-height: 1.05;
    margin: 0;
    padding: 2mm;
  }
}

.print-subsection {
  margin-top: 3mm;

  &__heading {
    align-items: center;
    background: #ececec;
    color: $print-dark-grey;
    display: flex;
    font-family: arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    height: 10mm;
    margin: 0 0 4mm;
    padding: 0 10mm;
  }
}

.print-qualification {
  break-inside: avoid;
  margin-bottom: 10mm;
}

@media print {
  .print-layout {
    max-width: none;
    padding: 0;
  }

  .print-header {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-section__heading,
  .print-subsection__heading {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
