@import 'base';

.review-component {
  &__section {
    .govuk-summary-list {
      table-layout: auto;
    }

    &__heading {
      display: flex;
      margin-bottom: govuk-spacing(4);

      .govuk-link {
        @include govuk-font($size: 16);

        line-height: 1.6;
        white-space: nowrap;

        @include govuk-media-query($from: desktop) {
          @include govuk-font($size: 19);
        }
      }

      &__title {
        padding-bottom: govuk-spacing(2);

        .govuk-heading-m {
          display: inline-block;
          margin-bottom: 0;
          margin-right: govuk-spacing(2);
        }

        @media print {
          .govuk-heading-m {
            font-size: x-large !important;
          }
        }
      }

      &__status {
        flex-grow: 1;
        text-align: right;

        .govuk-tag {
          white-space: nowrap;
        }
      }
    }
  }

  &__sections {
    > li {
      margin-bottom: govuk-spacing(6);
    }

    @media print {
      margin: 0;
  
      * {
        font-size: medium !important;
      }
    }
  }
}
