@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

.scheduled-maintenance-banner-component {
  @include helpers.govuk-font(16);

  background-color: helpers.govuk-functional-colour(brand);
  background-size: helpers.govuk-spacing(9) helpers.govuk-spacing(9);

  padding: helpers.govuk-spacing(2);
  color: helpers.govuk-colour('white');

  .govuk-tag {
    background-color: helpers.govuk-colour('white');
    color: helpers.govuk-colour('blue', $variant: 'shade-25');

    margin-right: helpers.govuk-spacing(2);
  }
}
