@import 'base';

.scheduled-maintenance-banner-component {
  @include govuk-font(16);

  background-color: govuk-functional-colour(brand);
  background-size: govuk-spacing(9) govuk-spacing(9);

  padding: govuk-spacing(2);
  color: govuk-colour('white');

  .govuk-tag {
    background-color: govuk-colour('white');
    color: govuk-colour('blue', $variant: 'shade-25');

    margin-right: govuk-spacing(2);
  }
}
