.school {
  &--details {
    dt, dd {
      display: inline-block;
    }
    dt {
      width: 30%;
      color: $secondary-text-colour;
    }
    dd {
      width: 65%;
    }
  }

  &--metadata {
    padding: $gutter-half;
    margin-top: $gutter*3;
    @media screen and (max-width: $small-screen) {
      margin-top: $gutter;
    }
  }

  #map_zoom {
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }
}
