
.school-search {
  margin-left: -10px;
  margin-right: -10px;
}

.school-search .school a {
  display: block;
  color: $black;
  text-decoration: none;
  padding: 15px 10px;
  margin-bottom: 0; margin-top: 0;
}

.school-search .school-name {
  color: $link-colour;
  margin-top: 0;
}

.school-search .school-address {
  margin-bottom: 0;
}

.school-search .school:hover {
  background-color: $highlight-colour;
}