@import 'base';

.searchable-collection-component {
  .govuk-form-group {
    margin-bottom: 0;
  }

  &--scrollable {
    .govuk-form-group {
      margin-left: -10px;
      max-height: 400px;
      overflow-y: auto;
      padding-left: govuk-spacing(2);
    }
  }

  &--border {
    .govuk-form-group {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  &__search {
    background: govuk-colour('white');
    margin: govuk-spacing(2) 0;
    position: relative;

    .govuk-input {
      display: block;
      padding-left: govuk-spacing(7);
      width: 100%;
    }

    .searchable-collection-component__search-button {
      background: transparent;
      border: 0;
      cursor: pointer;
      display: inline-block;
      left: 0;
      padding: 12px;
      position: absolute;
      top: 0;
      z-index: 2;
    }
  }
}
