.share-url,
.share-url-no-js {
  padding: $govuk-gutter-half;
  margin-top: $govuk-gutter-half;
  margin-bottom: $govuk-gutter;
  border: $thick-border solid;
  border-color: $warning-color;
}

body.js-enabled {
  .share-url {
    display: block;
  }
  .share-url-no-js {
    display: none;
  }
}