@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

@mixin sidebar-info-box-styles {
  background-color: helpers.govuk-colour('black', $variant: 'tint-95');
  margin-bottom: helpers.govuk-spacing(5);
  padding: helpers.govuk-spacing(6);

  @include helpers.govuk-media-query($until: tablet) {
    margin-top: helpers.govuk-spacing(5);
  }
}

.sidebar-info-box {
  @include sidebar-info-box-styles;
}
