@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.js-enabled {
  .sidebar-component {
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    border: 1px solid helpers.govuk-functional-colour(border);
    box-shadow: 1px 1px 2px helpers.govuk-colour('black', $variant: 'tint-80');
    display: none;
    max-height: 300px;
    opacity: 1;
    overflow: scroll;
    position: relative;

    @include helpers.govuk-media-query($from: desktop) {
      max-height: 380px;
    }

    &:focus {
      outline: helpers.$govuk-focus-width solid helpers.govuk-functional-colour(focus);
    }

    &--visible {
      background-color: helpers.govuk-colour('white');
      display: block;
      left: helpers.govuk-spacing(2);
      margin-right: helpers.govuk-spacing(2);
      position: absolute;
      top: helpers.govuk-spacing(2);
      width: 94%;
      z-index: 3000;

      @include helpers.govuk-media-query($from: desktop) {
        left: helpers.govuk-spacing(2);
        width: 46%;
      }
    }

    &__close {
      background-color: transparent;
      background-position: 2px 3px;
      border: 0;
      margin-bottom: 0;
      padding-left: helpers.govuk-spacing(4);
      position: absolute;
      right: 5px;
      top: 8px;

      &:focus {
        outline: helpers.$govuk-focus-width solid helpers.govuk-functional-colour(focus);
      }
    }

    &__content {
      min-height: 250px;
      padding: helpers.govuk-spacing(4) helpers.govuk-spacing(3) helpers.govuk-spacing(2);

      dl {
        margin-bottom: helpers.govuk-spacing(2);
      }

      dl,
      dd {
        display: block;
      }

      .govuk-list {
        margin-bottom: 0;
      }
    }
  }
}
