.signin {
  @media screen and (max-width: 524px) {
    display: none;
  }

  @include govuk-responsive-padding(2, "top");

  .govuk-button {
    margin-bottom: 0;
  }

  border-top: 5px solid $govuk-brand-colour;
}
