.sortable-links {
  @extend .govuk-body-s;
  margin-bottom: $govuk-gutter;
  a {
    margin: 0 4px;
    &.active {
      @include govuk-font(16, $weight: bold);
      text-decoration: none;
      &.sortby--asc:after {
        content: ' \25B4';
      }
      &.sortby--desc:after {
        content: ' \25BE';
      }
    }
  }
}