@import 'base';

.steps-component {
  margin-bottom: govuk-spacing(6);
  margin-top: govuk-spacing(6);

  @include govuk-media-query($until: tablet) {
    display: none;
  }

  &__steps {
    counter-reset: steps-counter;
    list-style: none;
    margin: 0;
    padding: 0;

    &::after {
      border-bottom: 2px solid $govuk-border-colour;
      content: '';
      display: block;
      height: 2px;
      margin-left: govuk-spacing(1);
      width: govuk-spacing(4);
    }
  }

  &__step {
    counter-increment: steps-counter;
    display: flex;
    padding-bottom: govuk-spacing(1);
    padding-top: govuk-spacing(3);
    position: relative;

    h3 {
      display: flex;
      margin-bottom: 0;

      @include govuk-media-query($until: tablet) {
        line-height: 1.6;
      }

      &::before {
        background-color: govuk-colour('white');
        border: 2px solid $govuk-border-colour;
        border-radius: 50%;
        content: counter(steps-counter);
        height: govuk-spacing(5);
        margin-right: govuk-spacing(2);
        min-width: govuk-spacing(5);
        text-align: center;
      }
    }

    &::after {
      background: $govuk-border-colour;
      content: '';
      height: 100%;
      left: 14px;
      position: absolute;
      top: 44px;
      width: 2px;
    }

    &::before {
      border-top: 1px solid govuk-colour('light-grey');
      content: '';
      left: govuk-spacing(7);
      position: absolute;
      top: 0;
      width: 80%;
    }

    &--current {
      h3 {
        &::before {
          background-color: govuk-colour('black');
          color: govuk-colour('white');
        }
      }

      &::after {
        background: govuk-colour('black');
      }
    }

    &--completed {
      h3 {
        &::before {
          background-color: govuk-colour('blue');
          color: govuk-colour('white');
        }
      }
    }

    &:last-of-type {
      padding-bottom: govuk-spacing(2);

      &::after {
        border-bottom: 2px solid $govuk-border-colour;
        bottom: govuk-spacing(2);
        height: calc(100% - 44px);
      }
    }

    &:first-of-type {
      &::before {
        border-top: 0;
        content: '';
      }
    }
  }
}
