@import 'base';

.supporting-document-component {
  margin-bottom: govuk-spacing(2);

  &:last-child {
    margin-bottom: 0;
  }

  &__link {
    margin-right: govuk-spacing(2);
    word-wrap: break-word;
  }
}
