@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

.supporting-document-component {
  margin-bottom: helpers.govuk-spacing(2);

  &:last-child {
    margin-bottom: 0;
  }

  &__link {
    margin-right: helpers.govuk-spacing(2);
    word-wrap: break-word;
  }
}
