@use 'base';
@use "govuk-frontend/dist/govuk/helpers";

.tabs-component {
  margin-bottom: helpers.govuk-spacing(4);

  @media print {
    display: none !important;
  }

  @include helpers.govuk-media-query ($from: desktop) {
    border-bottom: 1px solid helpers.govuk-functional-colour(border);
    margin-bottom: helpers.govuk-spacing(7);
  }

  .govuk-link {
    text-decoration: none;

    &:visited {
      color: helpers.govuk-functional-colour(link);
    }

    &:focus {
      color: helpers.govuk-functional-colour(focus-text);
    }
  }

  &-navigation {
    &__list {
      font-size: 0;
      list-style: none;
      padding: 0;
    }

    &__item {
      display: inline-block;
      font-size: 1rem;
      line-height: 1.25;
      margin-bottom: 0;
      margin-right: helpers.govuk-spacing(4);
      margin-top: 0;
    }

    &__link {
      @include helpers.govuk-font(19);

      display: block;
      font-weight: bold;
      padding-bottom: helpers.govuk-spacing(3);
      padding-top: helpers.govuk-spacing(3);
      position: relative;
      text-decoration: none;

      &:focus {
        padding-bottom: helpers.govuk-spacing(2);
      }

      &[aria-current] {
        &::before {
          background-color: helpers.govuk-colour('blue', $variant: 'tint-25');
          bottom: 0;
          content: '';
          display: block;
          height: helpers.govuk-spacing(1);
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}
