.vacancy {
  @include govuk-font(19);

  p {
    margin-top: 5px;
  }

  &--metadata {
    background-color: govuk-colour("grey-3");
    padding: $govuk-gutter-half;
    margin-top: $govuk-gutter*3;
    @include govuk-media-query($until: tablet) {
      margin-top: $govuk-gutter;
    }

    margin-bottom: $govuk-gutter;
    .vacancy-apply-link {
      margin-bottom: 0px;
    }

    dl {
      dt {
        @include govuk-font(19, $weight: bold);
      }
      dd {
        margin-left: 0;
        margin-bottom: $govuk-gutter-half;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  #map_zoom {
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }
}
