.vacancies {
  margin: 0;
  padding: 0;
  list-style: none;
  h2 {
    font-weight: 700;
    font-size: 22px;
  }
  p {
    margin-bottom: $gutter-half;
  }
  li {
    border-bottom: 1px solid $grey-3;
    padding-bottom: $gutter-half;
    margin-bottom: $gutter-half;
    dl {
      font-size: $small-font-size;
    }
    dt, dd {
      display: inline-block;
      padding-bottom: 3px;
    }
    dt {
      width: 25%;
      color: $secondary-text-colour;
      @include media(desktop) {
        width: 20%;
      }
    }
    dd {
      width: 50%;
      &.double {
        width: 70%;
      }
      @include media(desktop) {
        width: 25%;
      }
    }
  }
}
