.vacancy-form {

  .form-control {
    width: 100%;
    &.text {
      max-width: 100%;
    }
  }

  .salary_field {
    margin-bottom: 0px;

    @include clearfix;
    position: relative;
    .pound_sign {
      position: absolute;
        bottom: 13px;
        left: 8px;
    }

    &.govuk-form-group--error .pound_sign {
      left: 24px;
      bottom: 8px;
    }

    input {
      padding-left: 17px;
    }

    #job_specification_form_minimum_salary,
    #job_specification_form_maximum_salary {
      padding-left: 18px;
    }
  }

  p.value-to-value {
    margin: 9px 0;
  }
}
