.vacancies {
  margin: 0;
  padding: 0;
  list-style: none;
  h2 {
    font-weight: 700;
    font-size: 22px;
  }
  p {
    margin-bottom: $govuk-gutter-half;
  }
  li {
    border-bottom: 1px solid govuk-colour("grey-3");
    padding-bottom: $govuk-gutter-half;
    margin-bottom: $govuk-gutter-half;
    dl {
      @include govuk-font(16);
    }
    dt, dd {
      display: inline-block;
      padding-bottom: 3px;
    }
    dt {
      width: 25%;
      color: $govuk-secondary-text-colour;
      @include govuk-media-query($from: desktop) {
        width: 20%;
      }
    }
    dd {
      width: 50%;
      &.double {
        width: 60%;
      }
      @include govuk-media-query($from: desktop) {
        width: 20%;
      }
    }
  }
}
