= render "jobseekers/job_applications/review/personal_details", r: r
= render "jobseekers/job_applications/review/professional_status", r: r if job_application.ask_professional_status?
= render "jobseekers/job_applications/review/qualifications", r: r
= render "jobseekers/job_applications/review/employment_history", r: r
= render "jobseekers/job_applications/review/personal_statement", r: r
= render "jobseekers/job_applications/review/references", r: r
= render "jobseekers/job_applications/review/equal_opportunities", r: r
= render "jobseekers/job_applications/review/ask_for_support", r: r
= render "jobseekers/job_applications/review/declarations", r: r
