= render("jobseekers/job_applications/review/personal_details", r:)
= render("jobseekers/job_applications/review/professional_status", r:) if job_application.ask_professional_status?
= render("jobseekers/job_applications/review/qualifications", r:)
= render("jobseekers/job_applications/review/employment_history", r:)
= render("jobseekers/job_applications/review/personal_statement", r:)
= render("jobseekers/job_applications/review/references", r:)
= render("jobseekers/job_applications/review/equal_opportunities", r:)
= render("jobseekers/job_applications/review/ask_for_support", r:)
= render("jobseekers/job_applications/review/declarations", r:)
