= govuk_inset_text classes: "govuk-!-margin-top-3 govuk-!-margin-bottom-3", id: "employment-break-#{index}" do
  h2.govuk-heading-s class="govuk-!-margin-bottom-1" = t("jobseekers.job_applications.build.employment_history.break")
  p.govuk-hint class="govuk-!-margin-top-1 govuk-!-margin-bottom-1" #{gap[:started_on].to_fs(:month_year)} to #{gap[:ended_on].today? ? "present" : end_date(gap[:ended_on], index)}
