- content_for :page_title_prefix, t(".page_title")
- content_for :meta_no_index do
  meta name="robots" content="noindex,nofollow"

p.govuk-body class="govuk-!-display-none-print" = t(".print_instructions")

= render "print_header",
  applicant_name: @job_application_pdf.applicant_name,
  caption: @job_application_pdf.header_text,
  title: t(".page_title")

p.print-introduction = t("jobseekers.job_applications.show.consent_text")

= render "print_table_section",
  heading: t("jobseekers.job_applications.show.personal_details.heading"),
  rows: @job_application_pdf.personal_details

= render "print_table_section",
  heading: t("jobseekers.job_applications.show.professional_status.heading"),
  rows: @job_application_pdf.professional_status

= render "print_nested_section",
  groups: @job_application_pdf.qualifications,
  heading: t("jobseekers.job_applications.show.qualifications.heading")

= render "print_nested_section",
  groups: @job_application_pdf.training_and_cpds,
  heading: t("jobseekers.job_applications.show.training_and_cpds.heading")

= render "print_nested_section",
  groups: @job_application_pdf.professional_body_memberships,
  heading: t("jobseekers.job_applications.show.professional_body_memberships.heading")

= render "print_nested_section",
  groups: @job_application_pdf.employment_history,
  heading: t("jobseekers.job_applications.show.employment_history.heading")
