%banner {
  border: $thick-border solid;
  font-size: $large-font-size;
  font-weight: $bold-font-weight;
  margin-bottom: $govuk-gutter;
  margin-top: $govuk-gutter-half;
  padding: $govuk-gutter-half;
}

.banner {
  &-warning {
    @extend %banner;
    border-color: $warning-color;
    color: $warning-color;
  }
}
