.currency-input {
  position: relative;

  input {
    padding-left: 40px;
  }
}

.currency-input__symbol {
  @extend .govuk-input;
  background-color: govuk-colour('light-grey');
  font-weight: bold;
  padding: 9px 10px 0;
  position: absolute;
  width: auto;

  @include govuk-media-query($from: tablet) {
    padding-top: 6px;
  }
}
