.search-panel__button {
    width: 100%;
    
    @include govuk-media-query($from: desktop) {
      display: none;
    }
  }
  
.panel-component {
padding: govuk-spacing(3);
@include govuk-media-query($until: desktop) {
    display: none;
}

background-color: govuk-colour('light-grey');
overflow: hidden;

&:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
}

&.panel-component--show-mobile {
    display: block;

    @include govuk-media-query($until: desktop) {
    border: 1px solid govuk-colour('mid-grey');
    bottom: 5px;
    max-width: 320px;
    overflow-y: scroll;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 100;

    .panel-component--show-mobile-open {
        display: block;
    }
    }
}

&--show-mobile-open {
    display: none;
}

&__close-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;

    span {
    line-height: 1em;
    padding-left: govuk-spacing(4);
    }
}

&__heading {
    display: block;

    .govuk-heading-m {
    display: block;
    }

    &-container {
    position: relative;

    .govuk-heading-s {
        margin-bottom: govuk-spacing(2);
    }
    }
}
}