%h1.govuk-heading-l.mb0
  = t('schools.jobs.index', organisation: current_organisation.name)

= link_to t('buttons.create_job'), new_organisation_job_path, class: 'govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-4'
