$govuk-images-path: '/assets/';
$govuk-fonts-path: '/assets/';

@import 'govuk-frontend/all';
@import 'global/variables';
@import 'base/mixins';
@import 'base/utilities';
@import 'govuk_date_fields';
@import 'components/filter_vacancies';
@import 'components/vacancies';
@import 'components/vacancy';
@import 'components/vacancy-form';
@import 'components/banners';
@import 'components/school';
@import 'components/sortable_links';
@import 'components/flashes';
@import 'components/links';
@import 'components/share-url';
@import 'components/check_your_answers';
@import 'ie';

input[type='search'] {
  box-sizing: border-box;
}

p {
  @include govuk-font(19);
}