$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

// External dependencioes
@import 'accessible-autocomplete/dist/accessible-autocomplete.min';
@import 'govuk-frontend/govuk/all';
@import 'leaflet/dist/leaflet';
@import 'leaflet.markercluster/dist/MarkerCluster';
@import 'leaflet-gesture-handling/dist/leaflet-gesture-handling';

@import 'base/global';
@import 'base/govuk/components/accordion';
@import 'base/govuk/components/error-summary';
@import 'base/govuk/components/inset-text';
@import 'base/form';
@import 'base/grid';
@import 'base/icons';
@import 'base/mixins';
@import 'base/utilities';

@import 'layouts/footer';
@import 'layouts/header';
@import 'layouts/help-guide';

@import 'layouts/home/index';
@import 'layouts/pages/list-school-job';
@import 'layouts/posts/index';
@import 'layouts/subscriptions/new';
@import 'layouts/support_users/feedbacks';
@import 'layouts/updates/index';
@import 'layouts/vacancies/index';
@import 'layouts/vacancies/show';

// View Components
@import 'components/account_survey_link';
@import 'components/banner_button';
@import 'components/card';
@import 'components/cookies_banner';
@import 'components/dashboard';
@import 'components/detail';
@import 'components/editor';
@import 'components/empty_section';
@import 'components/environment_banner';
@import 'components/filters';
@import 'components/job_alert_link';
@import 'components/map';
@import 'components/sidebar';
@import 'components/navigation_list';
@import 'components/notification';
@import 'components/review';
@import 'components/searchable_collection';
@import 'components/sort';
@import 'components/steps';
@import 'components/supportal_table';
@import 'components/supporting_document';
@import 'components/tabs';
@import 'components/timeline';
@import 'components/error';

// JS Components
@import 'js_components/autocomplete';
@import 'js_components/loadingIndicator';
@import 'js_components/locationFinder';
@import 'js_components/manageQualifications';
@import 'js_components/panel';
@import 'js_components/uploadDocuments';
