$govuk-font-url-function: 'font-url';
$govuk-image-url-function: 'image-url';

@import 'base/frontend';
@import 'global/variables';
@import 'base/mixins';
@import 'base/utilities';
@import 'govuk_date_fields';
@import 'components/feedback_form';
@import 'components/filter_vacancies';
@import 'components/vacancies-count';
@import 'components/vacancies';
@import 'components/vacancy';
@import 'components/vacancy-form';
@import 'components/banners';
@import 'components/school';
@import 'components/sortable_links';
@import 'components/flashes';
@import 'components/links';
@import 'components/share-url';
@import 'components/check_your_answers';
@import 'components/pagination';
@import 'components/statistics';
@import 'components/navigation';
@import 'components/notification';
@import 'components/og-preview';
@import 'components/hiring-staff';
@import 'components/select';
@import 'components/tabs';
@import 'components/checkboxes';
@import 'ie';

input[type='search'] {
  box-sizing: border-box;
}

p {
  @include govuk-font(19);
}

.visually-hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}