.govuk-warning-text
  %span.govuk-warning-text__icon{"aria-hidden" => "true"} !
  %strong.govuk-warning-text__text
    %span.govuk-warning-text__assistive Warning
    = t('jobs.form_hints.pro_rata_warning')