.govuk-warning-text
  %span.govuk-warning-text__icon{"aria-hidden" => "true"} !
  %strong.govuk-warning-text__text{class: "govuk-!-font-weight-regular"}
    %span.govuk-warning-text__assistive Warning
    = t('jobs.form_warnings.working_pattern')
