@import 'base_component';
@import '../../frontend/src/styles/base/mixins';

.tabs-component {
  @include govuk-media-query ($from: desktop) {
    border-bottom: 1px solid $govuk-border-colour;
  }

  h2 {
    word-wrap: break-word;
  }

  .govuk-link {
    text-decoration: none;

    &:visited {
      color: $govuk-link-colour;

      &[aria-current] {
        color: govuk-colour('black');
      }
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  &-navigation {
    background: none;

    &__container {
      font-size: 0;
      margin: 0;
      text-align: justify;
    }

    &__nav {
      text-align: left;
    }

    &__list {
      font-size: 0;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      display: inline-block;
      font-size: 1rem;
      line-height: 1.25;
      margin-bottom: 0;
      margin-right: govuk-spacing(4);
      margin-top: 0;

      @include govuk-media-query ($until: desktop) {
        display: block;
        line-height: 1;
        margin-bottom: 0;
      }
    }

    &__link {
      @include govuk-font(19);

      display: block;
      font-weight: bold;
      padding-bottom: govuk-spacing(3);
      padding-top: govuk-spacing(3);
      position: relative;

      @include govuk-media-query ($until: desktop) {
        padding: govuk-spacing(2);
      }

      &[aria-current] {
        @include govuk-media-query ($until: desktop) {
          border-left: govuk-spacing(1) solid govuk-colour('light-blue');
        }

        &::before {
          background-color: govuk-colour('light-blue');
          bottom: 0;
          content: '';
          display: block;
          height: govuk-spacing(1);
          left: 0;
          position: absolute;
          width: 100%;

          @include govuk-media-query ($until: desktop) {
            background: none;
          }
        }
      }
    }
  }
}
