.account-header {
  background-color: govuk-colour('light-grey');
  padding: govuk-spacing(2) 0;

  @include govuk-media-query ($from: desktop) {
    padding: govuk-spacing(4) 0 0;
  }
}

.account-header__user-identifier {
  @include govuk-font(24);
  margin-bottom: govuk-spacing(3);
}

.account-sidebar {
  border-top: 5px solid $govuk-link-colour;
  margin-top: govuk-spacing(3);

  @include govuk-media-query ($from: desktop) {
    margin-top: 0;
  }
}

.account-sidebar__heading {
  @extend %govuk-heading-m;
  margin: govuk-spacing(3) 0;
}

.jobseekers_saved_jobs_index,
.jobseekers_subscriptions_index,
.jobseekers_accounts_show {
  .govuk-main-wrapper {
    @include dashboard;
  }
}
