.account-sidebar {
  border-top: 5px solid $govuk-link-colour;
  margin-top: govuk-spacing(3);

  @include govuk-media-query ($from: desktop) {
    margin-top: 0;
  }
}

.account-sidebar__heading {
  @extend %govuk-heading-m;
  margin: govuk-spacing(3) 0;
}
