.jobseeker {
  .create-alert__button {
    .govuk-button {
      margin-bottom: govuk-spacing(1);
    }
  }

  .moj-filter-layout__content {
    overflow-x: hidden;
  }

  &.jobseekers_job_applications_review {
    .govuk-grid-column-two-thirds {
      @media (max-width: 900px) {
        box-sizing: border-box;
        padding: 0 govuk-spacing(3);
        width: 100%;
      }
    }
  }
}

.location-search {
  .location-finder {
    display: block;
  }
}
