.jobs-banner {
  background-color: govuk-colour('light-grey');
  left: 50%;
  margin-bottom: govuk-spacing(6);
  margin-left: -50vw;
  padding-bottom: govuk-spacing(3);
  padding-top: govuk-spacing(1);
  position: relative;
  width: 100vw;
}
