.search-results__header {
  position: relative;

  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: row;
  }

  .govuk-form-group,
  .search-results__header__submit {
    flex-basis: 25%;
  }

  .autocomplete,
  .govuk-form-group {
    margin-right: govuk-spacing(2);
  }

  &--border {
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: govuk-spacing(6);

    .govuk-heading-m {
      display: none;
    }
  }

  &-stats {
    padding-top: 0.3em;

    @include govuk-media-query($until: tablet) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-sorting {
    @include govuk-media-query($from: tablet) {
      flex-grow: 1;
    }

    &__list {
      list-style: none;
      margin: 0 0 0 0.3125em;
      padding-left: govuk-spacing(0);

      @include govuk-media-query($from: tablet) {
        display: inline-block;
      }
    }

    &__list-item {
      display: inline-block;

      &:first-child::after {
        border-right: 1px solid $govuk-border-colour;
        content: '';
        display: inline-block;
        height: 1.2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        position: relative;
        top: 0.2em;
      }
    }
  }
}
