.search-panel-banner {
  background-color: $govuk-brand-colour;
  left: 50%;
  margin-bottom: govuk-spacing(6);
  margin-left: -50vw;
  padding-bottom: govuk-spacing(3);
  padding-top: govuk-spacing(1);
  position: relative;
  width: 100vw;

  h1,
  h2,
  label,
  p,
  .govuk-hint,
  .govuk-link,
  .govuk-link:not(:focus),
  .govuk-label.govuk-label--s,
  .js-location-finder__link {
    color: govuk-colour('white');

    .govuk-link {
      &:focus {
        color: $govuk-focus-text-colour;
      }
    }
  }
}

.search-panel {
  margin-bottom: govuk-spacing(5);
  margin-top: govuk-spacing(3);

  h1 {
    margin-bottom: govuk-spacing(3);
  }

  .govuk-button--start {
    background-position: top 0.6rem right 10px;
    padding-right: govuk-spacing(7);

  }

  a:focus {
    color: govuk-colour('black');
  }

  .govuk-details__summary:not(:focus) {
    color: govuk-colour('white');
  }

  .govuk-fieldset {
    label {
      color: govuk-colour('black');
    }
  }
}
