.search-results {
  &__controls {
    background-color: govuk-colour('light-grey');
    margin-bottom: govuk-spacing(6);
    padding: $govuk-gutter-half;

    @include govuk-media-query($from: tablet) {
      background-color: transparent;
      border-bottom: 1px solid $govuk-border-colour;
      column-gap: govuk-spacing(2);
      display: flex;
      flex-direction: row;
      padding: 0;

      .govuk-heading-m {
        display: none;
      }

      .govuk-form-group,
      .search-results__controls__submit {
        flex-grow: 1;
      }

      .govuk-hint {
        display: none;
      }
    }

    .govuk-select[name='radius'] {
      width: 100%;
    }
  }

  &__header {
    @include govuk-media-query($from: tablet) {
      align-items: center;
      column-gap: govuk-spacing(2);
      display: flex;
      flex-direction: row;

      &-stats,
      &-sorting {
        flex-grow: 1;
      }

      &-stats {
        text-align: right;
      }
    }
  }
}
