.sortable-link {
  &.active {
    &.sortby--asc::after {
      content: '\25B4';
      display: inline-block;
      padding-left: 0.2em;
    }

    &.sortby--desc::after {
      content: '\25BE';
      display: inline-block;
      padding-left: 0.2em;
    }
  }
}

.sortable-links {
  @extend .govuk-body-s;
  align-items: center;
  display: flex;

  a {
    @extend .sortable-link;
    margin: 0 4px;

    &.active {
      @include govuk-font(16, $weight: bold);
      text-decoration: none;
    }
  }

  form {
    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }
}

.sort-results {
  #vacancies-stats-top {
    flex-grow: 1;
    text-align: right;

    @media (min-width: 1020px) {
      float: right;
      margin-top: 0.5rem;
    }
  }
}
