.js-enabled {
  .subscription-card {
    &__frequency-form-submit {
      display: none;
    }
  }
}

.subscription-card {
  &__manage-alert-controls {
    align-items: center;
    display: flex;
    gap: govuk-spacing(3);
    margin-bottom: govuk-spacing(5);
    margin-top: govuk-spacing(5);

    .govuk-button {
      margin-bottom: 0;
    }

    .govuk-button,
    .govuk-link {
      @include govuk-media-query ($until: tablet) {
        width: 50%;
      }
    }
  }

  &__frequency-form {
    .govuk-radios {
      gap: govuk-spacing(3);
    }
  }
}

.create-alert__button {
  margin-bottom: 0;
  padding: 0 govuk-spacing(3);
  text-align: right;
}
