.vacancy {
  @include govuk-font(19);

  p {
    margin-top: 5px;
    overflow-wrap: break-word;
  }

  .vacancy__banner-links {
    .govuk-grid-column-one-third {
      @media only screen and (max-width: 1020px) {
        width: 100%;
      }
    }
  }

  .similar-jobs {
    .govuk-grid-row {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  .govuk-summary-list__value {
    .govuk-hint {
      display: block;
    }
  }
}
