.vacancy {
  @include govuk-font(19);

  p {
    margin-top: 5px;
    overflow-wrap: break-word;
  }

  .section-heading {
    border-bottom: 6px solid $govuk-border-colour;
    padding-bottom: govuk-spacing(2);
  }

  h4.share-this-job {
    margin-top: 0;
  }

  .govuk-tabs {
    margin-bottom: 0;
  }

  .vacancy-apply-link {
    margin-bottom: 0;
    width: auto;

    @media only screen and (max-width: 640px) {
      padding: 12px;
    }
  }

  .similar-jobs {
    .govuk-grid-row {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }
}
