.vacancies {
  list-style: none;
  margin: 0;
  padding: 0;

  h2 {
    font-size: 22px;
    font-weight: 700;
  }

  p {
    margin-bottom: $govuk-gutter-half;
  }

  li {
    border-bottom: 1px solid govuk-colour('light-grey');
    margin-bottom: $govuk-gutter-half;
    padding-bottom: $govuk-gutter-half;

    dl {
      @include govuk-font(16);
    }

    dt,
    dd {
      display: inline-block;
      padding-bottom: 5px;
      vertical-align: top;
    }

    dt {
      color: $govuk-secondary-text-colour;
      width: 25%;
      @include govuk-media-query($from: desktop) {
        width: 24%;
      }
    }

    dd {
      margin-left: 0;
      width: 50%;
      @include govuk-media-query($from: desktop) {
        width: 24%;
      }

      &.double {
        width: 60%;
      }
    }
  }
}
