.vacancy {
  @include govuk-font(19);

  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: $govuk-gutter-half;
  padding-bottom: $govuk-gutter-half;

  &:first-child {
    padding-top: $govuk-gutter-half;
  }

  dl {
    @include govuk-font(16);
    display: flex;
    margin: 0;
    width: 100%;
  }

  dt,
  dd {
    padding-bottom: govuk-spacing(1);
    vertical-align: top;
  }

  dt {
    flex-basis: 30%;
    font-weight: bold;
  }

  dd {
    flex-basis: 70%;
    margin-left: govuk-spacing(1);
  }
  

  p {
    margin-top: 5px;
    overflow-wrap: break-word;
  }

  .vacancy__banner-links {
    .govuk-grid-column-one-third {
      @media only screen and (max-width: 1020px) {
        width: 100%;
      }
    }
  }

  .govuk-summary-list__value {
    .govuk-hint {
      display: block;
    }
  }
}

.similar-jobs {
  .govuk-grid-row {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: govuk-spacing(2);
  }

  &__job {
    border-left: govuk-spacing(1) solid govuk-colour('orange');
    margin-bottom: govuk-spacing(4);
    padding-left: govuk-spacing(2);

    .govuk-link {
      @include govuk-font(19);
    }
  }
}
