- if @vacancy.organisations.many?
  = govuk_notification_banner title_text: t("banners.important"), classes: "govuk-!-margin-bottom-5" do
    = t("messages.jobs.multi_school_job_notification_html", organisation_type: organisation_type_basic(@vacancy.organisation))
