- content_for :page_title_prefix, "Statistics"

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.heading-large
      Statistics
    %p=t('stats.intro')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %ul.statistics
      - @audit_summary.each do |key, value|
        %li
          #{key}: #{value}
