- content_for :page_title_prefix, "Statistics"

.grid-row
  .column-two-thirds
    %h1.heading-large
      Statistics

.grid-row
  .column-two-thirds
    %ul
      - @audit_summary.each do |key, value|
        %li
          #{key}: #{value}
