- content_for :page_title_prefix, "Statistics"

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      Statistics
    %p=t('stats.intro')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %ul.govuk-list.statistics
      - @stats.each do |key, value|
        %li
          #{key}: #{value}
