= f.govuk_date_field :started_on,
  omit_day: true,
  hint: -> { t("helpers.hint.date", date: 15.months.ago.strftime("%m %Y")) }
= f.govuk_date_field :ended_on,
  omit_day: true,
  hint: -> { t("helpers.hint.date", date: 3.months.ago.strftime("%m %Y")) }
= f.govuk_text_area :reason_for_break, label: { size: "s" }, required: true
