.govuk-info-summary {
  @extend .govuk-error-summary;
  border-color: $govuk-link-colour;
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(3);
}

.govuk-info-summary__title {
  @extend .govuk-error-summary__title;
}

.govuk-info-summary__body {
  @extend .govuk-error-summary__body;

  > a.govuk-button {
    margin-right: govuk-spacing(3);
  }
}

.govuk-info-summary__dismiss-link {
  display: block;
  float: right;
}

.govuk-success-summary {
  @extend .govuk-error-summary;
  border-color: $govuk-success-colour;
}

.govuk-success-summary__dismiss-link {
  display: block;
  float: right;
}
