- if feedback.errors.any?
  #errors.govuk-error-summary{role: 'alert', tabindex: '-1'}
    %h2.govuk-heading-m.govuk-error-summary-heading
      = t('errors.feedback.errors_present')
    %ul.govuk-error-summary-list
      - feedback.errors.each do |attribute, error|
        %li= feedback.errors.full_message(attribute, error)
