= form.input :comment, as: :text,
             wrapper: :textarea,
             label: t('feedback.comment_label'),
             hint: t('feedback.comment_hint_text').html_safe,
             input_html: { class: 'form-control form-control-4-4', rows: '5' }

= render partial: 'shared/user_participation', locals: { f: form }
