name: Delete review app

on:
  pull_request:
    branches: [ main ]
    types: [closed]
    paths-ignore:
      - 'bigquery/**'
      - 'documentation/**'
      - 'terraform/common/**'
      - 'terraform/monitoring/**'
      - '**.md'

concurrency: workflow-Build-and-deploy-${{ github.ref }}

env:
  DOCKER_REPOSITORY: ghcr.io/dfe-digital/teaching-vacancies

jobs:
  delete-review-app:
    if: contains(github.event.pull_request.labels.*.name, 'deploy')
    name: Delete review app after deploy
    runs-on: ubuntu-20.04

    steps:
    - name: Set environment variables
      run: |
        ENVIRONMENT=review-pr-${{ github.event.number }}
        echo "ENVIRONMENT=${ENVIRONMENT}" >> $GITHUB_ENV
        echo "LINK_TO_RUN=https://github.com/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}" >> $GITHUB_ENV
        echo "LINK_TO_PR=https://github.com/${GITHUB_REPOSITORY}/pull/${{ github.event.number }}" >> $GITHUB_ENV
        echo "LINK_TO_APP=https://teaching-vacancies-${ENVIRONMENT}.london.cloudapps.digital" >> $GITHUB_ENV

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2
        role-to-assume: Deployments
        role-duration-seconds: 3600
        role-skip-session-tagging: true

    - name: Get SLACK_WEBHOOK From ParameterStore
      uses: marvinpinto/action-inject-ssm-secrets@latest
      with:
        ssm_parameter: /teaching-vacancies/github_action/infra/slack_webhook
        env_variable_name: SLACK_WEBHOOK

    - name: Get GIT_HUB_SERVICE_ACCOUNT_TOKEN From ParameterStore
      uses: marvinpinto/action-inject-ssm-secrets@latest
      with:
        ssm_parameter: /teaching-vacancies/github_action/infra/git_hub_service_account_token
        env_variable_name: GIT_HUB_SERVICE_ACCOUNT_TOKEN


    - name: check review status
      run: |
        HTTP_CODE=$(curl -o/dev/null -s -w "%{http_code}" https://teaching-vacancies-review-pr-${{ github.event.number }}.london.cloudapps.digital)
        echo "HTTP_CODE=$HTTP_CODE"  >> $GITHUB_ENV

    - name: Exit whole workflow if wait was not successful and review app is not up
      if: steps.wait_for_deployment.outputs.conclusion != 'success' && env.HTTP_CODE != '200'
      run: exit 1

    - uses: actions/checkout@v2
      name: Checkout Code

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1

    - name: Download fetch_config.rb
      shell: bash
      run: |
        echo "::group:: Download fetch_config.rb script"
        curl -s https://raw.githubusercontent.com/DFE-Digital/bat-platform-building-blocks/master/scripts/fetch_config/fetch_config.rb -o bin/fetch_config.rb
        chmod +x bin/fetch_config.rb
        echo "::endgroup::"

    - name: Validate secrets
      shell: bash
      run: |
        gem install aws-sdk-ssm --no-document
        bin/fetch_config.rb -s aws-ssm-parameter-path:/teaching-vacancies/dev/app -d quiet \
          && echo Data in /teaching-vacancies/dev looks valid

    - name: Terraform pin version
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.8

    - name: Terraform destroy (on PR closed)
      run: |
        export TF_VAR_environment=${{env.ENVIRONMENT}}
        terraform init -reconfigure -input=false -backend-config="key=review/review-pr-${{ github.event.number }}.tfstate"
        terraform destroy -var-file ../workspace-variables/review.tfvars.json -auto-approve
      working-directory: terraform/app

    - name: Delete Terraform Statefile
      run: ./bin/delete-state-file ${{ github.event.number }}

    - name: Post sticky pull request comment
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        message: |
          Review app <${{ env.LINK_TO_APP }}> was successfully deleted

    - name: Send failure message to twd_tv_dev channel
      if: failure()
      uses: rtCamp/action-slack-notify@v2.2.0
      env:
        SLACK_CHANNEL: twd_tv_dev
        SLACK_USERNAME: CI Deployment
        SLACK_ICON_EMOJI: ':cry:'
        SLACK_TITLE: Delete review app failure
        SLACK_MESSAGE: |
          Failed deletion of review app PR ${{ github.event.number }}
          See: <${{ env.LINK_TO_RUN }}|Workflow run> - <${{ env.LINK_TO_PR }}|Pull request> - <${{ env.LINK_TO_APP }}|Review app>
          <!channel>
        SLACK_WEBHOOK: ${{env.SLACK_WEBHOOK}}
        SLACK_COLOR: ${{ job.status }}
