name: Delete review app

on:
  pull_request:
    types: [closed, unlabeled]
    paths-ignore:
      - 'bigquery/**'
      - 'documentation/**'
      - 'terraform/common/**'
      - '**.md'
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'Pull Request number to delete (EG: 1234 for review-pr-1234)'
        required: true

# Wait until the Build And Deploy for the same PR is finished before starting this workflow.
# If triggered by a manual workflow dispatch with a PR number, builds the corresponding 'ref' to match the Build and Deploy
# concurrency group for that PR.
# For a closed or unlabeled PR, the 'ref' is available and matches the Build and deploy one.
# When the ref resolves to 'refs/heads/main' (somehow it happens sometimes), we want to allow concurrent runs, so we append
# the run ID to make it unique.
concurrency: workflow-Build-and-deploy-${{ (github.event_name == 'workflow_dispatch' && format('refs/pull/{0}/merge', github.event.inputs.pr_number)) || (github.event.pull_request && format('refs/pull/{0}/merge', github.event.pull_request.number)) || (github.ref != 'refs/heads/main' && github.ref) || format('skip-main-{0}', github.run_id) }}

permissions:
  id-token: write
  pull-requests: write

env:
  DOCKER_REPOSITORY: ghcr.io/dfe-digital/teaching-vacancies

jobs:
  delete-review-app:
    # Check if PR was closed with deploy label OR workflow was manually triggered OR deploy label was removed
    # Define conditions for triggering the job
    # 1. PR is closed and has the 'deploy' label
    # 2. Workflow is manually triggered
    # 3. 'deploy' label is removed from the PR
    if: >
      (github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, 'deploy')) ||
      github.event_name == 'workflow_dispatch' ||
      (github.event.action == 'unlabeled' && github.event.label.name == 'deploy')
    name: Delete review app
    runs-on: ubuntu-latest
    environment: review

    steps:
    - name: Set environment variables
      run: |
        PR_NUMBER=${{ github.event.inputs.pr_number || github.event.number }}
        ENVIRONMENT=review-pr-${PR_NUMBER}
        echo "PR_NUMBER=${PR_NUMBER}" >> $GITHUB_ENV
        echo "ENVIRONMENT=${ENVIRONMENT}" >> $GITHUB_ENV
        echo "LINK_TO_RUN=https://github.com/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}" >> $GITHUB_ENV
        echo "LINK_TO_PR=https://github.com/${GITHUB_REPOSITORY}/pull/${PR_NUMBER}" >> $GITHUB_ENV
        echo "LINK_TO_APP=https://teaching-vacancies-${ENVIRONMENT}.test.teacherservices.cloud" >> $GITHUB_ENV

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v6
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2
        role-to-assume: Deployments
        role-duration-seconds: 3600
        role-skip-session-tagging: true

    - name: Get secrets from AWS ParameterStore
      uses: dkershner6/aws-ssm-getparameters-action@v2
      with:
        parameterPairs: "/teaching-vacancies/github_action/infra/slack_webhook = SLACK_WEBHOOK"

    - uses: actions/checkout@v6
      name: Checkout Code

    - uses: google-github-actions/auth@v3
      with:
        project_id: teacher-vacancy-service
        workload_identity_provider: projects/689616473831/locations/global/workloadIdentityPools/teaching-vacancies/providers/teaching-vacancies

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1

    - name: Download fetch_config.rb
      shell: bash
      run: |
        echo "::group:: Download fetch_config.rb script"
        curl -s https://raw.githubusercontent.com/DFE-Digital/bat-platform-building-blocks/master/scripts/fetch_config/fetch_config.rb -o bin/fetch_config.rb
        chmod +x bin/fetch_config.rb
        echo "::endgroup::"

    - name: Validate secrets
      shell: bash
      run: |
        gem install aws-sdk-ssm --no-document
        bin/fetch_config.rb -s aws-ssm-parameter-path:/teaching-vacancies/dev/app -d quiet \
          && echo Data in /teaching-vacancies/dev looks valid

    - name: Terraform pin version
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.1

    - uses: DFE-Digital/github-actions/set-kubelogin-environment@master
      with:
        azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
        azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}

    - name: Terraform destroy (on PR closed)
      run: |
        make review ci terraform-app-destroy pr_id=${{env.PR_NUMBER}}

    - name: Delete Terraform Statefile
      run: ./bin/delete-state-file ${{env.PR_NUMBER}}

    - name: Post sticky pull request comment
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        message: |
          Review app <${{ env.LINK_TO_APP }}> was successfully deleted

    - name: Send failure message to twd_tv_dev channel
      if: failure()
      uses: rtCamp/action-slack-notify@v2.3.3
      env:
        SLACK_CHANNEL: twd_tv_dev
        SLACK_USERNAME: CI Deployment
        SLACK_ICON_EMOJI: ':cry:'
        SLACK_TITLE: Delete review app failure
        SLACK_MESSAGE: |
          Failed deletion of review app PR ${{env.PR_NUMBER}}
          See: <${{ env.LINK_TO_RUN }}|Workflow run> - <${{ env.LINK_TO_PR }}|Pull request> - <${{ env.LINK_TO_APP }}|Review app>
          <!channel>
        SLACK_WEBHOOK: ${{env.SLACK_WEBHOOK}}
        SLACK_COLOR: ${{ job.status }}
