name: Deploy App to Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        required: true
      tag:
        description: Docker tag
        required: true
      pr_id:
        description: Pull Request
        required: false

env:
 DOCKER_REPOSITORY: ghcr.io/dfe-digital/teaching-vacancies

jobs:

  deploy-app:
    name: Deploy ${{ github.event.inputs.tag }} to ${{ github.event.inputs.environment }}
    runs-on: ubuntu-20.04
    steps:

    - uses: DFE-Digital/github-actions/turnstyle@master
      name: Check workflow concurrency
      with:
        initial-wait-seconds: 12
        poll-interval-seconds: 20
        abort-after-seconds: 3600
        same-branch-only: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


    - uses: actions/checkout@v2
      name: Checkout Code

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2
        role-to-assume: Deployments
        role-duration-seconds: 3600
        role-skip-session-tagging: true

    - name: Pin Terraform version
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.8

    - name: Set environment variables for review
      if: startsWith(github.event.inputs.environment, 'review')
      run: |
        PARAMETER_STORE_ENVIRONMENT=dev
        TF_VAR_environment=${{ github.event.inputs.environment }}
        echo "DEPLOY_ENV=review" >> $GITHUB_ENV
        pr_id=${{ github.event.inputs.pr_id }}
        echo "pr_id=${pr_id}" >> $GITHUB_ENV
        echo "PARAMETER_STORE_ENVIRONMENT=${PARAMETER_STORE_ENVIRONMENT}" >> $GITHUB_ENV
        echo "TF_VAR_environment=${TF_VAR_environment}" >> $GITHUB_ENV

    - name: Set environment variables for non-review environments
      if: startsWith(github.event.inputs.environment, 'review') != true
      run: |
        PARAMETER_STORE_ENVIRONMENT=${{ github.event.inputs.environment }}
        DEPLOY_ENV=${{ github.event.inputs.environment }}
        echo "PARAMETER_STORE_ENVIRONMENT=${PARAMETER_STORE_ENVIRONMENT}" >> $GITHUB_ENV
        echo "DEPLOY_ENV=${DEPLOY_ENV}" >> $GITHUB_ENV
        CONFIRM_PRODUCTION=YES
        echo "CONFIRM_PRODUCTION=${CONFIRM_PRODUCTION}" >> $GITHUB_ENV

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1

    - name: Download fetch_config.rb
      shell: bash
      run: |
        echo "::group:: Download fetch_config.rb script"
        curl -s https://raw.githubusercontent.com/DFE-Digital/bat-platform-building-blocks/master/scripts/fetch_config/fetch_config.rb -o bin/fetch_config.rb
        chmod +x bin/fetch_config.rb
        echo "::endgroup::"

    # Validate secrets stored in parameter store to prevent terraform from exposing them in case of an issue
    - name: Validate secrets
      shell: bash
      run: |
        gem install aws-sdk-ssm --no-document
        bin/fetch_config.rb -s aws-ssm-parameter-path:/teaching-vacancies/${{ env.PARAMETER_STORE_ENVIRONMENT }}/app -d quiet \
          && echo Data in "/teaching-vacancies/${{ env.PARAMETER_STORE_ENVIRONMENT }}" looks valid

    - name: Deploy to environment
      run: |
        make ${{ env.DEPLOY_ENV }} ci tag=${{ github.event.inputs.tag }} terraform-app-apply
