name: Deploy App to Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        required: true
      tag:
        description: Docker tag
        required: true

env:
 DOCKERHUB_REPOSITORY: dfedigital/teaching-vacancies

jobs:
  turnstyle:
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
    - uses: softprops/turnstyle@v1
      name: Check workflow concurrency
      with:
        poll-interval-seconds: 20
        same-branch-only: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  deploy-app:
    name: Deploy ${{ github.event.inputs.tag }} to ${{ github.event.inputs.environment }}
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      name: Checkout Code

    - name: Pin Terraform version
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.13.5

    - name: Set environment variables for review
      if: ${{ startsWith(github.event.inputs.environment, 'review') }}
      run: |
        BACKEND_CONFIG=-backend-config="workspace_key_prefix=review:"
        PARAMETER_STORE_ENVIRONMENT=dev
        TF_VAR_environment=${{ github.event.inputs.environment }}
        VAR_FILE=review
        echo "BACKEND_CONFIG=${BACKEND_CONFIG}" >> $GITHUB_ENV
        echo "PARAMETER_STORE_ENVIRONMENT=${PARAMETER_STORE_ENVIRONMENT}" >> $GITHUB_ENV
        echo "TF_VAR_environment=${TF_VAR_environment}" >> $GITHUB_ENV
        echo "VAR_FILE=${VAR_FILE}" >> $GITHUB_ENV

    - name: Set environment variables for non-review environments
      if: ${{ !startsWith(github.event.inputs.environment, 'review') }}
      run: |
        PARAMETER_STORE_ENVIRONMENT=${{ github.event.inputs.environment }}
        VAR_FILE=${{ github.event.inputs.environment }}
        echo "PARAMETER_STORE_ENVIRONMENT=${PARAMETER_STORE_ENVIRONMENT}" >> $GITHUB_ENV
        echo "VAR_FILE=${VAR_FILE}" >> $GITHUB_ENV

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1

    - name: Validate secrets
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: eu-west-2
      run: |
        gem install aws-sdk-ssm --no-document
        bin/run-in-env -t /teaching-vacancies/${{ env.PARAMETER_STORE_ENVIRONMENT }} -o quiet \
          && echo Data in /teaching-vacancies/${{ env.PARAMETER_STORE_ENVIRONMENT }} looks valid

    - name: Deploy to environment
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TF_VAR_paas_user: ${{ secrets.CF_USERNAME }}
        TF_VAR_paas_password: ${{ secrets.CF_PASSWORD }}
      run: |
        export TF_VAR_paas_app_docker_image=${{ env.DOCKERHUB_REPOSITORY }}:${{ github.event.inputs.tag }}
        terraform init -reconfigure -input=false ${{ env.BACKEND_CONFIG }}
        terraform workspace select ${{ github.event.inputs.environment }} || terraform workspace new ${{ github.event.inputs.environment }}
        terraform apply -var-file ../workspace-variables/${{ env.VAR_FILE }}.tfvars -auto-approve -input=false
      working-directory: terraform/app
