name: Replace Postgres Database

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        default: qa
        required: true

env:
 DOCKER_REPOSITORY: ghcr.io/dfe-digital/teaching-vacancies

jobs:

  replace-postgres-DB-and-apps:
    name: Replace PostgresDB and apps in ${{ github.event.inputs.environment }} environment
    runs-on: ubuntu-20.04
    concurrency: workflow-${{ github.ref }}
    steps:

    - uses: actions/checkout@v2
      name: Checkout Code

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2
        role-to-assume: Deployments
        role-duration-seconds: 3600
        role-skip-session-tagging: true

    - name: Pin Terraform version
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.15.5

    - name: Set environment variables for non-review environments
      run: |
        PARAMETER_STORE_ENVIRONMENT=${{ github.event.inputs.environment }}
        echo "PARAMETER_STORE_ENVIRONMENT=${PARAMETER_STORE_ENVIRONMENT}" >> $GITHUB_ENV

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1

    - name: Download fetch_config.rb
      shell: bash
      run: |
        echo "::group:: Download fetch_config.rb script"
        curl -s https://raw.githubusercontent.com/DFE-Digital/bat-platform-building-blocks/master/scripts/fetch_config/fetch_config.rb -o bin/fetch_config.rb
        chmod +x bin/fetch_config.rb
        echo "::endgroup::"

    # Validate secrets stored in parameter store to prevent terraform from exposing them in case of an issue
    - name: Validate secrets
      shell: bash
      run: |
        gem install aws-sdk-ssm --no-document
        bin/fetch_config.rb -s aws-ssm-parameter-path:/teaching-vacancies/${{ env.PARAMETER_STORE_ENVIRONMENT }}/app -d quiet \
          && echo Data in "/teaching-vacancies/${{ env.PARAMETER_STORE_ENVIRONMENT }}" looks valid

    - name: Deploy to environment
      if: ${{ github.event.inputs.environment }} != "production"
      run: |
        make ${{ github.event.inputs.environment }} ci terraform-app-database-replace CONFIRM_REPLACE=yes
