name: Smoke Test workflow

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  smoke-test:
    name: Smoke Test Production
    env:
      RAILS_ENV: test
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Trigger Smoke Test action
        id: smoke-test
        uses: ./.github/actions/smoke-test/
        with:
          aks_environment: 'production'
          event_name: ${{ github.event_name }}

      - name: Slack notification
        if: steps.smoke-test.conclusion != 'success'
        uses: rtCamp/action-slack-notify@v2.3.3
        env:
          SLACK_CHANNEL: twd_tv_dev
          SLACK_COLOR: 'red'
          SLACK_USERNAME: Smoke Test
          SLACK_ICON_EMOJI: ':cry:'
          SLACK_TITLE: Smoke test failed
          SLACK_MESSAGE: 'Smoke test failure in ${{ env.AKS_ENVIRONMENT}} environment <!channel>'
          SLACK_WEBHOOK: ${{env.SLACK_WEBHOOK}}
