name: Smoke Test

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  smoke-test:
    name: Run production website smoke test

    runs-on: ubuntu-20.04

    env:
      RAILS_ENV: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby 2.7
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Set up ruby gem cache
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 20 --retry 3

      - name: Set up Node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '12.x'

      - name: Run smoke test
        run: bundle exec rspec spec/smoke_tests/job_seekers_can_view_homepage_production_spec.rb --tag smoke_test

      - name: Slack notification
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2.1.0
        env:
          SLACK_CHANNEL: twd_tv_dev
          SLACK_USERNAME: Smoke Test
          SLACK_ICON_EMOJI: ':cry:'
          SLACK_TITLE: Smoke test failed
          SLACK_MESSAGE: 'Production website smoke test has failed @channel'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
