name: Smoke Test

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
    inputs:
      sha:
        description: GitHub SHA
        required: true
      paas_environment:
        default: 'production'
        required: true
        description: Environment to test

jobs:
  smoke-test:

    name: Smoke Test ${{ github.event.inputs.paas_environment }} ${{ github.event.inputs.sha }}

    runs-on: ubuntu-20.04

    env:
      RAILS_ENV: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Prepare application environment
        uses: ./.github/actions/prepare-app-env

      - name: set environment (scheduled smoke test)
        if: ${{ github.event_name == 'schedule' }}
        run: echo "PAAS_ENVIRONMENT=production" >> $GITHUB_ENV

      - name: set environment (workflow dispatch)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          echo "PAAS_ENVIRONMENT=${{ github.event.inputs.paas_environment }}" >> $GITHUB_ENV

      - name: Run deployment smoke test
        run:  bundle exec rspec spec/smoke_tests/jobseekers_can_view_homepage_spec.rb --tag smoke_test

      - name: print environment
        run: echo ${{ env.PAAS_ENVIRONMENT}}

      - name: Slack notification
        if: failure()
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_CHANNEL: twd_tv_dev
          SLACK_COLOR: 'red'
          SLACK_USERNAME: Smoke Test
          SLACK_ICON_EMOJI: ':cry:'
          SLACK_TITLE: Smoke test failed
          SLACK_MESSAGE: 'Smoke test failure in ${{ env.PAAS_ENVIRONMENT}} environment <!channel>'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
