.cookies-banner{ aria: { label: t("cookies_banner.aria_label") }, role: "region" }
  .govuk-width-container
    %h3.govuk-heading-s{ class: "govuk-!-margin-bottom-2" }= t("cookies_banner.heading")
    %p.govuk-body= t("cookies_banner.body")
    %button.govuk-button{ class: "govuk-!-margin-right-2 govuk-!-margin-bottom-3" }= t("cookies_banner.buttons.accept_all")
    %button.govuk-button.govuk-button--secondary{ class: "govuk-!-margin-bottom-3" }= t("cookies_banner.buttons.set_preferences")
