/ Unlike local assets, these require the `images/` path as it's the parent directory from the
/ NPM package that gets added to the asset path
link href="/favicon.ico" rel="shortcut icon" type=nil sizes="48x48"
link href="/assets/images/favicon-5a96427b.svg" rel="icon" type="image/svg+xml" sizes="any"
link href="/assets/images/govuk-icon-mask-70c35cce.svg" rel="mask-icon" color="#0b0c0c" type=nil
link href="/assets/images/govuk-icon-180-685b6da0.png" rel="apple-touch-icon" type=nil
