meta charset="utf-8"
meta name="description" content=meta_description
= content_for :meta_no_index

meta content=request.original_url property="og:url"
meta content="article" property="og:type"
meta content="#{content_for(:page_title_prefix).strip}" property="og:title"
meta content=meta_description property="og:description"
meta content=URI.join(root_url, asset_pack_path("media/images/og_image.jpg")) property="og:image"

meta content="width=device-width, initial-scale=1" name="viewport"
meta content="#0B0C0C" name="theme-color"
meta content=asset_pack_path("media/images/govuk-opengraph-image.png") property="og:image"
