= javascript_tag(nonce: true) do
  | window.sentryConfig = { dsn: "#{ENV.fetch("SENTRY_FRONTEND_DSN", nil)}",  environment: "#{Rails.application.config.app_role}", release: "#{ENV.fetch("COMMIT_SHA", nil)}" };
