- unless cookies_preference_set?
  = govuk_skip_link(href: "#cookie-consent", text: t("app.skip_link.cookie"))
= govuk_skip_link(href: "#main-content", text: t("app.skip_link.main"))
= content_for :skip_links
